{% extends 'base-detail.html' %}
{% load fhutils besoins %}

{% block panel-head %}
<div>Apprendre, se renseigner</div>
{{ block.super }}
{% endblock %}

{% block panel-body %}
<table class="fieldvalues apprendre">
    <tr><td width="20%"><b>Se soigner, gérer sa santé</b><hr></td>
        <td width="10%"></td><td width="35%"></td><td width="35%"></td></tr>

    <tr><th>Suivre un traitement :</th><th></th><th>Divers</th><th>Mesures de prévention</th></tr>
    <tr><td>Médicamenteux</td>
        <td>{% display_field 'appr_traitement_medic' %}</td>
        <td rowspan="12">{% display_field 'appr_divers' %}</td>
        <td rowspan="12">{% display_field 'appr_mesures_prev' %}</td>
    </tr>
    <tr><td>Maintenir le traitement</td>
        <td>{% display_field 'appr_traitement_maintenir' %}</td>
    </tr>
    <tr><td>Contrôler le traitement</td>
        <td>{% display_field 'appr_traitement_controle' %}</td>
    </tr>

    <tr><th>Maintenir et contrôler :</th>
    <tr><td>Son poids</td>
        <td>{% display_field 'appr_poids' %}</td>
    </tr>

    <tr><th>Assumer :</th>
    <tr><td>Un traitement</td>
        <td>{% display_field 'appr_un_traitement' %}</td>
    </tr>
    <tr><td>Un soin</td>
        <td>{% display_field 'appr_soin' %}</td>
    </tr>

    <tr><th>Connaître et comprendre :</th>
    <tr><td>Son traitement</td>
        <td>{% display_field 'appr_traitement' %}</td>
    </tr>
    <tr><td>Sa maladie</td>
        <td>{% display_field 'appr_maladie' %}</td>
    </tr>
    <tr><td>Apprendre à se soigner</td>
        <td>{% display_field 'appr_soigner' %}</td>
    </tr>
</table>
{% endblock %}
