{% extends 'base-detail.html' %}

{% block panel-body %}
<div class="cvie-container">
    <div>Naviguez dans les différents onglets pour modifier les contenus.</div>
    <a class="button" href="{% url 'person-cartedevie' person_id %}">Télécharger la carte de vie</a>
</div>
<div class="cvie-container">
    <img src="{% url 'person-cartedevie-png' person_id 1 %}" class="cvie-preview">
    <img src="{% url 'person-cartedevie-png' person_id 2 %}" class="cvie-preview">
    <img src="{% url 'person-cartedevie-png' person_id 3 %}" class="cvie-preview">
    <img src="{% url 'person-cartedevie-png' person_id 4 %}" class="cvie-preview">
</div>
{% endblock %}
