{% extends 'base-detail.html' %}
{% load fhutils besoins %}

{% block panel-head %}
<div>Communiquer - se comporter - s'orienter</div>
{{ block.super }}
{% endblock %}

{% block panel-body %}
<a href="{% url 'person-cartedevie' object.person_id %}">
    <img src="{% url 'person-cartedevie-png' object.person_id 3 %}" class="cvie-preview">
</a>

<table class="fieldvalues">
    <tr><th>{% display_label_besoins 'communiquer_general' %}</th>
        <td>{% display_field 'communiquer_general' %}</td>
    </tr>
    <tr><th>{% display_label_besoins 'communiquer_ouie' %}</th>
        <td>{% display_field 'communiquer_ouie' %}</td>
    </tr>
    <tr><th>{% display_label_besoins 'communiquer_langage' %}</th>
        <td>{% display_field 'communiquer_langage' %}</td>
    </tr>
</table>

<table class="fieldvalues">
    <!--tr><th>Altération de la mémoire</th>
        <td>?? cf questions</td>
    </tr-->
    <tr><th>{% display_label_besoins 'communiquer_vue' %}</th>
        <td>{% display_field 'communiquer_vue' %}</td>
    </tr>
</table>

<table class="fieldvalues">
    <tr><th>{% display_label_besoins 'communiquer_commentaires' %}</th>
        <td colspan="2">{% display_field 'communiquer_commentaires' %}</td>
    </tr>
</table>

<div class="block">
<table class="fieldvalues communiquer">
    <tr><td></td>
        <td></td>
        <td><b>Commentaires</b></td>
    </tr>
    <tr><th><label>Communication :</label></th>
        <td>{% if not is_form %}<div class="id_communication">{% endif %}
        {% display_field 'communication' 'unwrapped' %}
        {% if not is_form %}</div>{% endif %}
        </td>
        <td>{% display_field 'communication_commentaires' %}</td>
    </tr>
    <tr><th><label>Comportement :</label></th>
        <td>{% if not is_form %}<div class="id_comportement">{% endif %}
        {% display_field 'comportement' 'unwrapped' %}
        {% if not is_form %}</div>{% endif %}</td>
        <td>{% display_field 'comportement_commentaires' %}</td>
    </tr>
    <tr><th><label>Collaboration :</label></th>
        <td>{% if not is_form %}<div class="id_collaboration">{% endif %}
        {% display_field 'collaboration' 'unwrapped' %}
        {% if not is_form %}</div>{% endif %}</td>
        <td>{% display_field 'collaboration_commentaires' %}</td>
    </tr>
</table>
</div>

<div class="impotence">
    <button class="impotence">AI</button>
    <table class="impotence">
        <tr><th>Établir des contacts avec l'entourage, besoin d'aide pour :</th><th></th><th>Depuis quand ?</th><th>Genre d'aide apportée</th><th>Précision</th></tr>
        {% display_impotence 'depl_contact' %}
    </table>
</div>
{% endblock %}
