{% extends 'base-detail.html' %}
{% load fhutils besoins %}

{% block panel-head %}
<div>Agir selon ses croyances</div>
{{ block.super }}
{% endblock %}

{% block panel-body %}
<table class="fieldvalues" style="margin-left: 4em;">
    <tr><th><label>Confession</label></th>
        <td><div class="field-content inline">{{ object.person|format_field:'confession' }}</div>
            <label>Pratiquant :</label> <div class="field-content inline">{{ object.person|format_field:'pratiquant' }}</div>
        </td>
    </tr>
    <tr><th>{% display_label_besoins 'croyances_habitudes' %}</th>
        <td>{% display_field 'croyances_habitudes' %}</td>
    </tr>
    <tr><th>{% display_label_besoins 'croyances_accompagnement' %}</th>
        <td>{% display_field 'croyances_accompagnement' %}</td>
    </tr>
    <tr><th>{% display_label_besoins 'croyances_directives' %}</th>
        <td>{% display_field 'croyances_directives' %}</td>
    </tr>
    <tr><th>{% display_label_besoins 'croyances_representant' %}</th>
        <td>{% display_field 'croyances_representant' %}</td>
    </tr>
    <tr><th>{% display_label_besoins 'croyances_divers' %}</th>
        <td>{% display_field 'croyances_divers' %}</td>
    </tr>
</table>
{% endblock %}
