{% extends 'base-detail.html' %}
{% load fhutils besoins %}

{% block panel-head %}
<div>Éliminer</div>
{{ block.super }}
{% endblock %}

{% block panel-body %}
<a href="{% url 'person-cartedevie' object.person_id %}">
    <img src="{% url 'person-cartedevie-png' object.person_id 3 %}" class="cvie-preview">
</a>
<table class="fieldvalues" style="margin-left: 4em;">
    <tr><th>{% display_label_besoins 'eliminer_incontinence' %}</th>
        <td>{% display_field 'eliminer_incontinence' %}</td>
    </tr>
    <tr><th>{% display_label_besoins 'eliminer_transferts' %}</th>
        <td>{% display_field 'eliminer_transferts' %}</td>
    </tr>
    <tr><th>{% display_label_besoins 'eliminer_moyens' %}</th>
        <td>{% display_field 'eliminer_moyens' %}</td>
    </tr>
    <tr><th>{% display_label_besoins 'eliminer_medication' %}</th>
        <td>{% display_field 'eliminer_medication' %}</td>
    </tr>
    <tr><th>{% display_label_besoins 'eliminer_protections' %}</th>
        <td>{% display_field 'eliminer_protections' %}</td>
    </tr>
    <tr><th>{% display_label_besoins 'eliminer_divers' %}</th>
        <td>{% display_field 'eliminer_divers' %}</td>
    </tr>
</table>

<div class="impotence">
    <button class="impotence">AI</button>
    <table class="impotence">
        <tr><th>Aller aux toilettes, besoin d'aide pour :</th><th></th><th>Depuis quand ?</th><th>Genre d'aide apportée</th><th>Précision</th></tr>
        {% display_impotence 'wc_ordrehab' %}
        {% display_impotence 'wc_propr' %}
        {% display_impotence 'wc_habituel' %}
    </table>
</div>
{% endblock %}
