{% extends 'base-detail.html' %}
{% load fhutils besoins %}

{% block panel-head %}
<div>Être propre</div>
{{ block.super }}
{% endblock %}

{% block panel-body %}
<a href="{% url 'person-cartedevie' object.person_id %}">
    <img src="{% url 'person-cartedevie-png' object.person_id 1 %}" class="cvie-preview">
</a>
<table class="fieldvalues" style="margin-left: 4em;">
    <tr><td></td><td><b>Fréquence</b><hr></td></tr>
    <tr>
        <th>{% display_label_besoins 'hygiene_toilette' %}</th>
        <td>{% display_field 'hygiene_toilette' %}</td>
    </tr>
    <tr>
        <th>{% display_label_besoins 'hygiene_bain_douche' %}</th>
        <td>{% display_field 'hygiene_bain_douche' %}</td>
    </tr>
    <tr>
        <th>{% display_label_besoins 'hygiene_cheveux' %}</th>
        <td>{% display_field 'hygiene_cheveux' %}</td>
    </tr>
    <tr>
        <th>{% display_label_besoins 'hygiene_dents' %}</th>
        <td>{% display_field 'hygiene_dents' %}</td>
    </tr>
    <tr>
        <th>{% display_label_besoins 'hygiene_coiffer' %}</th>
        <td>{% display_field 'hygiene_coiffer' %}</td>
    </tr>
    <tr>
        <th>{% display_label_besoins 'hygiene_divers' %}</th>
        <td>{% display_field 'hygiene_divers' %}</td>
    </tr>
    <tr>
        <th>{% display_label_besoins 'hygiene_peau' %}</th>
        <td>{% display_field 'hygiene_peau' %}</td>
    </tr>
</table>

<div class="impotence">
    <button class="impotence">AI</button>
    <table class="impotence">
        <tr><th>Faire sa toilette, besoin d'aide pour :</th><th></th><th>Depuis quand ?</th><th>Genre d'aide apportée</th><th>Précision</th></tr>
        {% display_impotence 'laver' %}
        {% display_impotence 'peigner' %}
        {% display_impotence 'raser' %}
        {% display_impotence 'baigner' %}
    </table>
</div>
{% endblock %}
