{% extends 'base-detail.html' %}
{% load fhutils besoins %}

{% block panel-head %}
<div>Se mouvoir - maintenir une bonne posture</div>
{{ block.super }}
{% endblock %}

{% block panel-body %}
<a href="{% url 'person-cartedevie' object.person_id %}">
    <img src="{% url 'person-cartedevie-png' object.person_id 2 %}" class="cvie-preview">
</a>
<table class="fieldvalues" style="margin-left: 4em;">
    <tr><td>{% display_label_besoins 'motricite_probleme' %}
            {% display_field 'motricite_probleme' %}</td>
        <td>{% display_label_besoins 'motricite_probleme_prec' %}
            {% display_field 'motricite_probleme_prec' %}</td>
    </tr>
    <tr><th>{% display_label_besoins 'motricite_deplacements' %}</th>
        <td>{% display_field 'motricite_deplacements' %}</td>
    </tr>
    <tr><th>{% display_label_besoins 'motricite_transferts' %}</th>
        <td>{% display_field 'motricite_transferts' %}</td>
    </tr>
    <tr><th>{% display_label_besoins 'motricite_mobiliser' %}</th>
        <td>{% display_field 'motricite_mobiliser' %}</td>
    </tr>
</table>

<div class="impotence">
    <button class="impotence">AI</button>
    <table class="impotence">
        <tr><th>Se déplacer, besoin d'aide pour :</th><th></th><th>Depuis quand ?</th><th>Genre d'aide apportée</th><th>Précision</th></tr>
        {% display_impotence 'depl_maison' %}
        {% display_impotence 'depl_ext' %}
    </table>
</div>
{% endblock %}
