{% extends 'base-detail.html' %}
{% load fhutils besoins %}

{% block panel-head %}
<div class="line-item"><b>Alimentation</b></div>
<div class="line-item">Diagnostic : {% display_field 'diagnostic' %}</div>
{{ block.super }}
{% endblock %}

{% block panel-body %}

<div class="nourrir">
<a href="{% url 'person-cartedevie' object.person_id %}">
    <img src="{% url 'person-cartedevie-png' object.person_id 4 %}" class="cvie-preview">
</a>
<table><tr>
    <td>{% display_label_besoins 'problemes' %} {% display_field 'problemes' %}</td>
    <td><span class="red">{% display_label_besoins 'allergies' %}</span> {% display_field 'allergies' %}</td>
</tr></table>

<h3 class="alim-subtitle">Besoins</h3>
<div class="block">{% display_label_besoins 'regimes' %} {% display_field 'regimes' %}</div>
<div class="block">{% display_label_besoins 'portions' %} {% display_field 'portions' %}</div>
<div class="block">{% display_label_besoins 'protheses' %} {% display_field 'protheses' %}</div>
<div class="block">{% display_label_besoins 'aide_alim' %} {% display_field 'aide_alim' %}</div>
<div class="block">{% display_label_besoins 'aide_hydr' %} {% display_field 'aide_hydr' %}</div>
<div class="block">{% display_label_besoins 'moyens_aux' %} {% display_field 'moyens_aux' %}</div>
<div class="block">{% display_label_besoins 'complements' %} {% display_field 'complements' %}</div>
<table>
    <tr><td><span class="smile">☺</span> {% display_label_besoins 'desirs' %}</td>
        <td>{% display_field 'desirs' %}</td>
    </tr>
    <tr><td><span class="sad">☹</span> {% display_label_besoins 'naimepas' %}</td>
        <td>{% display_field 'naimepas' %}</td>
    </tr>
</table>

<h3 class="alim-subtitle">Goûts et préférences du petit déjeûner</h3>
<div class="block">{% display_label_besoins 'boissons' %} {% display_field 'boissons' %}</div>
<div class="block">{% display_label_besoins 'aliments' %} {% display_field 'aliments' %}</div>
<div class="block">{% display_label_besoins 'accompagnements' %} {% display_field 'accompagnements' %}</div>
<div class="block">{% display_label_besoins 'mat_grasses' %} {% display_field 'mat_grasses' %}</div>
<div class="divers">{% display_label_besoins 'divers' %} {% display_field 'divers' %}</div>
</div>

<div class="impotence">
    <button class="impotence">AI</button>
    <table class="impotence">
        <tr><th>Manger (repas préparés normalement), besoin d'aide pour :</th><th></th>
            <th>Depuis quand ?</th><th>Genre d'aide apportée</th><th>Précision</th></tr>
        {% display_impotence 'manger_lit' %}
        {% display_impotence 'couper_alim' %}
        {% display_impotence 'porter_bouche' %}
        {% display_impotence 'alim_spec' %}
    </table>
</div>
{% endblock %}
