{% extends 'base-detail.html' %}
{% load fhutils besoins %}

{% block panel-head %}
<div>S'intégrer - participer - se récréer</div>
{{ block.super }}
{% endblock %}

{% block panel-body %}
<table class="fieldvalues">
    <tr><td></td><td><b>Habitudes socioculturelles</b><hr></td></tr>
    <tr><th>{% display_label_besoins 'soccuper_travail_ext' %}</th>
        <td>{% display_field 'soccuper_travail_ext' %}</td>
    </tr>
    <tr><th>{% display_label_besoins 'soccuper_ateliers_foyer' %}</th>
        <td>{% display_field 'soccuper_ateliers_foyer' %}</td>
    </tr>
    <tr><th>{% display_label_besoins 'soccuper_loisirs' %}</th>
        <td>{% display_field 'soccuper_loisirs' %}</td>
    </tr>
    <tr><th>{% display_label_besoins 'soccuper_vacances' %}</th>
        <td>{% display_field 'soccuper_vacances' %}</td>
    </tr>
    <tr><th>{% display_label_besoins 'soccuper_camp_foyer' %}</th>
        <td>{% display_field 'soccuper_camp_foyer' %}</td>
    </tr>
    <tr><th>{% display_label_besoins 'soccuper_animations_foyer' %}</th>
        <td>{% display_field 'soccuper_animations_foyer' %}</td>
    </tr>
    <tr><th>{% display_label_besoins 'soccuper_divers' %}</th>
        <td>{% display_field 'soccuper_divers' %}</td>
    </tr>
</table>
{% endblock %}
