{% extends 'base-detail.html' %}
{% load fhutils besoins %}

{% block panel-head %}
<div>Se coucher - dormir - se lever</div>
{{ block.super }}
{% endblock %}

{% block panel-body %}
<a href="{% url 'person-cartedevie' object.person_id %}">
    <img src="{% url 'person-cartedevie-png' object.person_id 4 %}" class="cvie-preview">
</a>
<table class="fieldvalues" style="margin-left: 4em;">
    <tr><th>{% display_label_besoins 'reposer_sieste' %}</th>
        <td>{% display_field 'reposer_sieste' %}</td>
    </tr>
    <tr><th>{% display_label_besoins 'reposer_lit' %}</th>
        <td>{% display_field 'reposer_lit' %}</td>
    </tr>
    <tr><th>{% display_label_besoins 'reposer_matelas' %}</th>
        <td>{% display_field 'reposer_matelas' %}</td>
    </tr>
    <tr><th>{% display_label_besoins 'reposer_divers' %}</th>
        <td>{% display_field 'reposer_divers' %}</td>
    </tr>
</table>

<div class="impotence">
    <button class="impotence">AI</button>
    <table class="impotence">
        <tr><th>Besoin d'aide pour :</th><th></th><th>Depuis quand ?</th><th>Genre d'aide apportée</th><th>Précision</th></tr>
        {% display_impotence 'lever' %}
    </table>
</div>
{% endblock %}
