{% extends 'base-detail.html' %}
{% load fhutils besoins %}

{% block panel-head %}
<div>Respirer</div>
{{ block.super }}
{% endblock %}

{% block panel-body %}
<a href="{% url 'person-cartedevie' object.person_id %}">
    <img src="{% url 'person-cartedevie-png' object.person_id 3 %}" class="cvie-preview">
</a>

<table class="fieldvalues" style="margin-left: 4em;">
    <tr><th class="left">Respiration</th><th class="left">Commentaires</th></tr>
    <tr><td>{% display_label_besoins 'respirer_tabagisme' %}
            {% display_field 'respirer_tabagisme' %}</td>
        <td>{% display_field 'respirer_tabagisme_comm' %}</td>
    </tr>
    <tr><td>{% display_label_besoins 'respirer_dyspnee' %}
            {% display_field 'respirer_dyspnee' %}</td>
        <td>{% display_field 'respirer_dyspnee_comm' %}</td>
    </tr>
    <tr><td>{% display_label_besoins 'respirer_bronches' %}
            {% display_field 'respirer_bronches' %}</td>
        <td>{% display_field 'respirer_bronches_comm' %}</td>
    </tr>
    <tr><td>{% display_label_besoins 'respirer_toux' %}
            {% display_field 'respirer_toux' %}</td>
        <td>{% display_field 'respirer_toux_comm' %}</td>
    </tr>

    <tr><th class="left">Aide technique</th><th class="left">Commentaires</th></tr>
    <tr><td>{% display_label_besoins 'respirer_aerosol' %}
            {% display_field 'respirer_aerosol' %}</td>
        <td>{% display_field 'respirer_aerosol_comm' %}</td>
    </tr>
    <tr><td>{% display_label_besoins 'respirer_oxygene' %}
            {% display_field 'respirer_oxygene' %}</td>
        <td>{% display_field 'respirer_oxygene_comm' %}</td>
    </tr>
    <tr><th class="left">{% display_label_besoins 'respirer_commentaires' %}</th></tr>
    <tr><td colspan="2">{% display_field 'respirer_commentaires' %}</td></tr>
</table>
{% endblock %}
