{% extends 'base-detail.html' %}
{% load fhutils besoins %}

{% block panel-head %}
<div>Ẽtre en sécurité - éviter les dangers</div>
{{ block.super }}
{% endblock %}

{% block panel-body %}
<a href="{% url 'person-cartedevie' object.person_id %}">
    <img src="{% url 'person-cartedevie-png' object.person_id 1 %}" class="cvie-preview">
</a>
<table class="fieldvalues" style="margin-left: 4em;">
    <tr><th>{% display_label_besoins 'securite_risque_chute' %}</th>
        <td>{% display_field 'securite_risque_chute' %}
            <label>Cause :</label>{% display_field 'securite_risque_chute_cause' %}
        </td>
    </tr>
    <tr><th>{% display_label_besoins 'securite_risque_errance' %}</th>
        <td>{% display_field 'securite_risque_errance' %}
            <label>Cause :</label>{% display_field 'securite_risque_errance_cause' %}
        </td>
    </tr>
    <tr><th>{% display_label_besoins 'securite_risque_agr' %}</th>
        <td>{% display_field 'securite_risque_agr' %}
            <label>Description :</label>{% display_field 'securite_risque_agr_descr' %}
        </td>
    </tr>
    <tr><th>{% display_label_besoins 'securite_mrsa_resist' %}</th>
        <td>{% display_field 'securite_mrsa_resist' %}</td>
    </tr>
    <tr><th>{% display_label_besoins 'securite_contentions' %}</th>
        <td>{% display_field 'securite_contentions' %}</td>
    </tr>
    <tr><th>{% display_label_besoins 'securite_commentaires' %}</th>
        <td>{% display_field 'securite_commentaires' %}</td>
    </tr>
</table>
{% endblock %}
