{% extends 'base-detail.html' %}
{% load fhutils besoins %}

{% block panel-head %}
<div>Vie sexuelle et affective</div>
{{ block.super }}
{% endblock %}

{% block panel-body %}
<table class="fieldvalues">
    <tr><th>{% display_label_besoins 'sexualite_attentes' %}</th>
        <td>{% display_field 'sexualite_attentes' %}</td>
    </tr>
</table>
{% endblock %}
