{% extends 'base-detail.html' %}
{% load fhutils besoins %}

{% block panel-head %}
<div>Se vêtir</div>
{{ block.super }}
{% endblock %}

{% block panel-body %}
<a href="{% url 'person-cartedevie' object.person_id %}">
    <img src="{% url 'person-cartedevie-png' object.person_id 1 %}" class="cvie-preview">
</a>
<table class="fieldvalues" style="margin-left: 4em;">
    <tr><th>{% display_label_besoins 'vetir_habillage' %}</th>
        <td>{% display_field 'vetir_habillage' %}</td>
    </tr>
    <tr><th>{% display_label_besoins 'vetir_deshabillage' %}</th>
        <td>{% display_field 'vetir_deshabillage' %}</td>
    </tr>
    <tr><th>{% display_label_besoins 'vetir_vetements' %}</th>
        <td>{% display_field 'vetir_vetements' %}</td>
    </tr>
    <tr><th>{% display_label_besoins 'vetir_fermetures' %}</th>
        <td>{% display_field 'vetir_fermetures' %}</td>
    </tr>
    <tr><th>{% display_label_besoins 'vetir_temperature' %}</th>
        <td>{% display_field 'vetir_temperature' %}</td>
    </tr>
    <tr><th>{% display_label_besoins 'vetir_aerer' %}</th>
        <td>{% display_field 'vetir_aerer' %}</td>
    </tr>
    <tr><th>{% display_label_besoins 'vetir_divers' %}</th>
        <td>{% display_field 'vetir_divers' %}</td>
    </tr>
</table>
{% endblock %}
