{% extends "base.html" %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/qualite.css' %}">
<script defer src="{% static 'js/qualite.js' %}"></script>
{% endblock %}

{% block home_url %}{% url 'qualite-home' %}{% endblock %}
{% block header_title %}<h1>Foyer Handicap - Qualité</h1>{% endblock %}
