{% extends "qualite/base.html" %}
{% load fhutils %}

{% block extra_head %}
<style>
    label { font-weight: bold; }
    form ul { list-style-type: none; margin: 0; padding-left: 0.5em; }
    ul label { font-weight: normal; }
    ul#id_categories, ul#id_responsables { column-count: 4; column-width: 300px; }
    textarea { width: 100%; }
    img.ficon { width: 3em; height: 3em; }
    div.input { margin-top: 0.7em; }
</style>
{% endblock %}

{% block title %}{{ block.super }} - Constat n°{{ constat.pk }}{% endblock %}

{% block content %}
<div id="container">
<h2>Traitement du constat n°{{ constat.pk }}</h2>

<fieldset class="bg-light">
    <legend class="bold">Saisi par {{ constat.get_createur }}, le {{ constat.date }}</legend>
    {% if constat.fichier %}
    <div class="fichier floatright">
        <a href="{{ constat.fichier.url }}">
            <img class="ficon" src="{{ constat.fichier.name|icon_url }}">
        </a>
    </div>
    {% endif %}
    <p><label>Date :</label> {{ constat.date_even }}</p>
    <p><label>Lieu :</label> {{ constat.lieu }}</p>
    <p><label>Constat :</label><br>
        {{ constat.constat|linebreaksbr }}
    </p>
    <p><label>Mesures immédiates prises :</label><br>
        {{ constat.mesures_imm|linebreaksbr|default:"-" }}
    <p>
    <p><label>Suggestions d’améliorations :</label><br>
        {{ constat.suggestions|linebreaksbr|default:"-" }}
    <p>
</fieldset>

<form method="post">{% csrf_token %}
    {% if form.non_field_errors %}<div class="errornote">{{ form.non_field_errors }}</div>{% endif %}
    <div class="input">
        {{ form.categories.label_tag }} {{ form.categories.errors }} {{ form.categories }}
    </div>

    <div class="flex">
        <div class="flex" style="margin: 1em;">
            <div>{{ form.gravite.label_tag }} {{ form.gravite.errors }}</div>
            <div>{{ form.gravite }}</div>
        </div>

        <div class="flex" style="margin: 1em;">
            <div>{{ form.frequence.label_tag }} {{ form.frequence.errors }}</div>
            <div>{{ form.frequence }}</div>
        </div>
    </div>

    <div class="input">{{ form.lien_doc.label_tag }} {{ form.lien_doc.errors }} {{ form.lien_doc }}</div>

    <div class="input">{{ form.resident.label_tag }} {{ form.resident.errors }} {{ form.resident }}</div>

    <div class="input">
        {{ form.responsables.label_tag }} <span class="help_text">(au moment de l'enregistrement, un courriel est envoyée aux responsables cochés)</span>
        {{ form.responsables.errors }} {{ form.responsables }}
    </div>

    <div class="input">{{ form.infos_compl.label_tag }} {{ form.infos_compl.errors }}</div>
    {{ form.infos_compl }}

    <div class="input">{{ form.decision.label_tag }} {{ form.decision.errors }}</div>
    {{ form.decision }}

    <div class="input">{{ form.suivi_en_cours }} {{ form.suivi_en_cours.label_tag|strip_colon }}</div>

    {% if form.validate %}
    <div class="input">{{ form.validate }} {{ form.validate.label_tag|strip_colon }}</div>
    {% endif %}

    <div class="input">
        <button type="submit">Enregistrer</button> <button class="cancel">Annuler</button>
    </div>
</form>
</div>
{% endblock %}
