{% extends "qualite/base.html" %}
{% load fhutils %}

{% block title %}{{ block.super }} - Liste des constats{% endblock %}

{% block content %}
<div id="container">

{% include 'qualite/constat-header-block.html' %}

{% if filter_form.site %}
<div class="floatright mt-3">
    <form id="filter-form" class="immediate-submit" method="get">
        {{ filter_form.site.label_tag }} {{ filter_form.site }}
    </form>
</div>
{% endif %}

<h2>Constats en suspens
    {% if not can_edit_constats %}<span class="small">(vos constats uniquement)</span>{% endif %}
</h2>

{% if not constats_suspens %}
    <div><i>Aucun contrat en suspens pour le moment.</i></div>
{% else %}
<table class="list-constats" style="width: 100%;">
    <thead><tr>
        <th style="width: 2em;">N°</th><th style="width: 12em;">Quand</th><th>Lieu</th>
        <th>Constat</th><th>Suggestions</th><th>Qui</th><th>Saisi le</th><th></th>
    </tr></thead>
    <tbody>
    {% for constat in constats_suspens %}
        <tr>
            <td>{{ constat.pk }}</td>
            <td>{% if can_edit_constats %}<a href="{% url 'qualite-editconstat' constat.pk %}">{% endif %}
                {{ constat.date_even }}
                {% if can_edit_constats %}</a>{% endif %}</td>
            <td>{{ constat.lieu }}</td>
            <td>{{ constat.constat|linebreaksbr }}</td>
            <td>{{ constat.suggestions|linebreaksbr }}</td>
            <td>{{ constat.get_createur }}</td>
            <td>{{ constat.date }}</td>
            <td>{% if constat.fichier %}
                <a href="{{ constat.fichier.url }}"><img class="ficon" src="{{ constat.fichier.name|icon_url }}"></a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

{% if constats_traitement %}
<h2>Constats en traitement</h2>
<table class="list-constats" style="width: 100%;">
    <thead><tr>
        <th style="width: 2em;">N°</th><th>Saisi le</th><th>Lieu</th>
        <th>Constat</th><th>Suggestions</th><th>Résultat</th>
    </tr></thead>
    <tbody>
    {% for constat in constats_traitement %}
        <tr>
            <td>{{ constat.pk }}</td>
            <td><a href="{% url 'qualite-editconstat' constat.pk %}">{{ constat.date }}</a></td>
            <td>{{ constat.lieu }}</td>
            <td>{{ constat.constat|linebreaksbr }}</td>
            <td>{{ constat.suggestions|linebreaksbr }}</td>
            <td class="resultat_{{ constat.resultat }}">{{ constat.resultat }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

<div style="margin-top: 1em;">
    <a href="{% url 'qualite-constats' %}">Liste des constats traités</a>
</div>

</div>
{% endblock %}
