{% extends "qualite/base.html" %}
{% load fhutils %}

{% block extra_head %}
{{ block.super }}
<style>
label { font-weight: bold; }
</style>
<script>
var suiviChanged = false;

document.addEventListener('DOMContentLoaded', function () {
    const suiviCb = document.getElementById("id_suivi_en_cours");
    if (suiviCb) {
        suiviCb.addEventListener('change', function () {
            fetch(suiviCb.form.action, {
                method: 'POST',
                headers: {
                    'Content-type': 'application/json',
                    'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
                },
                body: JSON.stringify({suivi_en_cours: suiviCb.value})
            });
        });
    }
    suiviChanged = true;
});

function backOrReload() {
    if (suiviChanged) window.location = document.referrer;
    else history.back();
}
</script>
{% endblock %}

{% block title %}{{ block.super }} - Constat n°{{ constat.pk }}{% endblock %}

{% block content %}
<div id="container">

<p><em><a href="javascript:backOrReload()">Retour</a></em></p>

<h2>Constat n°{{ constat.pk }} saisi par {{ constat.get_createur }} le {{ constat.date }}</h2>

<p><label>Date :</label> {{ constat.date_even }}</p>
<p><label>Lieu :</label> {{ constat.lieu }}</p>
<p><label>Constat :</label><br>
    {{ constat.constat|linebreaksbr }}
</p>
<p><label>Mesures immédiates prises :</label><br>
    {{ constat.mesures_imm|linebreaksbr }}
<p>
<p><label>Suggestions d’améliorations :</label><br>
    {{ constat.suggestions|linebreaksbr }}
<p>

{% if constat.fichier %}
<div class="fichier">
    <a href="{{ constat.fichier.url }}">
        <img class="ficon" src="{{ constat.fichier.name|icon_url }}">
    </a>
</div>
{% endif %}

<hr>

{% if constat.date_traite %}
    <h3>Traitement du {{ constat.date_traite }} par {{ constat.traite_par }}</h3>
    <p><label>Catégories :</label> {{ constat.categories.all|join:", " }}</p>
    <p><label>Gravité :</label> {{ constat.get_gravite_display }}</p>
    <p><label>Fréquence :</label> {{ constat.get_frequence_display }}</p>
    <p><label>Informations complémentaires du RDS concerné :</label><br>
        {{ constat.infos_compl|linebreaksbr }}
    <p>
    <p><label>Décision du briefing / conseil de direction :</label><br>
        {{ constat.decision|linebreaksbr }}
    <p>
    {% if qualite_manager %}
        <form action="{% url 'qualite-change_suivi' constat.pk %}">{% csrf_token %}
            <input id="id_suivi_en_cours" type="checkbox" {% if constat.suivi_en_cours %}checked{% endif %}> <label for="id_suivi_en_cours">Suivi en cours</label>
        </form>
    {% endif %}
{% else %}
    <p style="color: red;">Ce constat n’a pas encore été traité.</p>
{% endif %}

</div>
{% endblock %}
