{% extends "qualite/base.html" %}
{% load fhutils %}

{% block title %}{{ block.super }} - Liste des constats{% endblock %}

{% block extra_head %}
  {{ block.super }}
  <style>
    form#filter-form { display: flex; justify-content: space-between; }
    form#filter-form p { margin: 4px; }
    select#id_categorie, select#id_resident { max-width: 12em; }
  </style>
{% endblock %}

{% block content %}
<div id="container">

{% include 'qualite/constat-header-block.html' %}

{% if suspens %}
<h2>Mes constats en attente</h2>

<table class="list-constats" style="width: 100%;">
    <thead><tr>
        <th style="width: 2em;">N°</th><th style="width: 12em;">Quand</th><th>Lieu</th>
        <th>Constat</th><th>Suggestions</th><th>Saisi le</th>
    </tr></thead>
    <tbody>
    {% for constat in suspens %}
        <tr>
            <td>{{ constat.pk }}</td>
            <td><a href="{% if constat.traite_par %}{% url 'qualite-constat' constat.pk %}{% else %}{% url 'qualite-editmonconstat' constat.pk %}{% endif %}">
                {{ constat.date_even|date }}</a></td>
            <td>{{ constat.lieu }}</td>
            <td>{{ constat.constat|linebreaksbr }}</td>
            <td>{{ constat.suggestions|linebreaksbr }}</td>
            <td>{{ constat.date }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

{% if perms.qualite.change_constat and view.selection == 'all' %}
<div class="floatright">
    <a href="{% url 'qualite-constats-export' %}?{{ request.GET.urlencode }}"><img src="{% static 'img/xls.png' %}" width="24"></a>
</div>
{% endif %}

<h2>{{ title }}</h2>

{% if view.selection == 'all' %}
<fieldset>
    <form id="filter-form" class="immediate-submit" method="get">{{ filter_form.as_p }}</form>
</fieldset>
{% endif %}

<table class="list-constats" style="width: 100%;">
    <thead><tr>
        <th style="width: 2em;">N°</th><th>Événement du</th><th>Traité le</th><th>Catégorie</th>
        <th>Lieu</th><th>Constat</th><th>Par</th><th>Résident-e</th><th>Résultat</th>
    </tr></thead>
    <tbody>
    {% for constat in object_list %}
        <tr>
            <td>{% if constat.suivi_en_cours %}
                <span class="suivi-en-cours" title="Suivi en cours">*{{ constat.pk }}</span>
                {% else %}{{ constat.pk }}{% endif %}
            </td>
            <td><a href="{% url 'qualite-constat' constat.pk %}">{{ constat.date_even|date }}</a></td>
            <td>{{ constat.date_traite|date }}</td>
            <td>{{ constat.categories.all|join:", " }}</td>
            <td>{{ constat.lieu }}</td>
            <td>{{ constat.constat|linebreaksbr }}</td>
            <td><span title="{{ constat.get_createur }}">{{ constat.createur|short_visa }}</span></td>
            <td>{{ constat.resident|default_if_none:'-' }}</td>
            <td class="resultat_{{ constat.resultat }}">{{ constat.resultat }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% include 'pagination.html' %}

</div>
{% endblock %}
