<div id="constats-header">
    <b>Constats:</b>
        <a href="{% url 'qualite-constats' %}">tous</a> |
        <a href="{% url 'qualite-mes-constats' %}">les miens</a>
        {% if num_suspens is not None %} |
        <a href="{% url 'qualite-constats-pending' %}">en suspens : {{ num_suspens }}</a>
        {% endif %}
    <a class="button" href="{% url 'qualite-addconstat' %}">Saisir un nouveau constat…</a>
</div>
