{% extends "qualite/base.html" %}

{% block extra_head %}
<style>
    table.form { width: 100%; }
    table.form th:first-child { width: 25%; }
    table.form th { text-align: right; vertical-align: top; padding-top: 6px; }
    table.form textarea { width: 100%; }
    ul#id_site { margin: 0; padding: 0; list-style-type: none; }
</style>
<script>
var saisiSelects = []
function toggleSelect(ev) {
    saisiSelects[0].value = '';
    saisiSelects[0].disabled = true;
    saisiSelects[1].value = '';
    saisiSelects[1].disabled = true;
    let sel = this.parentNode.querySelector('select')
    if (sel) sel.disabled = false;
}

document.addEventListener('DOMContentLoaded', function () {
    saisiSelects = [
        document.getElementById('id_saisi_pour_res'),
        document.getElementById('id_saisi_pour')
    ]
    if (saisiSelects[0].value == '') saisiSelects[0].disabled = true;
    else document.getElementById('constate_par_res').checked = true;
    if (saisiSelects[1].value == '') saisiSelects[1].disabled = true;
    else document.getElementById('constate_par_col').checked = true;
    document.getElementById('constate_par_moi').addEventListener('change', toggleSelect);
    document.getElementById('constate_par_res').addEventListener('change', toggleSelect);
    document.getElementById('constate_par_col').addEventListener('change', toggleSelect);
});
</script>
{% endblock %}

{% block title %}{{ block.super }} - Nouveau constat{% endblock %}

{% block content %}
<div id="container">
<h2>Nouveau constat</h2>

<form method="post" enctype="multipart/form-data" action=".">{% csrf_token %}
    <table class="form">
        <tr>
            <th>Constaté par :</th>
            <td>
                <div>
                    <input id="constate_par_moi" name="constate" type="radio" checked>
                    <label for="constate_par_moi">moi, {{ user }}</label>
                </div>
                <div>
                    <input id="constate_par_res" name="constate" type="radio">
                    <label for="constate_par_res">le/la résident-e {{ form.saisi_pour_res }}
                </div>
                <div>
                    <input id="constate_par_col" name="constate" type="radio">
                    <label for="constate_par_col">le/la collègue {{ form.saisi_pour }}
                </div>
            </td>
        </tr>
        {% for field in form.visible_fields %}
        {% if field.name != 'saisi_pour' and field.name != 'saisi_pour_res' %}
            <tr>
                <th>{{ field.label_tag }}</th>
                <td>{{ field.errors }}{{ field }}</td>
            </tr>
        {% endif %}
        {% endfor %}
    </table>
    {% for field in form.hidden_fields %}{{ field }}{% endfor %}
    <button type="submit">Enregistrer</button> <button class="cancel">Annuler</button>
</form>
</div>
{% endblock %}
