<span class="file-icons">
    {% if not doc.pdf_url or doc.type_doc == 'FO' or perms.qualite.add_document %}
    <a href="{{ doc.fichier.url }}" title="Format original"><img class="ficon" src="{{ doc.icon_url }}"></a>
    {% endif %}
    {% if doc.pdf_url %}
    <a href="{{ doc.pdf_url }}" title="Format PDF"><img class="ficon" src="{% static 'ficons/pdf.svg' %}"></a>
    {% endif %}
</span>
<span>{{ doc }}
    {% if perms.qualite.change_document and doc.archives.all %}
    <img class="icon-standalone history-switcher" src="{% static 'img/clock.svg' %}" title="Historique des versions"
         data-target="history-{{ doc.pk }}">
    <div id="history-{{ doc.pk }}" class="history-list">
        <ul class="archives">
            <li>Version actuelle: <em>{{ doc.comment|linebreaksbr|default:'sans commentaire' }}</em></li>
            {% for arch in doc.archives.all %}
            <li>{% if arch.pdf_url %}<a href="{{ arch.pdf_url }}">{% endif %}{{ arch.date_doc }}{% if arch.pdf_url %}</a>{% endif %}:
                <em>{{ arch.comment|linebreaksbr|default:'sans commentaire' }}</em>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% if perms.qualite.change_document and doc.constat_set.all %}
    <br><span class="constat-warning">Un ou plusieurs constats sont en lien avec ce document:
    {% for const in doc.constat_set.all%}
        <a href="{% url 'qualite-constat' const.pk %}">n°{{ const.id }}</a>{% if not forloop.last %}, {% endif %}
    {% endfor %}
    </span>
    {% endif %}
    {% if doc.headline %}<span class="headline">{{ doc.headline|safe }}</span>{% endif %}
</span>
