{% extends "qualite/base.html" %}

{% block extra_head %}
<style>
    table.form { margin: 0 auto; }
    table.form th { text-align: right; vertical-align: top; }
    table.form th:not(.fixed) { padding-top: 5px; }
    div.mode-choice {
        padding: 1.5em; background-color: aliceblue; display: inline-block; border-radius: 8px;
        font-size: large;
    }
</style>
{% endblock %}

{% block content %}
<div id="container">
<h2>{{ view.title }}</h2>

<form method="post" enctype="multipart/form-data" action=".">{% csrf_token %}
    <table class="form">
        {% for label, value in fixed_values %}
            <tr><th class="fixed">{{ label }}</th><td>{{ value }}</td></tr>
        {% endfor %}
        {{ form.as_table }}
    </table>
    <div style="text-align: center; margin-top: 1em;">
        <button type="submit">Enregistrer</button> <button class="cancel">Annuler</button>
    </div>
</form>
</div>
{% endblock %}
