{% extends "qualite/base.html" %}

{% block extra_head %}
{{ block.super }}
<style>
ul.doclist { list-style: none; }
ul.doclist > li { padding: 3px 0; display: grid; grid-template-columns: 70px 60% 150px auto; }
ul.doclist > li:hover { background-color: #f6f5f4; }
span.date-doc { text-align: right; color: #aaa; font-style: italic; }
</style>
{% endblock %}

{% block content %}
<div id="container">

<div id="site-choices" class="flex">
    <div>Documents :</div>
    <div>
        {% for site in sites %}
        <div>
            <input type="checkbox" id="id_{{ site.value }}" class="sites" value="{{ site.value }}" checked>
            <label for="id_{{ site.value }}">{{ site.label }}</label>
        </div>
        {% endfor %}
    </div>
</div>

<h2>{{ title }}</h2>

<ul class="doclist">
{% for doc in docs %}
    {% ifchanged doc.type_doc %}
        {% if doc.type_doc != 'MAQ' %}
        </ul>
        <h3>{{ doc.get_type_doc_display }}</h3>
        <ul class="doclist">
        {% endif %}
    {% endifchanged %}
    <li class="{{ doc.site }}">
        {% include 'qualite/doc_block.html' %}
        <span class="date-doc">{{ doc.date_doc|default_if_none:'-' }}</span>
        <div class="edit-buttons">
            {% if perms.qualite.change_document %}
            <a href="{% url 'qualite-addversion' doc.pk %}">
                <button class="icon-only" title="Ajouter une nouvelle version de ce document">
                    <img class="icononly-in-button" src="{% static 'img/add.svg' %}">
                </button>
            </a>
            {% endif %}
            {% if perms.qualite.delete_document %}
            <form class="inline" method="post" action="{% url 'qualite-deldocument' doc.pk %}">{% csrf_token %}
                <button class="icon-only confirm" title="Supprimer ce document"
                        data-confirm="Voulez-vous vraiment supprimer ce document ?">
                    <img class="icononly-in-button" src="{% static 'img/delete.svg' %}">
                </button>
            </form>
            {% endif %}
        </div>
    </li>
{% empty %}
    <p><i>Aucun document pour l’instant</i></p>
{% endfor %}
</ul>

{% if perms.qualite.add_document %}
    <div class="mt-3">
        <button class="linkButton" data-url="{% url 'qualite-adddocument' no_categ %}">Ajouter un document</button>
    </div>
{% endif %}
</div>
{% endblock %}
