{% extends "base.html" %}

{% block title %}{{ block.super }} - Qualité{% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/qualite.css' %}">
<style>
    div.left-container, div.right-container { margin: auto 0; }
    div.left-container .rot90, div.right-container .rot90 {
        padding: 0.5em; text-align: center; height: 50%; background-color: #eee; font-size: 115%; font-weight: bold;
    }
    img.side-arrow { width: 60px; }
    div.center-container { text-align: center;  border: 3px solid black; padding: 6px; margin: 6px; }
    p.headline { font-weight: bold; margin-right: 12em; }
    td.head { text-align: center; font-size: 115%; font-weight: bold; }
    td.bkg-back { padding: 8px 8px 40px 8px; background-size: calc(100% + 40px) 100%;     background-position: center; }
    td.bkg-back-up { padding: 40px 8px 8px 8px; background-size: calc(100% + 40px) 100%; background-position: center; }
    td#bkg-back-10 { background-image: url({% static 'svg/back-dark-red.svg' %}); }
    td#bkg-back-20 { background-image: url({% static 'svg/back-dark-green.svg' %}); }
    td#bkg-back-30 { background-image: url({% static 'svg/back-dark-blue.svg' %}); background-size: 100% 100%; padding: 8px 70px 20px 8px }
    td#bkg-back-30 td.head { color: white; padding-bottom: 1em; }
    td#bkg-back-40 { background-image: url({% static 'svg/back-dark-gray.svg' %}); }
    td#bkg-back-50 { background-image: url({% static 'svg/back-dark-yellow.svg' %}); }
    td.bkg { padding: 8px 8px 30px 8px; background-size: 100% 100%; text-align: center; vertical-align: top; }
    td.bkg a { display: block; width: 100%; color: black; }
    td.bkg a:hover { background-color: transparent; font-weight: bold; font-style: italic; }
    td.bkg-10 { background-image: url({% static 'svg/back-light-red.svg' %}); }
    td.bkg-20 { background-image: url({% static 'svg/back-light-green.svg' %}); }
    td.bkg-30 { background-image: url({% static 'svg/back-light-blue.svg' %}); padding: 8px 45px 8px 8px; text-align: left; }
    td#bkg-32 { padding-bottom: 1em; }
    td.bkg-40 { background-image: url({% static 'svg/back-light-gray.svg' %}); background-position: left; padding: 30px 8px 8px 8px; }
    td.bkg-50 { background-image: url({% static 'svg/back-light-yellow.svg' %}); padding: 30px 8px 8px 8px; }

    td#arrow-left-td { text-align: right; width: 28%; }
    img#arrow-left { transform: rotate(-40deg); height: 80px; }
    td#arrow-right-td { text-align: left; width: 28%; }
    img#arrow-right { transform: rotate(40deg); height: 80px; }
    img#arrow-center { width: 55%; }

    #maq-link { align-self: center; margin: 0 1em; font-weight: bold; }
    #maq-link a { padding: 8px; }
    input#id_text { width: initial; }
    #search-button { background-color: white; margin-left: 0; }
    #search-button:hover { background-color: #eee; }
</style>
{% endblock %}

{% block header_title %}<h1>Foyer Handicap - Qualité</h1>{% endblock %}

{% block content %}
<div class="flex">
    {% include 'qualite/constat-header-block.html' %}

    <div id="maq-link">
        <a href="{% url 'qualite-documents-maq' %}">Manuel Qualité</a>
    </div>
    <div style="align-self: center;">
        <form class="inline" method="get" action="{% url 'qualite-search' %}">
            {{ search_form.text }}
            <button id="search-button" type="submit"><img src="{% static 'admin/img/search.svg' %}"></button>
        </form>
    </div>
</div>

<div class="global-container flex">
    <div class="left-container">
        <img class="side-arrow" src="{% static 'svg/arrow-red.svg' %}">
        <div class="rot90">Parties intéressées</div>
        <img class="side-arrow" src="{% static 'svg/arrow-red.svg' %}">
    </div>
    <div class="center-container">
    <!--div style="float: right;">
        <table class="cartouche">
            <tr><td>11 Direction é-Stratégie</td></tr>
            <tr><td style="text-align: right;">ORG 11.101</td></tr>
        </table>
    </div-->
    <!--p class="headline">Périmètre de certification, aucune exclusion (cf § 4.1), hormis la conception</p>
    <p class="headline">Le système couvre les prestations sociales et médico-sociales suivantes :</p-->
    <table width="100%">
        <tr><td id="bkg-back-10" class="bkg-back">
            <table width="100%">
                <tr><td colspan="3" class="head">10 Management</td></tr>
                <tr><td class="bkg bkg-10" width="33%">
                        <a href="{% url 'qualite-documents' 11 %}"><b>11</b><br>Direction - Stratégie</a>
                    </td>
                    <td class="bkg bkg-10" width="33%">
                        <a href="{% url 'qualite-documents' 12 %}"><b>12</b><br>Sécurité - Santé au travail - Environnement</a>
                    </td>
                    <td class="bkg bkg-10" width="33%">
                        <a href="{% url 'qualite-documents' 13 %}"><b>13</b><br>Gestion des risques et opportunités</a>
                    </td>
                </tr>
            </table>
        </td></tr>
    </table>

    <table width="100%"><tr><td width="45%">
        <table width="100%">
        <tr><td id="bkg-back-20" class="bkg-back">
            <table width="100%">
                <tr><td colspan="3" class="head">20 Ressources</td></tr>
                <tr><td class="bkg bkg-20" width="33%">
                        <a href="{% url 'qualite-documents' 21 %}"><b>21</b><br>Gestion des ressources humaines</a>
                    </td>
                    <td class="bkg bkg-20" width="33%">
                        <a href="{% url 'qualite-documents' 22 %}"><b>22</b><br>Gestion des finances</a>
                    </td>
                    <td class="bkg bkg-20" width="33%">
                        <a href="{% url 'qualite-documents' 23 %}"><b>23</b><br>Gestion des infrastructures et équipements</a>
                    </td>
                </tr>
            </table>
        </td></tr>
        </table>
    </td><td width="55%">
        <table width="100%">
        <tr><td id="bkg-back-50" class="bkg-back-up">
            <table>
                <tr><td class="bkg bkg-50" width="24%">
                        <a href="{% url 'qualite-documents' 51 %}"><b>51</b><br>Revue de Direction</a>
                    </td>
                    <td class="bkg bkg-50" width="24%">
                        <a href="{% url 'qualite-documents' 52 %}"><b>52</b><br>Mesure satisfaction du client</a>
                    </td>
                    <td class="bkg bkg-50" width="24%">
                        <a href="{% url 'qualite-documents' 53 %}"><b>53</b><br>Audits internes</a>
                    </td>
                    <td class="bkg bkg-50" width="24%">
                        <a href="{% url 'qualite-documents' 54 %}"><b>54</b><br>Amélioration continue</a>
                    </td>
                </tr>
                <tr><td colspan="4" class="head">50 Analyse et amélioration</td></tr>
            </table>
        </td></tr>
        </table>
    </td></tr>
    </table>

    <table width="100%">
        <tr><td id="bkg-back-30" class="bkg-back">
            <table width="100%">
                <tr><td colspan="3" class="head">30 Suivi accompagnement et production</td></tr>
                <tr><td rowspan="2" id="arrow-left-td"><img id="arrow-left" src="{% static 'svg/arrow.svg' %}"></td>
                    <td id="bkg-32" class="bkg bkg-30" width="42%">
                        <a href="{% url 'qualite-documents' 32 %}"><b>32 Prestations de réadaptation et sociales</b></a>
                        <table><tr>
                            <td style="vertical-align: top; padding-right: 5px; border-right: 1px solid #928ADD;">
                                Atelier de communication<br>
                                Animation
                            </td>
                            <td style="vertical-align: top;">
                                Unité Accueil de jour<br>
                                Ergothérapie<br>
                                Physiothérapie
                            </td>
                        </tr></table>
                    </td>
                    <td id="arrow-right-td" rowspan="2" width="28%">
                        <img id="arrow-right" src="{% static 'svg/arrow.svg' %}">
                    </td>
                </tr>
                <tr><td style="padding: 2em;">&nbsp;</td></tr>
                <tr><td class="bkg bkg-30" width="33%">
                        <a href="{% url 'qualite-documents' 31 %}"><b>31 Accompagnement médico-social avec hébergement</b></a><br>
                        Accueil<br>Accompagnement<br>Départ
                    </td>
                    <td id="arrow-center-td" width="33%" style="text-align: center;">
                        <img id="arrow-center" src="{% static 'svg/arrow.svg' %}">
                    </td>
                    <td class="bkg bkg-30" width="33%">
                        <a href="{% url 'qualite-documents' 33 %}"><b>33 Ateliers</b></a><br>
                        Accueil<br>Accompagnement socio-professionnel<br>Production<br>Départ
                    </td>
                </tr>
            </table>
        </td></tr>
    </table>

    <table width="100%">
        <tr><td id="bkg-back-40" class="bkg-back-up">
            <table width="100%">
                <tr><td class="bkg bkg-40" width="33%">
                        <a href="{% url 'qualite-documents' 41 %}"><b>41</b><br>Intendance</a>
                    </td>
                    <td class="bkg bkg-40" width="33%">
                        <a href="{% url 'qualite-documents' 42 %}"><b>42</b><br>Restauration</a>
                    </td>
                    <td class="bkg bkg-40" width="33%">
                        <a href="{% url 'qualite-documents' 43 %}"><b>43</b><br>Enregistrement des données</a>
                    </td>
                </tr>
                <tr><td colspan="3" class="head">40 Soutien</td></tr>
            </table>
        </td></tr>
    </table>

    </div>
    <div class="right-container">
        <img class="side-arrow" src="{% static 'svg/arrow-red.svg' %}">
        <div class="rot90">Parties intéressées satisfaites</div>
        <img class="side-arrow" src="{% static 'svg/arrow-red.svg' %}">
    </div>
</div>
{% endblock %}
