{% extends "qualite/base.html" %}

{% block extra_head %}
{{ block.super }}
<style>
    .flexparent { display: flex; }
    .flexparent div:first-child { min-width: 50%; }
    ul#results, ul#id_sites { list-style-type: none; }
    ul#results li { padding: 5px 0; }
    ul#id_sites { margin: 0 1em; }
    #results-length { margin-top: 1em; }
</style>
{% endblock %}

{% block content %}
<div id="container">
    <h2>Recherche de documents</h2>

    <div id="site-choices" class="flex">
        <div>Documents :</div>
        <div>
            {% for site in sites %}
            <div>
                <input type="checkbox" id="id_{{ site.value }}" class="sites" value="{{ site.value }}" checked>
                <label for="id_{{ site.value }}">{{ site.label }}</label>
            </div>
            {% endfor %}
        </div>
    </div>

    <form method="get">
        <div class="flexparent">
            <div>{{ form.text }}</div>
        </div>
        <button id="search-button" type="submit">Rechercher</button>
    </form>

    {% if results is not None %}
    <div id="results-length">Votre recherche a renvoyé {{ results|length }} résultat(s) :</div>
    <ul id="results">
    {% for res in results %}
        <li class="{{ res.site }}">{% include 'qualite/doc_block.html' with doc=res %}</li>
    {% empty %}
        <li><i>Désolé, aucun document n’a été trouvé.</i></li>
    {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}
