{% extends 'base-list.html' %}

{% block new_form_button %}
    {% if not view.is_archives %}{{ block.super }}{% endif %}
{% endblock %}

{% block object_list %}
  {% if view.is_archives %}<h2>Archive des moyens auxiliaires</h2>{% endif %}
  {{ block.super }}
  {% if view.has_archives %}
  <div>
    <button class="linkButton" data-url="{% url 'moyensaux-list' view.kwargs.pk %}?view=archives">Archives…</button>
  </div>
  {% endif %}
  {% if view.is_archives %}
  <div>
    <button class="linkButton" data-url="{% url 'moyensaux-list' view.kwargs.pk %}">Retour à la liste principale</button>
  </div>
  {% endif %}
{% endblock %}
