{% extends 'base-detail.html' %}
{% load agenda fhutils %}

{% block panel-body %}
    <div class="warningnote">
        La fonctionnalité agenda est actuellement <b>expérimentale</b>.<br>
        Seuls les documents habituels (impressions et agenda papier, agenda Outlook) font foi.
    </div>
    <div style="display: flex; align-items: center; text-align: center; margin-bottom: 5px;">
        <div style="flex-grow: 0;">
            <button class="linkButton" style="margin-left: 0;" title="Semaine précédente" data-url="{{ prev_events }}">&lt;</button>
        </div>

        <div style="flex: auto;">
            <button class="linkButton" data-url="{{ add_url }}">Ajouter un rendez-vous</button>
        </div>

        {% block center-buttons %}
        {% endblock %}

        <div style="flex: auto;">
            <a href="{{ print_url }}" title="Format PDF"><img class="ficon" src="{% static 'ficons/pdf.svg' %}"></a>
        </div>

        <div style="flex-grow: 0;">
            <button class="linkButton" style="margin-right: 0;" title="Semaine suivante" data-url="{{ next_events }}">&gt;</button>
        </div>
    </div>

    {% block agenda_content %}
    <div class="agenda-week-grid"
         style="grid-template-rows: repeat({{ day_divs|length|add:1 }}, 24px);">
    {% for day, events in week_events.items %}
        <div class="agenda-head">{{ day|date:'D j F' }}</div>
        {% for dv in day_divs %}
            {% with events|get_events:dv as quart_evts %}
            <div class="event-cell {{ dv|is_hour|yesno:"hour," }} {{ dv|is_meal|yesno:"meal,"}}">
                {% for ev in quart_evts %}
                <span class="event-content {{ ev.cancelled|yesno:'cancelled,' }}"
                      style="height: calc({{ ev.spans }}00% + {{ ev.spans|add:ev.spans }}px);
                      min-height: calc({{ ev.spans }}00% + {{ ev.spans|add:ev.spans }}px);
                      width: {{ ev.overlap|yesno:'50%,100%' }};
                      left: {% if ev.overlap == 'even' %}50%{% else %}0{% endif %};
                      background-color: {{ ev.color }}; color: {{ ev.text_color }};">
                    {% if ev|can_edit:request.user %}
                        <img class="linkButton icon floatright" src="{% static 'img/edit.svg' %}"
                             data-url="{% url 'person-agenda-edit' ev.person.pk ev.pk %}{% if ev.is_recurring %}?occ={{ ev.start.isoformat|urlencode }}{% endif %}"
                             title="Modifier">
                    {% endif %}
                    {% if ev.is_recurring %}
                        <img class="icon floatright repeat" src="{% static 'img/repeat.svg' %}"
                             title="Cet événement est récurrent">
                    {% endif %}
                    {{ ev.start|as_hour_min }} - {{ ev.end|as_hour_min }} {{ ev.title }}
                    {% if ev.description %}<span class="tooltip">{{ ev.description|linebreaksbr }}</span>{% endif %}
                </span>
                {% endfor %}
            </div>
            {% endwith %}
        {% endfor %}
    {% endfor %}
    </div>
    {% endblock %}
{% endblock %}
