{% extends 'base-detail.html' %}

{% block panel-body %}
    <div class="warningnote">
        La fonctionnalité agenda est actuellement <b>expérimentale</b>.<br>
        Seuls les documents habituels (impressions et agenda papier, agenda Outlook) font foi.
    </div>
    <div style="display: flex; align-items: center; text-align: center; margin-bottom: 5px;">
        <div style="flex-grow: 0;">
            <button class="linkButton" style="margin-left: 0;" title="Jour précédent" data-url="{{ prev_events }}">&lt;</button>
        </div>
        <h3>{{ day|date:'l j F Y' }}</h3>

        <!--div style="flex: auto;">
            <a href="{{ print_url }}" title="Format PDF"><img class="ficon" src="{% static 'ficons/pdf.svg' %}"></a>
        </div-->

        <div style="flex-grow: 0;">
            <button class="linkButton" style="margin-right: 0;" title="Jour suivant" data-url="{{ next_events }}">&gt;</button>
        </div>
    </div>
    <table id="daily-events">
    {% for person, evts in events.items %}
        <tr><td><a href="{{ person.get_absolute_url }}">{{ person }}</a></td>
            <td>{% for evt in evts %}{{ evt.hours }} {{ evt.title }}
                    {% if ev.description %}<span class="tooltip">{{ ev.description|linebreaksbr }}</span>{% endif %}<br>
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
