{% extends 'agenda/person-agenda.html' %}
{% load fhutils %}

{% block agenda_content %}
    <div class="agenda-list-grid">
    {% for event in events %}
        <div>{{ event.start|date:'D j F Y' }}</div>
        <div>{{ event.start|date:'H:i' }} - {{ event.end|date:'H:i' }}</div>
        <div>{{ event.title }} {{ event.description }}</div>
        <div>
            {% if event|can_edit:request.user %}
                <img class="linkButton icon floatright" src="{% static 'img/edit.svg' %}"
                     data-url="{% url 'person-agenda-edit' person.pk event.pk %}{% if event.is_recurring %}?occ={{ event.start.isoformat|urlencode }}{% endif %}"
                     title="Modifier">
            {% endif %}
            {% if event.is_recurring %}
            <img class="icon repeat" src="{% static 'img/repeat.svg' %}"
                 title="Cet événement est récurrent">
            {% endif %}
        </div>
    {% empty %}
        <div>Désolé, aucun événement dans cette période.</div>
    {% endfor %}
    </div>
{% endblock %}
