{% extends 'base-edit.html' %}
{% load fhutils %}

{% block panel-body %}
    {{ categ_color_map|json_script:"categ-color-map" }}
    <div style="display: flex;">
        {% with form.date as field %}
        <div class="mr1">
            <div class="formfield {{ field|ftype }} {{ field.css_classes }}">{{ field.errors }}{{ field.label_tag }}</div> {{ field }}
        </div>
        {% endwith %}
        {% with form.heure_de as field %}
        <div class="mr1">
            <div class="formfield {{ field|ftype }} {{ field.css_classes }}">{{ field.errors }}{{ field.label_tag }}</div> {{ field }}
        </div>
        {% endwith %}
        {% with form.heure_a as field %}
        <div class="mr1">
            <div class="formfield {{ field|ftype }} {{ field.css_classes }}">{{ field.errors }}{{ field.label_tag }}</div> {{ field }}
        </div>
        {% endwith %}
        {% with form.category as field %}
        <div class="mr1">
            <div class="formfield {{ field|ftype }} {{ field.css_classes }}">{{ field.errors }}{{ field.label_tag }}</div> {{ field }}
        </div>
        {% endwith %}
        {% with form.color as field %}
        <div>
            <div class="formfield {{ field|ftype }} {{ field.css_classes }}">{{ field.errors }}{{ field.label_tag }}</div> {{ field }}
        </div>
        {% endwith %}
    </div>

    {% with form.title as field %}
    <div class="formfield {{ field|ftype }} {{ field.css_classes }}">{{ field.errors }}{{ field.label_tag }}</div> {{ field }}
    {% endwith %}
    {% with form.description as field %}
    <div class="formfield {{ field|ftype }} {{ field.css_classes }}">{{ field.errors }}{{ field.label_tag }}</div> {{ field }}
    {% endwith %}

    <div style="display: flex;">
        {% with form.repetition as field %}
        <div class="mr1">
            <div class="formfield {{ field|ftype }} {{ field.css_classes }}">{{ field.errors }}{{ field.label_tag }}</div> {{ field }}
        </div>
        {% endwith %}
        {% with form.repetition_fin as field %}
        <div>
            <div class="formfield {{ field|ftype }} {{ field.css_classes }}">{{ field.errors }}{{ field.label_tag }}</div> {{ field }}
        </div>
        {% endwith %}
    </div>

{% endblock %}

{% block panel-buttons %}
    {% if object.pk %}
    <div class="boutons">
        <button id="delete" class="delete confirm floatright"
            formaction="{% url 'person-agenda-delete' object.person.pk object.pk %}"
            data-confirm="Voulez-vous vraiment supprimer cet événement ?">Supprimer</button>
        {% if occ_date %}
        <input name="occ_date" type="hidden" value="{{ occ_date }}">
        <button id="delete" class="delete confirm floatright"
            formaction="{% url 'person-agenda-toggleocc' object.person.pk object.pk %}"
            data-confirm="Voulez-vous vraiment {% if occ_obj %}restaurer{% else %}annuler{% endif %} cette occurrence ?">
                {% if occ_obj %}Restaurer{% else %}Annuler{% endif %} cette occurrence
        </button>
        {% endif %}
    </div>
    {% endif %}
    {{ block.super }}
{% endblock %}
