{% extends 'agenda/agenda-week.html' %}

{% block center-buttons %}
<div style="flex: auto;">
    Affichage:
        <span class="radio-border">
            <input type="radio" id="cal_hebdo" name="cal_display"
                   data-url="{% url 'person-agenda' person.pk %}"
                   {% if view.mode == 'week' %}checked{% endif %}>
            <label for="cal_hebdo">hebdomadaire</label>
        </span>
        <!--span class="radio-border"><input type="radio" id="cal_month" name="cal_display"> <label for="cal_month">mensuel</label></span-->
        <span class="radio-border">
            <input type="radio" id="cal_list" name="cal_display"
                   data-url="{% url 'person-agenda-list' person.pk %}"
                   {% if view.mode == 'list' %}checked{% endif %}>
            <label for="cal_list">liste</label>
        </span>
</div>
{% endblock %}
