div.rot90 { writing-mode: vertical-rl; transform:scale(-1); }
div.edit-buttons { background-color: transparent !important; }
span.small { font-size: 10pt; }
span.headline {
  display: block;
  margin-bottom: 0.5em;
  margin-top: 4px;
  font-style: italic;
  font-size: small;
  color: #777;
}
span.headline b { background-color: yellow; }
#site-choices { float: right; padding: 5px 1em; background-color: #eee; border-radius: 5px; }
table.cartouche { border-collapse: collapse; }
table.cartouche td { border: 1px solid black; padding: 2px; background-color: #efefef; }
img.icon-standalone { vertical-align: bottom; } /* To be tested in other apps too? */
div.history-list { display: none; }
div#constats-header {
  padding: 0.6em; margin: 0.2em; border: 1px solid #0B72B5;
  border-radius: 3px; background-color:#F0F8FF; flex-grow: 4;
}
.resultat_R { text-align: center; background-color: #ffa6a6; }
.resultat_J { text-align: center; background-color: #ffe669; }
.resultat_V { text-align: center; background-color: #88e596; }
table.list-constats th { background-color: #ccc; padding: 0 0.5em; }
table.list-constats th { vertical-align: top; }
table.list-constats td { padding: 0.5em; vertical-align: top; border-bottom: 1px solid #ddd; }
.constat-warning { color: #D07305; font-size: small; font-style: italic; }
.suivi-en-cours { font-weight: bold; color: red; }
