{% extends 'base-detail.html' %}
{% load fhutils %}

{% block panel-head %}
<h3>Atelier ARIHANE</h3>
{{ block.super }}
{% endblock %}

{% block panel-body %}
<div><b>Début de l'activité :</b><br>{% display_field 'date_debut' %}</div>

<h3>Apprentissage et maintien</h3>
<p>NP: non pertinent, 0: Aucun soutien, 1: incitation de départ et/ou contrôle final, 2: indication et supervision</p>

<table class="atelier-poste">
    <tr><th class="lev1" colspan="3">Aptitude aux travaux</th></tr>
    <tr><th class="lev2">Utilisation des machines</th><th>Évaluation</th><th>Remarques</th></tr>
    <tr><td>{% display_label 'photoc_c200' %}</td><td>{% display_field 'photoc_c200' %}</td>
        <td rowspan="12">{% display_field 'remarques_util_mach' %}</td></tr>
    <tr><td>{% display_label 'photoc_c353' %}</td><td>{% display_field 'photoc_c353' %}</td></tr>
    <tr><td>{% display_label 'photoc_speciales' %}</td><td>{% display_field 'photoc_speciales' %}</td></tr>
    <tr><td>{% display_label 'numeriser' %}</td><td>{% display_field 'numeriser' %}</td></tr>
    <tr><td>{% display_label 'massicot_e' %}</td><td>{% display_field 'massicot_e' %}</td></tr>
    <tr><td>{% display_label 'massicot_m' %}</td><td>{% display_field 'massicot_m' %}</td></tr>
    <tr><td>{% display_label 'plieuse' %}</td><td>{% display_field 'plieuse' %}</td></tr>
    <tr><td>{% display_label 'machine_boudin_p' %}</td><td>{% display_field 'machine_boudin_p' %}</td></tr>
    <tr><td>{% display_label 'machine_boudin_m' %}</td><td>{% display_field 'machine_boudin_m' %}</td></tr>
    <tr><td>{% display_label 'machine_chaud' %}</td><td>{% display_field 'machine_chaud' %}</td></tr>
    <tr><td>{% display_label 'plastifieuse' %}</td><td>{% display_field 'plastifieuse' %}</td></tr>
    <tr><td>{% display_label 'agrafeuse' %}</td><td>{% display_field 'agrafeuse' %}</td></tr>
    <tr><th class="lev3" colspan="3">utilisation de l'ordi</th></tr>
    <tr><td>{% display_label 'ordi_allumer' %}</td><td>{% display_field 'ordi_allumer' %}</td>
        <td rowspan="6">{% display_field 'remarques_util_ordi' %}</td></tr>
    <tr><td>{% display_label 'trouver_fichier' %}</td><td>{% display_field 'trouver_fichier' %}</td></tr>
    <tr><td>{% display_label 'enregistrer_fichier' %}</td><td>{% display_field 'enregistrer_fichier' %}</td></tr>
    <tr><td>{% display_label 'utiliser_logiciel' %}</td><td>{% display_field 'utiliser_logiciel' %}</td></tr>
    <tr><td>{% display_label 'utiliser_aide' %}</td><td>{% display_field 'utiliser_aide' %}</td></tr>
    <tr><td>{% display_label 'ordi_arreter' %}</td><td>{% display_field 'ordi_arreter' %}</td></tr>

    <tr><th class="lev2" colspan="3">Travaux d'apprêts</th></tr>
    <tr><td>{% display_label 'assemblage' %}</td><td>{% display_field 'assemblage' %}</td>
        <td rowspan="7">{% display_field 'remarques_apprets' %}</td></tr>
    <tr><td>{% display_label 'msp_simple' %}</td><td>{% display_field 'msp_simple' %}</td></tr>
    <tr><td>{% display_label 'msp_plus_cinq' %}</td><td>{% display_field 'msp_plus_cinq' %}</td></tr>
    <tr><td>{% display_label 'msp_complexe' %}</td><td>{% display_field 'msp_complexe' %}</td></tr>
    <tr><td>{% display_label 'enveloppes_etiq' %}</td><td>{% display_field 'enveloppes_etiq' %}</td></tr>
    <tr><td>{% display_label 'enveloppes_fermer' %}</td><td>{% display_field 'enveloppes_fermer' %}</td></tr>
    <tr><td>{% display_label 'enveloppes_timbrer' %}</td><td>{% display_field 'enveloppes_timbrer' %}</td></tr>

    <tr><th class="lev2" colspan="3">Tableau sur ordi</th></tr>
    <tr><th class="lev3" colspan="3">Word</th></tr>
    <tr><td>{% display_label 'saisie_texte' %}</td><td>{% display_field 'saisie_texte' %}</td>
        <td rowspan="5">{% display_field 'remarques_ordi1' %}</td></tr>
    <tr><td>{% display_label 'mep_word_lettre' %}</td><td>{% display_field 'mep_word_lettre' %}</td></tr>
    <tr><td>{% display_label 'mep_word_chap' %}</td><td>{% display_field 'mep_word_chap' %}</td></tr>
    <tr><td>{% display_label 'composer_lettre' %}</td><td>{% display_field 'composer_lettre' %}</td></tr>
    <tr><td>{% display_label 'publipostage' %}</td><td>{% display_field 'publipostage' %}</td></tr>

    <tr><th class="lev3" colspan="3">Excel</th></tr>
    <tr><td>{% display_label 'compta_excel' %}</td><td>{% display_field 'compta_excel' %}</td>
        <td rowspan="4">{% display_field 'remarques_ordi2' %}</td></tr>
    <tr><td>{% display_label 'calculs_excel' %}</td><td>{% display_field 'calculs_excel' %}</td></tr>
    <tr><td>{% display_label 'heures_employes' %}</td><td>{% display_field 'heures_employes' %}</td></tr>
    <tr><td>{% display_label 'suivi_animation' %}</td><td>{% display_field 'suivi_animation' %}</td></tr>

    <tr><th class="lev3" colspan="3">Indesign</th></tr>
    <tr><td>{% display_label 'mep_indesign' %}</td><td>{% display_field 'mep_indesign' %}</td>
        <td>{% display_field 'remarques_ordi3' %}</td></tr>

    <tr><th class="lev3" colspan="3">Photoshop</th></tr>
    <tr><td>{% display_label 'retouche_photo' %}</td><td>{% display_field 'retouche_photo' %}</td>
        <td>{% display_field 'remarques_ordi4' %}</td></tr>

    <tr><th class="lev3" colspan="3">Adobe Acrobat reader</th></tr>
    <tr><td>{% display_label 'creer_form' %}</td><td>{% display_field 'creer_form' %}</td>
        <td rowspan="3">{% display_field 'remarques_ordi5' %}</td></tr>
    <tr><td>{% display_label 'transformer_pdf' %}</td><td>{% display_field 'transformer_pdf' %}</td></tr>
    <tr><td>{% display_label 'modifier_pdf' %}</td><td>{% display_field 'modifier_pdf' %}</td></tr>

    <tr><th class="lev3" colspan="3">Logiciel de comptabilité ARIHANE</th></tr>
    <tr><td>{% display_label 'creer_facture' %}</td><td>{% display_field 'creer_facture' %}</td>
        <td rowspan="3">{% display_field 'remarques_ordi6' %}</td></tr>
    <tr><td>{% display_label 'enregistrer_paiement' %}</td><td>{% display_field 'enregistrer_paiement' %}</td></tr>
    <tr><td>{% display_label 'boucler_mois' %}</td><td>{% display_field 'boucler_mois' %}</td></tr>

    <tr><th class="lev3" colspan="3">Wordpress</th></tr>
    <tr><td>{% display_label 'maj_sites' %}</td><td>{% display_field 'maj_sites' %}</td>
        <td rowspan="2">{% display_field 'remarques_ordi7' %}</td></tr>
    <tr><td>{% display_label 'creation_site' %}</td><td>{% display_field 'creation_site' %}</td></tr>

    <tr><th class="lev2" colspan="3">Travaux de création</th></tr>
    <tr><td>{% display_label 'trouver_illustration' %}</td><td>{% display_field 'trouver_illustration' %}</td>
        <td rowspan="6">{% display_field 'remarques_creation' %}</td></tr>
    <tr><td>{% display_label 'inserer_texte' %}</td><td>{% display_field 'inserer_texte' %}</td></tr>
    <tr><td>{% display_label 'elements_demandes' %}</td><td>{% display_field 'elements_demandes' %}</td></tr>
    <tr><td>{% display_label 'equilibrer_affiche' %}</td><td>{% display_field 'equilibrer_affiche' %}</td></tr>
    <tr><td>{% display_label 'reperer_erreur' %}</td><td>{% display_field 'reperer_erreur' %}</td></tr>
    <tr><td>{% display_label 'corriger_erreur' %}</td><td>{% display_field 'corriger_erreur' %}</td></tr>

    <tr><th class="lev1" colspan="3">Comportement</th></tr>
    <tr><th class="lev2" colspan="3">avec ses collègues</th></tr>
    <tr><td>{% display_label 'esprit_ouverture' %}</td><td>{% display_field 'esprit_ouverture' %}</td>
        <td rowspan="2">{% display_field 'remarques_collegues' %}</td></tr>
    <tr><td>{% display_label 'collaboration' %}</td><td>{% display_field 'collaboration' %}</td></tr>

    <tr><th class="lev2" colspan="3">avec les MSP</th></tr>
    <tr><td>{% display_label 'respect_reglement' %}</td><td>{% display_field 'respect_reglement' %}</td>
        <td rowspan="3">{% display_field 'remarques_msp' %}</td></tr>
    <tr><td>{% display_label 'respect_hierarchie' %}</td><td>{% display_field 'respect_hierarchie' %}</td></tr>
    <tr><td>{% display_label 'support_pression' %}</td><td>{% display_field 'support_pression' %}</td></tr>

    <tr><th class="lev2" colspan="3">avec les collaborateurs du Foyer</th></tr>
    <tr><td>{% display_label 'salle_manger' %}</td><td>{% display_field 'salle_manger' %}</td>
        <td rowspan="2">{% display_field 'remarques_collab' %}</td></tr>
    <tr><td>{% display_label 'comportement' %}</td><td>{% display_field 'comportement' %}</td></tr>

    <tr><th class="lev2" colspan="3">face au travail</th></tr>
    <tr><td>{% display_label 'ponctuel' %}</td><td>{% display_field 'ponctuel' %}</td>
        <td rowspan="16">{% display_field 'remarques_travail' %}</td></tr>
    <tr><td>{% display_label 'travail_seul' %}</td><td>{% display_field 'travail_seul' %}</td></tr>
    <tr><td>{% display_label 'place_ordre' %}</td><td>{% display_field 'place_ordre' %}</td></tr>
    <tr><td>{% display_label 'memorisation' %}</td><td>{% display_field 'memorisation' %}</td></tr>
    <tr><td>{% display_label 'respect_consignes' %}</td><td>{% display_field 'respect_consignes' %}</td></tr>
    <tr><td>{% display_label 'rythme' %}</td><td>{% display_field 'rythme' %}</td></tr>
    <tr><td>{% display_label 'regularite' %}</td><td>{% display_field 'regularite' %}</td></tr>
    <tr><td>{% display_label 'autonomie' %}</td><td>{% display_field 'autonomie' %}</td></tr>
    <tr><td>{% display_label 'organisation' %}</td><td>{% display_field 'organisation' %}</td></tr>
    <tr><td>{% display_label 'qualite_travail' %}</td><td>{% display_field 'qualite_travail' %}</td></tr>
    <tr><td>{% display_label 'auto_correction' %}</td><td>{% display_field 'auto_correction' %}</td></tr>
    <tr><td>{% display_label 'polyvalence' %}</td><td>{% display_field 'polyvalence' %}</td></tr>
    <tr><td>{% display_label 'esprit_initiative' %}</td><td>{% display_field 'esprit_initiative' %}</td></tr>
    <tr><td>{% display_label 'responsabilites' %}</td><td>{% display_field 'responsabilites' %}</td></tr>
    <tr><td>{% display_label 'adaptation' %}</td><td>{% display_field 'adaptation' %}</td></tr>
    <tr><td>{% display_label 'absenteisme' %}</td><td>{% display_field 'absenteisme' %}</td></tr>

    <tr><td><b>Total des items :</b></td><td>{{ object.total_items }}</td></tr>
  
    <tr><th class="lev1" colspan="3">Indépendance</th></tr>
    <tr><td>{% display_label 'nombres_aide' %}</td><td>{% display_field 'nombres_aide' %}</td>
        <td rowspan="2">{% display_field 'remarques_indep' %}</td></tr>
    <tr><td>{% display_label 'connaissance_prof' %}</td><td>{% display_field 'connaissance_prof' %}</td></tr>

</table>

{% endblock %}
