{% extends extend_base %}
{% load fhutils %}

{% block panel-head %}
<div class="block">MSP présents : {% display_field 'msp_presents' 'unwrapped' %}</div>
<div class="block">Libellé : {% display_field 'libelle' %}</div>
<div class="block">Date du bilan : {% display_field 'date_bilan' 'unwrapped' %}</div>
{{ block.super }}
{% endblock %}

{% block panel-body %}
<div>
    <div class="block mid-width">
        <div class="field-header">{% display_label 'rappel_objectifs' %}</div>
        <div>{% display_field 'rappel_objectifs' %}</div>
    </div>
    <div class="block mid-width">
        <div class="field-header">{% display_label 'commentaire' %}</div>
        <div>{% display_field 'commentaire' %}</div>
    </div>
</div>

<div>
    <div class="block mid-width">
        <div class="field-header">{% display_label 'resultats' %}</div>
        <div>{% display_field 'resultats' %}</div>
    </div>
    <div class="block mid-width">
        <div class="field-header">{% display_label 'objectifs' %}</div>
        <div>{% display_field 'objectifs' %}</div>
    </div>
</div>

<div>
    <div class="block mid-width">
        <div class="field-header">{% display_label 'deroulement' %}</div>
        <div>{% display_field 'deroulement' %}</div>
    </div>
    <div class="block mid-width">
        <div class="field-header">{% display_label 'horaire' %}</div>
        <div>{% display_field 'horaire' %}</div>
    </div>
</div>
{% endblock %}
