{% extends 'base-detail.html' %}
{% load fhutils %}

{% block panel-head %}
<h3>Atelier de communication</h3>
{{ block.super }}
{% endblock %}

{% block panel-body %}
<div class="atcomm-main">
    {% display_field 'ordinateur' 'as_div' %}
    {% display_field 'email' 'as_div' %}
</div>
<div class="atcomm-main">
    {% display_field 'horaire' 'as_div' %}
    {% display_field 'autre1' 'as_div' %}
</div>

<div class="atcomm-main">
      {% display_field 'vision' 'as_div' %}
      {% display_field 'comprehension' 'as_div' %}
      {% display_field 'memoire' 'as_div' %}
      {% display_field 'expression' 'as_div' %}
      {% display_field 'lecture' 'as_div' %}
</div>
<div class="atcomm-main">
      {% display_field 'ecriture' 'as_div' %}
      {% display_field 'clavier' 'as_div' %}
      {% display_field 'souris' 'as_div' %}
      {% display_field 'fatigabilite' 'as_div' %}
      {% display_field 'autre2' 'as_div' %}
</div>

<div>{% display_field 'interets' 'as_div' %}</div>

<div class="atcomm-main">
    {% display_field 'objectifs' 'as_div' %}
</div>
<div class="atcomm-main">
    {% display_field 'moyens' 'as_div' %}
</div>

{% endblock %}
