{% extends 'base-detail.html' %}
{% load fhutils %}

{% block panel-head %}
<h3>Atelier créativité 1</h3>
{{ block.super }}
{% endblock %}

{% block panel-body %}
<h3>Genre d'activités exercées dans l'atelier</h3>

<div><b>Horaire :</b><br>{% display_field 'horaire' %}</div>

<table class="atelier-radios">
    <tr><th>Travaux à l'aiguille</th><th></th><th>Remarques</th></tr>
    <tr><td>{% display_label 'tricotin' %}</td>
        <td class="radio">{% display_field 'tricotin' %}</td>
        <td>{% display_field 'tricotin_rem' %}</td>
    </tr>
    <tr><td>{% display_label 'tricot' %}</td>
        <td class="radio">{% display_field 'tricot' %}</td>
        <td>{% display_field 'tricot_rem' %}</td>
    </tr>
    <tr><td>{% display_label 'couture' %}</td>
        <td class="radio">{% display_field 'couture' %}</td>
        <td>{% display_field 'couture_rem' %}</td>
    </tr>

    <tr><th>Travaux en perles</th><th></th><th>Remarques</th></tr>
    <tr><td>{% display_label 'animaux_perles' %}</td>
        <td class="radio">{% display_field 'animaux_perles' %}</td>
        <td>{% display_field 'animaux_perles_rem' %}</td>
    </tr>
    <tr><td>{% display_label 'collier' %}</td>
        <td class="radio">{% display_field 'collier' %}</td>
        <td>{% display_field 'collier_rem' %}</td>
    </tr>

    <tr><th>Cartes</th><th></th><th>Remarques</th></tr>
    <tr><td>{% display_label 'papier_repousse' %}</td>
        <td class="radio">{% display_field 'papier_repousse' %}</td>
        <td>{% display_field 'papier_repousse_rem' %}</td>
    </tr>
    <tr><td>{% display_label 'picage' %}</td>
        <td class="radio">{% display_field 'picage' %}</td>
        <td>{% display_field 'picage_rem' %}</td>
    </tr>
    <tr><td>{% display_label 'tampon' %}</td>
        <td class="radio">{% display_field 'tampon' %}</td>
        <td>{% display_field 'tampon_rem' %}</td>
    </tr>
    <tr><td>{% display_label 'collage_sable' %}</td>
        <td class="radio">{% display_field 'collage_sable' %}</td>
        <td>{% display_field 'collage_sable_rem' %}</td>
    </tr>
    <tr><td>{% display_label 'peinture_div' %}</td>
        <td class="radio">{% display_field 'peinture_div' %}</td>
        <td>{% display_field 'peinture_div_rem' %}</td>
    </tr>

    <tr><th>Laine feutrée</th><th></th><th>Remarques</th></tr>
    <tr><td>{% display_label 'feutrage' %}</td>
        <td class="radio">{% display_field 'feutrage' %}</td>
        <td>{% display_field 'feutrage_rem' %}</td>
    </tr>
    <tr><td>{% display_label 'fleurs' %}</td>
        <td class="radio">{% display_field 'fleurs' %}</td>
        <td>{% display_field 'fleurs_rem' %}</td>
    </tr>
    <tr><td>{% display_label 'boules' %}</td>
        <td class="radio">{% display_field 'boules' %}</td>
        <td>{% display_field 'boules_rem' %}</td>
    </tr>

    <tr><th>Tissage</th><th></th><th>Remarques</th></tr>
    <tr><td>{% display_label 'papier' %}</td>
        <td class="radio">{% display_field 'papier' %}</td>
        <td>{% display_field 'papier_rem' %}</td>
    </tr>
    <tr><td>{% display_label 'fils' %}</td>
        <td class="radio">{% display_field 'fils' %}</td>
        <td>{% display_field 'fils_rem' %}</td>
    </tr>
    <tr><td>{% display_label 'batonnets' %}</td>
        <td class="radio">{% display_field 'batonnets' %}</td>
        <td>{% display_field 'batonnets_rem' %}</td>
    </tr>

    <tr><th>Artisanat divers</th><th></th><th>Remarques</th></tr>
    <tr><td>{% display_label 'mobidai' %}</td>
        <td class="radio">{% display_field 'mobidai' %}</td>
        <td>{% display_field 'mobidai_rem' %}</td>
    </tr>
    <tr><td>{% display_label 'capteur_reves' %}</td>
        <td class="radio">{% display_field 'capteur_reves' %}</td>
        <td>{% display_field 'capteur_reves_rem' %}</td>
    </tr>
    <tr><td>{% display_label 'macrame' %}</td>
        <td class="radio">{% display_field 'macrame' %}</td>
        <td>{% display_field 'macrame_rem' %}</td>
    </tr>
    <tr><td>{% display_label 'peinture_pochoir' %}</td>
        <td class="radio">{% display_field 'peinture_pochoir' %}</td>
        <td>{% display_field 'peinture_pochoir_rem' %}</td>
    </tr>
    <tr><td>{% display_label 'peinture_soie' %}</td>
        <td class="radio">{% display_field 'peinture_soie' %}</td>
        <td>{% display_field 'peinture_soie_rem' %}</td>
    </tr>
    <tr><td>{% display_label 'dessin' %}</td>
        <td class="radio">{% display_field 'dessin' %}</td>
        <td>{% display_field 'dessin_rem' %}</td>
    </tr>

    <tr><th>Activités sporadiques</th><th></th><th>Remarques</th></tr>
    <tr><td>{% display_label 'mosaique' %}</td>
        <td class="radio">{% display_field 'mosaique' %}</td>
        <td>{% display_field 'mosaique_rem' %}</td>
    </tr>

    <tr><th>Stand</th><th></th><th>Remarques</th></tr>
    <tr><td>{% display_label 'tenir_stand' %}</td>
        <td class="radio">{% display_field 'tenir_stand' %}</td>
        <td>{% display_field 'tenir_stand_rem' %}</td>
    </tr>
    <tr><td>{% display_label 'tenir_caisse' %}</td>
        <td class="radio">{% display_field 'tenir_caisse' %}</td>
        <td>{% display_field 'tenir_caisse_rem' %}</td>
    </tr>
    <tr><td>{% display_label 'vente_remplir' %}</td>
        <td class="radio">{% display_field 'vente_remplir' %}</td>
        <td>{% display_field 'vente_remplir_rem' %}</td>
    </tr>
</table>
<hr>
<div class="field-header">{% display_label 'activites_rem' %}</div>
<div class="field-content">{% display_field 'activites_rem' %}</div>

<table class="crea1-items">
    <tr><td></td><td></td><th>items 1 à 8 commentaires</th></tr>
    <tr><td>1.1 {% display_label 'item_comport_msp' %}</td>
        <td>{% display_field 'item_comport_msp' %}</td>
        <td>{% display_field 'item_comport_msp_rem' %}</td>
    </tr>
    <tr><td>1.2 {% display_label 'item_comport_coll' %}</td>
        <td>{% display_field 'item_comport_coll' %}</td>
        <td>{% display_field 'item_comport_coll_rem' %}</td>
    </tr>
    <tr><td>1.3 {% display_label 'item_productivite' %}</td>
        <td>{% display_field 'item_productivite' %}</td>
        <td>{% display_field 'item_productivite_rem' %}</td>
    </tr>
    <tr><td>1.4 {% display_label 'item_interch' %}</td>
        <td>{% display_field 'item_interch' %}</td>
        <td>{% display_field 'item_interch_rem' %}</td>
    </tr>
    <tr><td>1.5 {% display_label 'item_qualite' %}</td>
        <td>{% display_field 'item_qualite' %}</td>
        <td>{% display_field 'item_qualite_rem' %}</td>
    </tr>
    <tr><td>1.6 {% display_label 'item_effort' %}</td>
        <td>{% display_field 'item_effort' %}</td>
        <td>{% display_field 'item_effort_rem' %}</td>
    </tr>
    <tr><td>1.7 {% display_label 'item_horaire' %}</td>
        <td>{% display_field 'item_horaire' %}</td>
        <td>{% display_field 'item_horaire_rem' %}</td>
    </tr>
    <tr><td>1.8 {% display_label 'item_initiatives' %}</td>
        <td>{% display_field 'item_initiatives' %}</td>
        <td>{% display_field 'item_initiatives_rem' %}</td>
    </tr>
    <tr><td><b>Total des items</b></td>
        <td>{{ object.total_items }}</td>
    </tr>
</table>

<h3>Observations complémentaires</h3>

<table class="crea1-compl">
    <tr><td>{% display_label 'resistance_fatigue' %}</td><td>{% display_field 'resistance_fatigue' %}</td></tr>
    <tr><td>{% display_label 'sante' %}</td><td>{% display_field 'sante' %}</td></tr>
    <tr><td>{% display_label 'auto_evaluation' %}</td><td>{% display_field 'auto_evaluation' %}</td></tr>
    <tr><td>{% display_label 'memoire_consignes' %}</td><td>{% display_field 'memoire_consignes' %}</td></tr>
    <tr><td>{% display_label 'reaction_diff' %}</td><td>{% display_field 'reaction_diff' %}</td></tr>
    <tr><td>{% display_label 'orientation' %}</td><td>{% display_field 'orientation' %}</td></tr>
</table>

<div class="field-header">{% display_label 'ressources' %}</div>
<div class="field-content">{% display_field 'ressources' %}</div>

<div class="field-header">{% display_label 'difficultes' %}</div>
<div class="field-content">{% display_field 'difficultes' %}</div>

<div class="field-header">{% display_label 'objectifs' %}</div>
<div class="field-content">{% display_field 'objectifs' %}</div>
{% endblock %}

{% block buttons-bottom-right %}
<button class="linkButton" data-url="{{ request.path }}duplicate/"><img class="icon-in-button" src="{% static 'img/add.svg' %}" title="Duplique la fiche"> Dupliquer</button>
{% endblock %}
