{% extends 'base-detail.html' %}
{% load fhutils %}

{% block panel-head %}
<h3>Atelier créativité 2</h3>
{{ block.super }}
{% endblock %}

{% block panel-body %}
<div class="field-header">{% display_label 'activites' %}</div>
<div class="field-content">{% display_field 'activites' %}</div>

<table class="crea1-items">
    <tr><td></td><td></td><th>items 1 à 8 commentaires</th></tr>
    <tr><td>1.1 {% display_label 'item_comport_msp' %}</td>
        <td>{% display_field 'item_comport_msp' %}</td>
        <td>{% display_field 'item_comport_msp_rem' %}</td>
    </tr>
    <tr><td>1.2 {% display_label 'item_comport_coll' %}</td>
        <td>{% display_field 'item_comport_coll' %}</td>
        <td>{% display_field 'item_comport_coll_rem' %}</td>
    </tr>
    <tr><td>1.3 {% display_label 'item_productivite' %}</td>
        <td>{% display_field 'item_productivite' %}</td>
        <td>{% display_field 'item_productivite_rem' %}</td>
    </tr>
    <tr><td>1.4 {% display_label 'item_interch' %}</td>
        <td>{% display_field 'item_interch' %}</td>
        <td>{% display_field 'item_interch_rem' %}</td>
    </tr>
    <tr><td>1.5 {% display_label 'item_qualite' %}</td>
        <td>{% display_field 'item_qualite' %}</td>
        <td>{% display_field 'item_qualite_rem' %}</td>
    </tr>
    <tr><td>1.6 {% display_label 'item_effort' %}</td>
        <td>{% display_field 'item_effort' %}</td>
        <td>{% display_field 'item_effort_rem' %}</td>
    </tr>
    <tr><td>1.7 {% display_label 'item_horaire' %}</td>
        <td>{% display_field 'item_horaire' %}</td>
        <td>{% display_field 'item_horaire_rem' %}</td>
    </tr>
    <tr><td>1.8 {% display_label 'item_initiatives' %}</td>
        <td>{% display_field 'item_initiatives' %}</td>
        <td>{% display_field 'item_initiatives_rem' %}</td>
    </tr>
    <tr><td><b>Total des items</b></td>
        <td>{{ object.total_items }}</td>
    </tr>
</table>

<h3>Observations complémentaires</h3>

<table class="crea1-compl">
    <tr><td>{% display_label 'resistance' %}</td><td>{% display_field 'resistance' %}</td></tr>
    <tr><td>{% display_label 'sante' %}</td><td>{% display_field 'sante' %}</td></tr>
    <tr><td>{% display_label 'auto_evaluation' %}</td><td>{% display_field 'auto_evaluation' %}</td></tr>
    <tr><td>{% display_label 'memoire' %}</td><td>{% display_field 'memoire' %}</td></tr>
    <tr><td>{% display_label 'reaction_diff' %}</td><td>{% display_field 'reaction_diff' %}</td></tr>
    <tr><td>{% display_label 'orientation' %}</td><td>{% display_field 'orientation' %}</td></tr>
</table>

<div class="field-header">{% display_label 'ressources' %}</div>
<div class="field-content">{% display_field 'ressources' %}</div>

<div class="field-header">{% display_label 'difficultes' %}</div>
<div class="field-content">{% display_field 'difficultes' %}</div>

<div class="field-header">{% display_label 'objectifs' %}</div>
<div class="field-content">{% display_field 'objectifs' %}</div>
{% endblock %}

{% block buttons-bottom-right %}
<button class="linkButton" data-url="{{ request.path }}duplicate/"><img class="icon-in-button" src="{% static 'img/add.svg' %}" title="Duplique la fiche"> Dupliquer</button>
{% endblock %}
