{% extends 'base-detail.html' %}
{% load fhutils %}

{% block panel-head %}
<h3>Atelier cuisine</h3>
{{ block.super }}
{% endblock %}

{% block panel-body %}
<h3>Genre d'activités exercées dans l'atelier</h3>

<div><b>Horaire :</b><br>{% display_field 'horaire' %}</div>

<table class="atelier-radios atelier-cuisine">
    <tr><th>Généralités</th><th></th><th>Remarques</th></tr>
    <tr><td>{% display_label 'chercher_mat' %}</td>
        <td class="radio">{% display_field 'chercher_mat' %}</td>
        <td class="remarques" rowspan="9">{% display_field 'generalites_rem' %}</td>
    </tr>
    <tr><td>{% display_label 'installer_place' %}</td>
        <td class="radio">{% display_field 'installer_place' %}</td>
    </tr>
    <tr><td>{% display_label 'ranger' %}</td>
        <td class="radio">{% display_field 'ranger' %}</td>
    </tr>
    <tr><td>{% display_label 'utiliser_balance' %}</td>
        <td class="radio">{% display_field 'utiliser_balance' %}</td>
    </tr>
    <tr><td>{% display_label 'utiliser_mixer' %}</td>
        <td class="radio">{% display_field 'utiliser_mixer' %}</td>
    </tr>
    <tr><td>{% display_label 'suivre_recette' %}</td>
        <td class="radio">{% display_field 'suivre_recette' %}</td>
    </tr>
    <tr><td>{% display_label 'sachets_vente' %}</td>
        <td class="radio">{% display_field 'sachets_vente' %}</td>
    </tr>
    <tr><td>{% display_label 'etiquetage' %}</td>
        <td class="radio">{% display_field 'etiquetage' %}</td>
    </tr>
    <tr><td>{% display_label 'sachets_fermer' %}</td>
        <td class="radio">{% display_field 'sachets_fermer' %}</td>
    </tr>

    <tr><td colspan="3">Auto-contrôle des produits</td></tr>
    <tr><td>&nbsp;&nbsp;en cours de réalisation</td>
        <td class="radio">{% display_field 'auto_controle' %}</td>
        <td class="remarques" rowspan="6">{% display_field 'generalites_rem_10_15' %}</td>
    </tr>
    <tr><td>&nbsp;&nbsp;sur le produit fini</td>
        <td class="radio">{% display_field 'auto_controle_fini' %}</td>
    </tr>
    <tr><td>{% display_label 'telephoner' %}</td>
        <td class="radio">{% display_field 'telephoner' %}</td>
    </tr>
    <tr><td>{% display_label 'recevoir' %}</td>
        <td class="radio">{% display_field 'recevoir' %}</td>
    </tr>
    <tr><td>{% display_label 'gestion_stock' %}</td>
        <td class="radio">{% display_field 'gestion_stock' %}</td>
    </tr>
    <tr><td>{% display_label 'tempo_moteur' %}</td>
        <td class="radio">{% display_field 'tempo_moteur' %}</td>
    </tr>

    <tr><th>Bricelets</th><th></th><th>Remarques</th></tr>
    <tr><td>{% display_label 'prep_pate' %}</td>
        <td class="radio">{% display_field 'prep_pate' %}</td>
        <td class="remarques" rowspan="3">{% display_field 'bricelets_rem' %}</td>
    </tr>
    <tr><td>{% display_label 'cuisson' %}</td>
        <td class="radio">{% display_field 'cuisson' %}</td>
    </tr>
    <tr><td>{% display_label 'bricelet_finition' %}</td>
        <td class="radio">{% display_field 'bricelet_finition' %}</td>
    </tr>

    <tr><th>Sels</th><th></th><th>Remarques</th></tr>
    <tr><td>{% display_label 'prep_herbes' %}</td>
        <td class="radio">{% display_field 'prep_herbes' %}</td>
        <td class="remarques" rowspan="4">{% display_field 'sels_rem' %}</td>
    </tr>
    <tr><td>{% display_label 'prep_legumes' %}</td>
        <td class="radio">{% display_field 'prep_legumes' %}</td>
    </tr>
    <tr><td>{% display_label 'melange' %}</td>
        <td class="radio">{% display_field 'melange' %}</td>
    </tr>
    <tr><td>{% display_label 'emplissage_bocaux' %}</td>
        <td class="radio">{% display_field 'emplissage_bocaux' %}</td>
    </tr>

    <tr><th>Cakes salés</th><th></th><th>Remarques</th></tr>
    <tr><td>{% display_label 'prep_ingredients' %}</td>
        <td class="radio">{% display_field 'prep_ingredients' %}</td>
        <td class="remarques" rowspan="3">{% display_field 'cakes_sales_rem' %}</td>
    </tr>
    <tr><td>{% display_label 'melange_cake_sale' %}</td>
        <td class="radio">{% display_field 'melange_cake_sale' %}</td>
    </tr>
    <tr><td>{% display_label 'mise_moule' %}</td>
        <td class="radio">{% display_field 'mise_moule' %}</td>
    </tr>

    <tr><th>Cakes sucrés</th><th></th><th>Remarques</th></tr>
    <tr><td>{% display_label 'prep_ingredients_cake' %}</td>
        <td class="radio">{% display_field 'prep_ingredients_cake' %}</td>
        <td class="remarques" rowspan="4">{% display_field 'cakes_sucres_rem' %}</td>
    </tr>
    <tr><td>{% display_label 'melange_cake_sucre' %}</td>
        <td class="radio">{% display_field 'melange_cake_sucre' %}</td>
    </tr>
    <tr><td>{% display_label 'mise_moule_cake' %}</td>
        <td class="radio">{% display_field 'mise_moule_cake' %}</td>
    </tr>
    <tr><td>{% display_label 'glacage' %}</td>
        <td class="radio">{% display_field 'glacage' %}</td>
    </tr>

    <tr><th>Feuilletés</th><th></th><th>Remarques</th></tr>
    <tr><td>{% display_label 'badigeonner' %}</td>
        <td class="radio">{% display_field 'badigeonner' %}</td>
        <td class="remarques" rowspan="5">{% display_field 'feuilletes_rem' %}</td>
    </tr>
    <tr><td>{% display_label 'emplissage' %}</td>
        <td class="radio">{% display_field 'emplissage' %}</td>
    </tr>
    <tr><td>{% display_label 'rouler' %}</td>
        <td class="radio">{% display_field 'rouler' %}</td>
    </tr>
    <tr><td>{% display_label 'couper' %}</td>
        <td class="radio">{% display_field 'couper' %}</td>
    </tr>
    <tr><td>{% display_label 'mise_cuisson' %}</td>
        <td class="radio">{% display_field 'mise_cuisson' %}</td>
    </tr>

    <tr><th>Légumes dips</th><th></th><th>Remarques</th></tr>
    <tr><td>{% display_label 'peler_legumes' %}</td>
        <td class="radio">{% display_field 'peler_legumes' %}</td>
        <td class="remarques" rowspan="5">{% display_field 'legumes_dips_rem' %}</td>
    </tr>
    <tr><td>{% display_label 'couper_legumes' %}</td>
        <td class="radio">{% display_field 'couper_legumes' %}</td>
    </tr>
    <tr><td>{% display_label 'mise_assiette' %}</td>
        <td class="radio">{% display_field 'mise_assiette' %}</td>
    </tr>
    <tr><td>{% display_label 'melange_sauce' %}</td>
        <td class="radio">{% display_field 'melange_sauce' %}</td>
    </tr>
    <tr><td>{% display_label 'mise_pot' %}</td>
        <td class="radio">{% display_field 'mise_pot' %}</td>
    </tr>

    <tr><th>Confitures</th><th></th><th>Remarques</th></tr>
    <tr><td>{% display_label 'prep_fruits' %}</td>
        <td class="radio">{% display_field 'prep_fruits' %}</td>
        <td class="remarques" rowspan="3">{% display_field 'confitures_rem' %}</td>
    </tr>
    <tr><td>{% display_label 'brasser' %}</td>
        <td class="radio">{% display_field 'brasser' %}</td>
    </tr>
    <tr><td>{% display_label 'mise_bocaux' %}</td>
        <td class="radio">{% display_field 'mise_bocaux' %}</td>
    </tr>

    <tr><th>Amandes au ?</th><th></th><th>Remarques</th></tr>
    <tr><td>{% display_label 'prep_ingredients_amandes' %}</td>
        <td class="radio">{% display_field 'prep_ingredients_amandes' %}</td>
        <td class="remarques" rowspan="2">{% display_field 'amandes_rem' %}</td>
    </tr>
    <tr><td>{% display_label 'cuisson_amandes' %}</td>
        <td class="radio">{% display_field 'cuisson_amandes' %}</td>
    </tr>

    <tr><th>Petits biscuits sucrés</th><th></th><th>Remarques</th></tr>
    <tr><td>{% display_label 'prep_ingredients_biscuits' %}</td>
        <td class="radio">{% display_field 'prep_ingredients_biscuits' %}</td>
        <td class="remarques" rowspan="2">{% display_field 'biscuits_sucres_rem1' %}</td>
    </tr>
    <tr><td>{% display_label 'conditionnement' %}</td>
        <td class="radio">{% display_field 'conditionnement' %}</td>
    </tr>
    <tr><td colspan="3">Façonnage biscuits :</td></tr>
    <tr><td>&nbsp;&nbsp;à l'emporte-pièce</td>
        <td class="radio">{% display_field 'faconnage_piece' %}</td>
        <td class="remarques" rowspan="4">{% display_field 'biscuits_sucres_rem2' %}</td>
    </tr>
    <tr><td>&nbsp;&nbsp;à la main</td>
        <td class="radio">{% display_field 'faconnage_main' %}</td>
    </tr>
    <tr><td>{% display_label 'mise_plaque' %}</td>
        <td class="radio">{% display_field 'mise_plaque' %}</td>
    </tr>
    <tr><td>{% display_label 'decoration' %}</td>
        <td class="radio">{% display_field 'decoration' %}</td>
    </tr>
</table>
<hr>
<div class="field-header">{% display_label 'activites_rem' %}</div>
<div class="field-content">{% display_field 'activites_rem' %}</div>

<table class="crea1-items">
    <tr><td></td><td></td><th>items 1 à 8 commentaires</th></tr>
    <tr><td>1.1 {% display_label 'item_comport_msp' %}</td>
        <td>{% display_field 'item_comport_msp' %}</td>
        <td>{% display_field 'item_comport_msp_rem' %}</td>
    </tr>
    <tr><td>1.2 {% display_label 'item_comport_coll' %}</td>
        <td>{% display_field 'item_comport_coll' %}</td>
        <td>{% display_field 'item_comport_coll_rem' %}</td>
    </tr>
    <tr><td>1.3 {% display_label 'item_productivite' %}</td>
        <td>{% display_field 'item_productivite' %}</td>
        <td>{% display_field 'item_productivite_rem' %}</td>
    </tr>
    <tr><td>1.4 {% display_label 'item_interch' %}</td>
        <td>{% display_field 'item_interch' %}</td>
        <td>{% display_field 'item_interch_rem' %}</td>
    </tr>
    <tr><td>1.5 {% display_label 'item_qualite' %}</td>
        <td>{% display_field 'item_qualite' %}</td>
        <td>{% display_field 'item_qualite_rem' %}</td>
    </tr>
    <tr><td>1.6 {% display_label 'item_effort' %}</td>
        <td>{% display_field 'item_effort' %}</td>
        <td>{% display_field 'item_effort_rem' %}</td>
    </tr>
    <tr><td>1.7 {% display_label 'item_horaire' %}</td>
        <td>{% display_field 'item_horaire' %}</td>
        <td>{% display_field 'item_horaire_rem' %}</td>
    </tr>
    <tr><td>1.8 {% display_label 'item_initiatives' %}</td>
        <td>{% display_field 'item_initiatives' %}</td>
        <td>{% display_field 'item_initiatives_rem' %}</td>
    </tr>
    <tr><td><b>Total des items</b></td>
        <td>{{ object.total_items }}</td>
    </tr>
</table>

<h3>Observations complémentaires</h3>

<table class="crea1-compl">
    <tr><td>{% display_label 'resistance' %}</td><td>{% display_field 'resistance' %}</td></tr>
    <tr><td>{% display_label 'sante' %}</td><td>{% display_field 'sante' %}</td></tr>
    <tr><td>{% display_label 'auto_evaluation' %}</td><td>{% display_field 'auto_evaluation' %}</td></tr>
    <tr><td>{% display_label 'memoire_consignes' %}</td><td>{% display_field 'memoire_consignes' %}</td></tr>
    <tr><td>{% display_label 'memoire_diff' %}</td><td>{% display_field 'memoire_diff' %}</td></tr>
    <tr><td>{% display_label 'orientation' %}</td><td>{% display_field 'orientation' %}</td></tr>
</table>

<div class="field-header">{% display_label 'difficultes' %}</div>
<div class="field-content">{% display_field 'difficultes' %}</div>

<div class="field-header">{% display_label 'ressources' %}</div>
<div class="field-content">{% display_field 'ressources' %}</div>

<div class="field-header">{% display_label 'objectifs' %}</div>
<div class="field-content">{% display_field 'objectifs' %}</div>
{% endblock %}

{% block buttons-bottom-right %}
<button class="linkButton" data-url="{{ request.path }}duplicate/"><img class="icon-in-button" src="{% static 'img/add.svg' %}" title="Duplique la fiche"> Dupliquer</button>
{% endblock %}
