{% load fhutils %}

{% if new_form_label %}
<button class="linkButton" data-url="{{ new_form_url }}">{{ new_form_label }}</button>
{% endif %}

{% if object_list %}
<form class="documents" method="POST">{% csrf_token %}
<table class="item-list">
    <thead><th>Date du doc.</th><th>Document</th><th>Ajout</th></thead>
    <tbody>
    {% for item in object_list %}
    <tr><td>{{ item|field_in_list:'date_doc' }}</td>
        <td><a href="{{ item.get_absolute_url }}">{{ item.titre }}</a></td>
        <td><em>Ajouté le {{ item|field_in_list:'date' }} par {{ item.createur|short_visa }}</em></td>
        <td class="buttons">{% if perms.person.delete_document %}
            <img class="icon-standalone" src="{% static 'img/delete.svg' %}"
                 data-url="{% url 'at_arihane-delete' item.person.pk item.pk %}"
                 onclick="deleteItem(this)" title="Supprimer ce document">
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</form>
{% endif %}
