{% extends 'base-detail.html' %}
{% load fhutils %}

{% block panel-head %}
<h3>Atelier informatique</h3>
{{ block.super }}
{% endblock %}

{% block panel-body %}
<h3>Genre d'activités exercées dans l'atelier</h3>

<div><b>Horaire info :</b><br>{% display_field 'horaire' %}</div>

<table class="atelier-radios atelier-cuisine">
    <tr><th>Activités de base</th><th></th><th>Remarques</th></tr>
    <tr><td>{% display_label 'travail_seul' %}</td>
        <td class="radio">{% display_field 'travail_seul' %}</td>
        <td class="remarques">{% display_field 'travail_seul_rem' %}</td>
    </tr>
    <tr><td>{% display_label 'saisie_texte' %}</td>
        <td class="radio">{% display_field 'saisie_texte' %}</td>
        <td class="remarques">{% display_field 'saisie_texte_rem' %}</td>
    </tr>

    <tr><th>Traitement de texte</th><th></th><th>Remarques</th></tr>
    <tr><td>{% display_label 'mep_simple' %}</td>
        <td class="radio">{% display_field 'mep_simple' %}</td>
        <td class="remarques">{% display_field 'mep_simple_rem' %}</td>
    </tr>
    <tr><td>{% display_label 'mep_elaboree' %}</td>
        <td class="radio">{% display_field 'mep_elaboree' %}</td>
        <td class="remarques">{% display_field 'mep_elaboree_rem' %}</td>
    </tr>
    <tr><td>{% display_label 'rediger' %}</td>
        <td class="radio">{% display_field 'rediger' %}</td>
        <td class="remarques">{% display_field 'rediger_rem' %}</td>
    </tr>
    <tr><td>{% display_label 'publipostage' %}</td>
        <td class="radio">{% display_field 'publipostage' %}</td>
        <td class="remarques">{% display_field 'publipostage_rem' %}</td>
    </tr>

    <tr><th>Gestion de fichiers</th><th></th><th>Remarques</th></tr>
    <tr><td>{% display_label 'ajout_adr' %}</td>
        <td class="radio">{% display_field 'ajout_adr' %}</td>
        <td class="remarques">{% display_field 'ajout_adr_rem' %}</td>
    </tr>
    <tr><td>{% display_label 'creer_bd' %}</td>
        <td class="radio">{% display_field 'creer_bd' %}</td>
        <td class="remarques">{% display_field 'creer_bd_rem' %}</td>
    </tr>

    <tr><th>Compta</th><th></th><th>Remarques</th></tr>
    <tr><td>{% display_label 'compta_simple' %}</td>
        <td class="radio">{% display_field 'compta_simple' %}</td>
        <td class="remarques">{% display_field 'compta_simple_rem' %}</td>
    </tr>
    <tr><td>{% display_label 'compta_double' %}</td>
        <td class="radio">{% display_field 'compta_double' %}</td>
        <td class="remarques">{% display_field 'compta_double_rem' %}</td>
    </tr>

    <tr><th>Composition</th><th></th><th>Remarques</th></tr>
    <tr><td>{% display_label 'affiche' %}</td>
        <td class="radio">{% display_field 'affiche' %}</td>
        <td class="remarques">{% display_field 'affiche_rem' %}</td>
    </tr>
    <tr><td>{% display_label 'mep_journal' %}</td>
        <td class="radio">{% display_field 'mep_journal' %}</td>
        <td class="remarques">{% display_field 'mep_journal_rem' %}</td>
    </tr>
    <tr><td>{% display_label 'recherche_crea' %}</td>
        <td class="radio">{% display_field 'recherche_crea' %}</td>
        <td class="remarques">{% display_field 'recherche_crea_rem' %}</td>
    </tr>

    <tr><th>Graphisme</th><th></th><th>Remarques</th></tr>
    <tr><td>{% display_label 'dessin_illustr' %}</td>
        <td class="radio">{% display_field 'dessin_illustr' %}</td>
        <td class="remarques">{% display_field 'dessin_illustr_rem' %}</td>
    </tr>
    <tr><td>{% display_label 'retoucher' %}</td>
        <td class="radio">{% display_field 'retoucher' %}</td>
        <td class="remarques">{% display_field 'retoucher_rem' %}</td>
    </tr>

    <tr><th>Scanner</th><th></th><th>Remarques</th></tr>
    <tr><td>{% display_label 'scanner' %}</td>
        <td class="radio">{% display_field 'scanner' %}</td>
        <td class="remarques">{% display_field 'scanner_rem' %}</td>
    </tr>
    <tr><td>{% display_label 'ocr' %}</td>
        <td class="radio">{% display_field 'ocr' %}</td>
        <td class="remarques">{% display_field 'ocr_rem' %}</td>
    </tr>

    <tr><th>Internet</th><th></th><th>Remarques</th></tr>
    <tr><td>{% display_label 'courriel' %}</td>
        <td class="radio">{% display_field 'courriel' %}</td>
        <td class="remarques">{% display_field 'courriel_rem' %}</td>
    </tr>
    <tr><td>{% display_label 'recherche' %}</td>
        <td class="radio">{% display_field 'recherche' %}</td>
        <td class="remarques">{% display_field 'recherche_rem' %}</td>
    </tr>

    <tr><th>Travaux de finition</th><th></th><th>Remarques</th></tr>
    <tr><td>{% display_label 'pliage' %}</td>
        <td class="radio">{% display_field 'pliage' %}</td>
        <td class="remarques">{% display_field 'pliage_rem' %}</td>
    </tr>
    <tr><td>{% display_label 'assemblage' %}</td>
        <td class="radio">{% display_field 'assemblage' %}</td>
        <td class="remarques">{% display_field 'assemblage_rem' %}</td>
    </tr>
    <tr><td>{% display_label 'coupe' %}</td>
        <td class="radio">{% display_field 'coupe' %}</td>
        <td class="remarques">{% display_field 'coupe_rem' %}</td>
    </tr>
    <tr><td>{% display_label 'photocopies' %}</td>
        <td class="radio">{% display_field 'photocopies' %}</td>
        <td class="remarques">{% display_field 'photocopies_rem' %}</td>
    </tr>
</table>
<hr>
<div class="field-header">{% display_label 'activites_rem' %}</div>
<div class="field-content">{% display_field 'activites_rem' %}</div>

<table class="crea1-items">
    <tr><td></td><td></td><th>items 1 à 8 commentaires</th></tr>
    <tr><td>1.1 {% display_label 'item_comport_msp' %}</td>
        <td>{% display_field 'item_comport_msp' %}</td>
        <td>{% display_field 'item_comport_msp_rem' %}</td>
    </tr>
    <tr><td>1.2 {% display_label 'item_comport_coll' %}</td>
        <td>{% display_field 'item_comport_coll' %}</td>
        <td>{% display_field 'item_comport_coll_rem' %}</td>
    </tr>
    <tr><td>1.3 {% display_label 'item_productivite' %}</td>
        <td>{% display_field 'item_productivite' %}</td>
        <td>{% display_field 'item_productivite_rem' %}</td>
    </tr>
    <tr><td>1.4 {% display_label 'item_interch' %}</td>
        <td>{% display_field 'item_interch' %}</td>
        <td>{% display_field 'item_interch_rem' %}</td>
    </tr>
    <tr><td>1.5 {% display_label 'item_qualite' %}</td>
        <td>{% display_field 'item_qualite' %}</td>
        <td>{% display_field 'item_qualite_rem' %}</td>
    </tr>
    <tr><td>1.6 {% display_label 'item_effort' %}</td>
        <td>{% display_field 'item_effort' %}</td>
        <td>{% display_field 'item_effort_rem' %}</td>
    </tr>
    <tr><td>1.7 {% display_label 'item_horaire' %}</td>
        <td>{% display_field 'item_horaire' %}</td>
        <td>{% display_field 'item_horaire_rem' %}</td>
    </tr>
    <tr><td>1.8 {% display_label 'item_initiatives' %}</td>
        <td>{% display_field 'item_initiatives' %}</td>
        <td>{% display_field 'item_initiatives_rem' %}</td>
    </tr>
    <tr><td><b>Total des items</b></td>
        <td>{{ object.total_items }}</td>
    </tr>
</table>

<h3>Observations complémentaires</h3>

<table class="crea1-compl">
    <tr><td>{% display_label 'resistance' %}</td><td>{% display_field 'resistance' %}</td></tr>
    <tr><td>{% display_label 'sante' %}</td><td>{% display_field 'sante' %}</td></tr>
    <tr><td>{% display_label 'auto_evaluation' %}</td><td>{% display_field 'auto_evaluation' %}</td></tr>
    <tr><td>{% display_label 'memoire' %}</td><td>{% display_field 'memoire' %}</td></tr>
    <tr><td>{% display_label 'reaction_diff' %}</td><td>{% display_field 'reaction_diff' %}</td></tr>
    <tr><td>{% display_label 'orientation' %}</td><td>{% display_field 'orientation' %}</td></tr>
</table>

<div class="field-header">{% display_label 'ressources' %}</div>
<div class="field-content">{% display_field 'ressources' %}</div>

<div class="field-header">{% display_label 'difficultes' %}</div>
<div class="field-content">{% display_field 'difficultes' %}</div>

<div class="field-header">{% display_label 'objectifs' %}</div>
<div class="field-content">{% display_field 'objectifs' %}</div>
{% endblock %}

{% block buttons-bottom-right %}
<button class="linkButton" data-url="{{ request.path }}duplicate/"><img class="icon-in-button" src="{% static 'img/add.svg' %}" title="Duplique la fiche"> Dupliquer</button>
{% endblock %}
