{% extends 'base-detail.html' %}
{% load fhutils %}

{% block panel-head %}
<h3>Atelier Poste</h3>
{{ block.super }}
{% endblock %}

{% block panel-body %}
<div><b>Début de l'activité :</b><br>{% display_field 'debut_act' %}</div>

<h3>Apprentissage et maintien</h3>
<p>NP: non pertinent, 0: Aucun soutien, 1: incitation de départ et/ou contrôle final, 2: indication et supervision</p>

<table class="atelier-poste">
    <tr><th class="lev1" colspan="3">Travaux à l'arrière du guichet</th></tr>
    <tr><th class="lev2">Prép. avant ouverture et</th><th>Évaluation</th><th>Remarques</th></tr>
    <tr><th class="lev3" colspan="3">préparation matériel</th></tr>
    <tr><td>{% display_label 'caisses_grises' %}</td><td>{% display_field 'caisses_grises' %}</td>
        <td rowspan="5">{% display_field 'prep_rem1' %}</td></tr>
    <tr><td>{% display_label 'petit_mat' %}</td><td>{% display_field 'petit_mat' %}</td></tr>
    <tr><td>{% display_label 'controle_date' %}</td><td>{% display_field 'controle_date' %}</td></tr>
    <tr><td>{% display_label 'activer_scanner' %}</td><td>{% display_field 'activer_scanner' %}</td></tr>
    <tr><td>{% display_label 'activer_pos' %}</td><td>{% display_field 'activer_pos' %}</td></tr>

    <tr><th class="lev3" colspan="3">contrôle de la caisse</th></tr>
    <tr><td>{% display_label 'compter_caisse' %}</td><td>{% display_field 'compter_caisse' %}</td>
        <td rowspan="3">{% display_field 'prep_rem2' %}</td></tr>
    <tr><td>{% display_label 'compter_reserve' %}</td><td>{% display_field 'compter_reserve' %}</td></tr>
    <tr><td>{% display_label 'compter_vignettes' %}</td><td>{% display_field 'compter_vignettes' %}</td></tr>

    <tr><th class="lev2" colspan="3">Travaux sur l'ordi</th></tr>
    <tr><td>{% display_label 'transcrire_caisse' %}</td><td>{% display_field 'transcrire_caisse' %}</td>
        <td rowspan="6">{% display_field 'travaux_ordi_rem1' %}</td></tr>
    <tr><td>{% display_label 'noter_avances' %}</td><td>{% display_field 'noter_avances' %}</td></tr>
    <tr><td>{% display_label 'inscr_z1' %}</td><td>{% display_field 'inscr_z1' %}</td></tr>
    <tr><td>{% display_label 'constat_erreur' %}</td><td>{% display_field 'constat_erreur' %}</td></tr>
    <tr><td>{% display_label 'erreurs' %}</td><td>{% display_field 'erreurs' %}</td></tr>
    <tr><td>{% display_label 'rech_postech' %}</td><td>{% display_field 'rech_postech' %}</td></tr>

    <tr><th class="lev3" colspan="3">Traitement des avisés du</th></tr>
    <tr><td>{% display_label 'scanner_recep' %}</td><td>{% display_field 'scanner_recep' %}</td>
        <td rowspan="3">{% display_field 'travaux_ordi_rem2' %}</td></tr>
    <tr><td>{% display_label 'inscr_colis' %}</td><td>{% display_field 'inscr_colis' %}</td></tr>
    <tr><td>{% display_label 'rang_colis' %}</td><td>{% display_field 'rang_colis' %}</td></tr>

    <tr><th class="lev3" colspan="3">Traitement des retours</th></tr>
    <tr><td>{% display_label 'trouver_lettres' %}</td><td>{% display_field 'trouver_lettres' %}</td>
        <td rowspan="6">{% display_field 'travaux_ordi_rem3' %}</td></tr>
    <tr><td>{% display_label 'trouver_colis' %}</td><td>{% display_field 'trouver_colis' %}</td></tr>
    <tr><td>{% display_label 'tracer_numpostal' %}</td><td>{% display_field 'tracer_numpostal' %}</td></tr>
    <tr><td>{% display_label 'coller_etiq_jaunes' %}</td><td>{% display_field 'coller_etiq_jaunes' %}</td></tr>
    <tr><td>{% display_label 'inscr_retour' %}</td><td>{% display_field 'inscr_retour' %}</td></tr>
    <tr><td>{% display_label 'scanner_retours' %}</td><td>{% display_field 'scanner_retours' %}</td></tr>

    <tr><th class="lev3" colspan="3">Traitement des remboursements</th></tr>
    <tr><td>{% display_label 'inscr_rbt' %}</td><td>{% display_field 'inscr_rbt' %}</td>
        <td rowspan="3">{% display_field 'travaux_ordi_rem4' %}</td></tr>
    <tr><td>{% display_label 'argent_pochette' %}</td><td>{% display_field 'argent_pochette' %}</td></tr>
    <tr><td>{% display_label 'effect_total' %}</td><td>{% display_field 'effect_total' %}</td></tr>

    <tr><th class="lev3" colspan="3">Tri des envois déposés</th></tr>
    <tr><td>{% display_label 'lettre_ch' %}</td><td>{% display_field 'lettre_ch' %}</td>
        <td rowspan="6">{% display_field 'travaux_ordi_rem5' %}</td></tr>
    <tr><td>{% display_label 'lettre_etranger' %}</td><td>{% display_field 'lettre_etranger' %}</td></tr>
    <tr><td>{% display_label 'maxilettre' %}</td><td>{% display_field 'maxilettre' %}</td></tr>
    <tr><td>{% display_label 'colis_ch' %}</td><td>{% display_field 'colis_ch' %}</td></tr>
    <tr><td>{% display_label 'colis_etranger' %}</td><td>{% display_field 'colis_etranger' %}</td></tr>
    <tr><td>{% display_label 'express' %}</td><td>{% display_field 'express' %}</td></tr>

    <tr><th class="lev1" colspan="3">Travail au guichet</th></tr>
    <tr><th class="lev2" colspan="3">Accueil du client</th></tr>
    <tr><td>{% display_label 'amabilite' %}</td><td>{% display_field 'amabilite' %}</td>
        <td rowspan="4">{% display_field 'travaux_guich_rem1' %}</td></tr>
    <tr><td>{% display_label 'parler_distinct' %}</td><td>{% display_field 'parler_distinct' %}</td></tr>
    <tr><td>{% display_label 'comprendre' %}</td><td>{% display_field 'comprendre' %}</td></tr>
    <tr><td>{% display_label 'stress' %}</td><td>{% display_field 'stress' %}</td></tr>

    <tr><th class="lev2" colspan="3">Utilisation du EFT/POS</th></tr>
    <tr><td>{% display_label 'activer_pos2' %}</td><td>{% display_field 'activer_pos2' %}</td>
        <td rowspan="3">{% display_field 'travaux_guich_rem2' %}</td></tr>
    <tr><td>{% display_label 'effect_retrait' %}</td><td>{% display_field 'effect_retrait' %}</td></tr>
    <tr><td>{% display_label 'desactiver_pos' %}</td><td>{% display_field 'desactiver_pos' %}</td></tr>

    <tr><th class="lev2" colspan="3">Utilisation de la caisse</th></tr>
    <tr><td>{% display_label 'allumer_caisse' %}</td><td>{% display_field 'allumer_caisse' %}</td>
        <td rowspan="3">{% display_field 'travaux_guich_rem3' %}</td></tr>
    <tr><td>{% display_label 'effect_ops' %}</td><td>{% display_field 'effect_ops' %}</td></tr>
    <tr><td>{% display_label 'extraire_z1' %}</td><td>{% display_field 'extraire_z1' %}</td></tr>

    <tr><th class="lev2" colspan="3">Distribution des avisés</th></tr>
    <tr><th class="lev3" colspan="3">colis</th></tr>
    <tr><td>{% display_label 'colis_sign' %}</td><td>{% display_field 'colis_sign' %}</td>
        <td rowspan="4">{% display_field 'travaux_guich_rem4' %}</td></tr>
    <tr><td>{% display_label 'colis_remb' %}</td><td>{% display_field 'colis_remb' %}</td></tr>
    <tr><td>{% display_label 'colis_propre' %}</td><td>{% display_field 'colis_propre' %}</td></tr>
    <tr><td>{% display_label 'dispobox' %}</td><td>{% display_field 'dispobox' %}</td></tr>

    <tr><th class="lev3" colspan="3">lettres</th></tr>
    <tr><td>{% display_label 'lettre_recomm' %}</td><td>{% display_field 'lettre_recomm' %}</td>
        <td rowspan="5">{% display_field 'travaux_guich_rem5' %}</td></tr>
    <tr><td>{% display_label 'lettre_reception' %}</td><td>{% display_field 'lettre_reception' %}</td></tr>
    <tr><td>{% display_label 'lettre_remb' %}</td><td>{% display_field 'lettre_remb' %}</td></tr>
    <tr><td>{% display_label 'acte_jud' %}</td><td>{% display_field 'acte_jud' %}</td></tr>
    <tr><td>{% display_label 'acte_poursuite' %}</td><td>{% display_field 'acte_poursuite' %}</td></tr>

    <tr><th class="lev2" colspan="3">Dépôt</th></tr>
    <tr><th class="lev3" colspan="3">colis CH</th></tr>
    <tr><td>{% display_label 'ticket_balance1' %}</td><td>{% display_field 'ticket_balance1' %}</td>
        <td rowspan="7">{% display_field 'depot_rem1' %}</td></tr>
    <tr><td>{% display_label 'coller_etiqu_colis' %}</td><td>{% display_field 'coller_etiqu_colis' %}</td></tr>
    <tr><td>{% display_label 'remplir_conf' %}</td><td>{% display_field 'remplir_conf' %}</td></tr>
    <tr><td>{% display_label 'suppl_propre' %}</td><td>{% display_field 'suppl_propre' %}</td></tr>
    <tr><td>{% display_label 'suppl_remb' %}</td><td>{% display_field 'suppl_remb' %}</td></tr>
    <tr><td>{% display_label 'mil_cec' %}</td><td>{% display_field 'mil_cec' %}</td></tr>
    <tr><td>{% display_label 'gas' %}</td><td>{% display_field 'gas' %}</td></tr>

    <tr><th class="lev3" colspan="3">lettres CH</th></tr>
    <tr><td>{% display_label 'ticket_balance2' %}</td><td>{% display_field 'ticket_balance2' %}</td>
        <td rowspan="10">{% display_field 'depot_rem2' %}</td></tr>
    <tr><td>{% display_label 'coller_etiq' %}</td><td>{% display_field 'coller_etiq' %}</td></tr>
    <tr><td>{% display_label 'remplir_conf_r' %}</td><td>{% display_field 'remplir_conf_r' %}</td></tr>
    <tr><td>{% display_label 'r_accrecep' %}</td><td>{% display_field 'r_accrecep' %}</td></tr>
    <tr><td>{% display_label 'r_rembours' %}</td><td>{% display_field 'r_rembours' %}</td></tr>
    <tr><td>{% display_label 'r_propre' %}</td><td>{% display_field 'r_propre' %}</td></tr>
    <tr><td>{% display_label 'mil_aveugle' %}</td><td>{% display_field 'mil_aveugle' %}</td></tr>
    <tr><td>{% display_label 'lettre_pp' %}</td><td>{% display_field 'lettre_pp' %}</td></tr>
    <tr><td>{% display_label 'rec_310' %}</td><td>{% display_field 'rec_310' %}</td></tr>
    <tr><td>{% display_label 'lettre_form' %}</td><td>{% display_field 'lettre_form' %}</td></tr>

    <tr><th class="lev3" colspan="3">colis étranger</th></tr>
    <tr><td>{% display_label 'ticket_balance3' %}</td><td>{% display_field 'ticket_balance3' %}</td>
        <td rowspan="2">{% display_field 'depot_rem3' %}</td></tr>
    <tr><td>{% display_label 'rempl_voiture' %}</td><td>{% display_field 'rempl_voiture' %}</td></tr>

    <tr><th class="lev3" colspan="3">lettres étranger</th></tr>
    <tr><td>{% display_label 'prio_eco' %}</td><td>{% display_field 'prio_eco' %}</td>
        <td rowspan="5">{% display_field 'depot_rem4' %}</td></tr>
    <tr><td>{% display_label 'suppl_recomm' %}</td><td>{% display_field 'suppl_recomm' %}</td></tr>
    <tr><td>{% display_label 'r_accrecep1' %}</td><td>{% display_field 'r_accrecep1' %}</td></tr>
    <tr><td>{% display_label 'r_contre_remb' %}</td><td>{% display_field 'r_contre_remb' %}</td></tr>
    <tr><td>{% display_label 'r_remise_propre' %}</td><td>{% display_field 'r_remise_propre' %}</td></tr>

    <tr><td><b>Total des items :</b></td><td>{{ object.total_items }}</td></tr>
</table>
<p></p>
<table class="atelier-poste">
    <tr><th class="lev1">Indépendance</th><td>Nombre d'aide ou contrôle par heure</td></tr>
    <tr><td><b>Travaux à l'arrière du guichet</b></td>
        <td>{% display_field 'nb_ctrl_heure1' %}</td>
        <td rowspan="2">{% display_field 'indep_rem' %}</td>
    </tr>
    <tr><td><b>Travail au guichet</b></td>
        <td>{% display_field 'nb_ctrl_heure2' %}</td>
</table>

{% endblock %}
