<td>{{ form.titre.errors}}{{ form.titre }}</td>
<td>{{ form.resident }}</td>
<td>{{ form.personnel }}</td>
<td>{{ form.description.errors}}{{ form.description }}<br>
    {{ form.order }}
    <div class="form-buttons">
        <button type="submit" formaction="{{ request.path }}" onclick="saveRowForm(event, this)">Enregistrer</button>
        <button class="cancel-rel" onclick="cancelRow(event, this)">Annuler</button>
    </div>
</td>
