{% load fhutils %}
<tr data-pk="{{ item.pk }}" class="{{ classes }}">
    <td>{{ item.titre }}</td>
    <td class="centered">{{ item.resident|bool_as_x }}</td>
    <td class="centered">{{ item.personnel|bool_as_x }}</td>
    <td>
        <div id="history-{{ item.pk }}" class="history" data-url="{{ item.object_history_url }}"></div>
        {{ item.description|linebreaksbr }}
    </td>
    <td class="buttons">
        {% if editionok %}
            <img class="icon-standalone" src="{% static 'img/edit.svg' %}"
                 data-url="{% url 'actesjourn-edititem' item.actes.person.pk item.pk %}"
                 onclick="editRow(this)" title="Modifier cette ligne">
            <img class="icon-standalone" src="{% static 'img/delete.svg' %}"
                 data-url="{% url 'actesjourn-delitem' item.actes.person.pk item.pk %}"
                 onclick="deleteItem(this)" title="Supprimer cette ligne">
            <br>
            <img class="handler" src="{% static 'img/move.png' %}">
            <img class="icon-standalone history-switcher" src="{% static 'img/clock.svg' %}"
                 data-target="history-{{ item.pk }}"
                 title="Cliquez pour afficher ou masquer l’historique">
        {% endif %}
    </td>
</tr>
