{% extends 'base-detail.html' %}
{% load fhutils %}

{% block panel-body %}
<div class="field-header">Objectifs de soins :</div>
<div class="field-content">{% display_field 'objectifs' %}</div>

{% if is_form %}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    {% form_foot %}
{% else %}
    {% if editable %}
    <div class="buttons">
        <button class="linkButton" data-url="{{ request.path }}edit/"><img class="icon-in-button" src="{% static 'img/edit.svg' %}" title="Modifier"> Modifier</button>
    </div>
    {% endif %}

<form method="post" data-sorturl="{% url 'actesjourn-sortitems' object.pk %}">{% csrf_token %}
<table class="actesjournaliers" style="margin-top: 1em;">
    <thead>
        <tr><th class="actes">Actes journaliers</th><th class="actes_r">R</th><th class="actes_p">P</th>
            <th class="descriptions">Descriptions</th><th class="buttons"></th>
        </tr>
    </thead>
    <tbody class="sortable">
        {% with perms.soins.change_actej as editionok %}
        {% for item in subitems %}
            {% include 'soins/actej_line.html' %}
        {% endfor %}
        {% endwith %}
    </tbody>
    <tfoot>
        <tr class="plus-line"><td>
            <img class="icon-standalone" src="{% static 'img/add.svg' %}"
                 data-url="{% url 'actesjourn-additem' object.person.pk %}" onclick="addDynamicRow(this)" title="Ajouter une ligne">
        </td></tr>
    </tfoot>
</table>
</form>
{% endif %}
{% endblock %}

{# the buttons are between the header and the actes table #}
{% block panel-buttons %}{% endblock %}
