<h3 class="list-title">Anciennes médications</h3>
<div style="text-align: right;">
    <form class="AjaxForm filter-form" method="get" action="{{ request.path }}">
        {{ filter_form.as_p }}
        <button class="icon-only"><img class="icon" src="{% static 'img/search.svg' %}" alt="icône recherche"></button>
    </form>
    <button class="linkButton" data-url="{{ back_url }}">Retour à la médication actuelle</button>
</div>

<form method="POST">{% csrf_token %}
<table class="medications">
    <thead><tr><th>Date début</th><th>Visa</th><th class="produit">Nom de produit</th>
        <td></td><th>Matin</th><th>Midi</th><th>Soir</th><th>Nuit</th><th>Date fin</th><th>Visa</th>
    </tr></thead>
    <tbody>
    {% with perms.soins.validate_item as validationok %}
    {% for line in object_list %}
        {% include 'soins/medicationitem-line.html' with always_reserve=True %}
    {% endfor %}
    {% endwith %}
    </tbody>
</table>
</form>

{% include 'pagination.html' with ajax=True %}

<div style="margin: 1em; font-style: italic; font-size:small; ">
    Code couleurs: Comprimés, <span class="gouttes">Gouttes</span>, <span class="suppo">Suppos./Intra-rectal</span>, <span class="x-autre">Autres (aérosols, etc.)</span>
</div>
