<td>{% if form.date_debut %}{{ form.date_debut.errors }}{{ form.date_debut }}{% else %}{{ form.instance.date_debut|date:'d.m.Y' }}{% endif %}</td>
<td></td>
<td>{{ form.non_field_errors }}{% if form.produit %}{{ form.produit.errors }}{{ form.produit }}{% else %}{{ form.instance.produit }}{% endif %}
    {% if form.produit %}<br>
    {% if form.sur_ordre %}{{ form.sur_ordre.errors }}Sur ordre de : {{ form.sur_ordre }}<br>{% endif %}
    <div class="form-buttons">
        <button type="submit" formaction="{{ request.path }}" onclick="saveRowForm(event, this)">Enregistrer</button>
        <button class="cancel-rel" onclick="cancelRow(event, this)">Annuler</button>
    </div>{% endif %}
</td>
<td>{{ form.type_med }}</td>
{% if not form.reserve %}
<td>{% if form.matin %}{{ form.matin }}{% else %}{{ form.instance.matin }}{% endif %}</td>
<td>{% if form.midi %}{{ form.midi }}{% else %}{{ form.instance.midi }}{% endif %}</td>
<td>{% if form.soir %}{{ form.soir }}{% else %}{{ form.instance.soir }}{% endif %}</td>
<td>{% if form.nuit %}{{ form.nuit }}{% else %}{{ form.instance.nuit }}{% endif %}</td>
{% endif %}
<td>{{ form.remarques }}</td>
<td></td>
<td>{{ form.date_fin.errors }}{{ form.date_fin }}{% if not form.produit %}
    {% if form.fin_sur_ordre %}<br>{{ form.fin_sur_ordre.errors }}Sur ordre de : {{ form.fin_sur_ordre }}{% endif %}<br>
    <div class="form-buttons">
        <button type="submit" formaction="{{ request.path }}" onclick="saveRowForm(event, this)">Enregistrer</button>
        <button class="cancel-rel" onclick="cancelRow(event, this)">Annuler</button>
    </div>{% endif %}
</td>
<td></td>
