{% load fhutils %}
<tr class="{{ line.type_med }} {{ line.a_valider|yesno:'avalider,' }} {{ line.is_future|yesno:'future,' }} ">
    <td class="date">{{ line.date_debut|date:'d.m.Y' }}</td>
    <td class="visa">{% if line.valide_par %}{{ line.valide_par|short_visa }}{% else %}{{ line.auteur_debut|short_visa }}{% endif %}
        {% if line.sur_ordre %}<br>({{ line.sur_ordre }}){% endif %}</td>
    <td class="produit">{{ line.produit }}</td><td></td>
    {% if not line.reserve or always_reserve %}
    <td class="quand">{{ line.matin }}</td><td class="quand">{{ line.midi }}</td>
    <td class="quand">{{ line.soir }}</td><td class="quand">{{ line.nuit }}</td>
    {% endif %}
    <td class="remarques">{{ line.remarques }}</td>
    <td class="vide"></td>
    <td class="date">{{ line.date_fin|date:'d.m.Y'|default_if_none:'' }}</td>
    <td class="visa">{% if line.fin_valide_par %}{{ line.fin_valide_par|short_visa }}{% else %}{{ line.auteur_fin|short_visa }}{% endif %}</td>
    <td class="buttons">
        {% if editionok %}
            <img class="icon-standalone" src="{% static 'img/edit.svg' %}"
             data-url="{% url 'medicationitem-edit' person.pk line.pk %}"
             onclick="editRow(this)" title="Modifier cette ligne">
        {% endif %}
        {% if line.a_valider and validationok %}
            <button class="icon-only" title="Valider ce médicament"
                formaction="{% url 'medicationitem-validate' person.pk line.pk %}"
                onclick="saveRowForm(event, this);"><img class="icon" src="{% static 'img/check_mark.svg' %}"></button>
        {% endif %}
    </td>
</tr>

