{% load fhutils %}

<div>Dernière modification : {{ medication.date_prescription }}</div>
{% if allergies %}
<div class="allergies_medic"><b>Allergies :</b> {{ allergies }}</div>
{% endif %}

{% if not medication.impr_etiquette %}
    <div id="not-printed-note" class="errornote">
        L’étiquette n’a pas été imprimée depuis la dernière modification.
    </div>
{% endif %}

<h3>Traitement habituel</h3>

{% with perms.soins.add_medicationitem as editionok %}
{% with perms.soins.validate_item as validationok %}
<form class="AjaxForm" method="POST">{% csrf_token %}
<table class="medications">
    <thead><tr><th>Date début</th><th>Visa</th><th class="produit">Nom de produit</th><th></th>
        <th>Matin</th><th>Midi</th><th>Soir</th><th>Nuit</th><th>Remarques</th><th class="vide"></th>
        <th>Date fin</th><th>Visa</th>
    </tr></thead>
    <tbody class="sortable" id="mainList">
        {% for line in produits %}
            {% include 'soins/medicationitem-line.html' with person=medication.person %}
        {% endfor %}
        {% if perms.soins.add_medicationitem %}
        <tr class="plus-line"><td>
            <img class="icon-standalone" src="{% static 'img/add.svg' %}"
                 data-url="{% url 'medicationitem-newprod' medication.person.pk medication.pk %}" onclick="addDynamicRow(this)" title="Ajouter un médicament">
        </td></tr>
        {% endif %}
    </tbody>
</table>
</form>
<form action="{% url 'medication-printlabel' medication.person.pk medication.pk %}">
    <input type="hidden" name="discard" id="" value="">
    <button id="print-med-label"
            data-askconfirm="{{ medication.impr_etiquette|yesno:'false,true' }}">Imprimer étiquette
    </button>
</form>


<h3>Traitement de réserve</h3>

{% if not reserve and not perms.soins.add_medicationitem %}
-
{% else %}
<form method="POST">{% csrf_token %}
<table class="medications">
    <thead><tr><th>Date début</th><th>Visa</th><th class="produit">Nom de produit</th><th></th><th>Remarques</th><th class="vide"></th>
        <th>Date fin</th><th>Visa</th>
    </tr></thead>
    <tbody class="sortable" id="reserveList">
        {% for line in reserve %}
            {% include 'soins/medicationitem-line.html' with person=medication.person %}
        {% endfor %}
        {% if perms.soins.add_medicationitem %}
        <tr class="plus-line"><td>
            <img class="icon-standalone" src="{% static 'img/add.svg' %}"
                 data-url="{% url 'medicationitem-newres' medication.person.pk medication.pk %}" onclick="addDynamicRow(this)" title="Ajouter un médicament">
        </td></tr>
        {% endif %}
    </tbody>
</table>
</form>
{% endif %}
{% endwith %}
{% endwith %}
<div style="margin: 1em; font-style: italic; font-size:small; ">
    Code couleurs: Comprimés, <span class="gouttes">Gouttes</span>, <span class="suppo">Suppos./Intra-rectal</span>, <span class="x-autre">Autres (aérosols, etc.)</span>, <span class="avalider">Médicament à valider</span>, <span class="future">Médicament «futur»</span>
</div>

<button class="linkButton" data-url="{% url 'medication-archives' medication.person.pk %}">Archives…</button>
