{% extends 'base-list.html' %}

{% block extra_head %}
<style>table#modif-list { margin-bottom: 1em; }</style>
{% endblock %}

{% block new_form_button %}
{{ block.super }}
{% if actions_soins %}
<div class="inline warningnote">
    {% if actions_soins|length == 1 %}
        Une <a href="{% url 'actionsoins-detail' view.kwargs.pk actions_soins.0.pk %}">action de soin</a> est ouverte
    {% else %}
        Des <a href="{% url 'actionsoins-list' view.kwargs.pk %}">actions de soins</a> sont ouvertes
    {% endif %}
</div>
{% endif %}
{% endblock %}

{% block object_list %}
{% if next_events %}
<table id="observ-modif-list" class="item-list modif-list">
    {% for event in next_events %}
    <tbody>
        <tr class="manual future">
            <td>{{ event.start|date:'D j F Y H:i' }}</td>
            <td>{{ event.title }}{% if event.description %}<br>{{ event.description }}{% endif %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br>
{% endif %}
{% if future_entries %}
<table id="observ-modif-list" class="item-list modif-list">
    {% for item in future_entries %}
    <tbody>
        <tr class="manual future">
            <td>{{ item.date }}</td><td>{{ item.precision }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br>
{% endif %}

{{ block.super }}
{% endblock %}
