{% extends 'base-detail.html' %}
{% load fhutils %}

{% block panel-body %}
<div class="block">
    <div class="field-header">{% display_label 'poids' %}</div>
    <div>{% display_field 'poids' %}</div>
</div>

<div class="block">
    <div class="field-header">{% display_label 'hgt' %}</div>
    <div>{% display_field 'hgt' %}</div>
</div>

<div class="block">
    <div class="field-header">{% display_label 'pouls' %}</div>
    <div>{% display_field 'pouls' %}</div>
</div>

<div class="block">
    <div class="field-header">{% display_label 't_a' %}</div>
    <div>{% display_field 't_a' %}</div>
</div>

<div class="block">
    <div class="field-header">{% display_label 'temp' %}</div>
    <div>{% display_field 'temp' %}</div>
</div>

<div>
    <div><b>{% display_label 'remarques' %}</b></div>
    <div>{% display_field 'remarques' %}</div>
</div>

{% endblock %}
