{% extends 'base-list.html' %}

{% block new_form_button %}
    {% if not view.is_archives %}{{ block.super }}{% endif %}
{% endblock %}

{% block object_list %}
  {% if view.is_archives %}<h2>Archive des soins divers</h2>{% endif %}

  <form method="post" data-sorturl="{% url 'soinsdivers-sortitems' view.kwargs.pk %}">{% csrf_token %}
  {{ block.super }}
  </form>

  {% if view.is_archives %}
  <div>
    <button class="linkButton" data-url="{% url 'soinsdivers-list' view.kwargs.pk %}">Retour à la liste principale</button>
  </div>
  {% else %}
  <div>
    <button class="linkButton" data-url="{% url 'soinsdivers-list' view.kwargs.pk %}?view=archives">Archives…</button>
  </div>
  {% endif %}
{% endblock %}
