{% extends 'base-detail.html' %}
{% load fhutils %}

{% block panel-head %}
<div>
    {{ object.ferme|yesno:"Fermé,Ouvert" }}
</div>
{{ block.super }}
{% endblock %}

{% block panel-body %}
<table class="soinsdivers">
    <thead><tr><th>Problèmes</th><th>Traitements</th><th>Évaluations</th></tr></thead>
    <tbody>
        <tr><td>{% display_field 'problemes' %}</td>
            <td>{% display_field 'traitements' %}</td>
            <td>{% display_field 'evaluations' %}</td>
        </tr>
    </tbody>
</table>
{% endblock %}

{% block buttons-editable-left %}
    {{ block.super }}
    {% if not object.ferme %}
    <form class="AjaxForm inline" data-parent="panel"
          action="{% url 'soinsdivers-close' object.person.pk object.pk %}" method="post">
        {% csrf_token %}
        <button class="confirm" data-confirm="Voulez-vous vraiment fermer ce soin ?" type="submit">Fermer le soin</button>
    </form>
    {% endif %}
{% endblock %}
