{% extends 'base-detail.html' %}
{% load fhutils %}

{% block panel-body %}
<div class="statusurinaire">
{% if is_form %}
    <table class="fieldvalues">
    {% for field in form.visible_fields %}
        <tr><th>{{ field.errors }}{{ field.label_tag }}</th><td>{{ field }}</td></tr>
    {% endfor %}
    </table>
{% else %}
    {{ block.super }}
{% endif %}
</div>
{% endblock %}
