{% extends 'base-detail.html' %}
{% load fhutils %}

{% block panel-body %}
    <h2>Visite {{ object.get_type_visite_display }}</h2>
    <div class="formfield">
        <label>Question :</label>
        {{ object.questions }}
    </div>
    {% for field in form.visible_fields %}
    <div class="formfield {{ field|ftype }} {{ field.css_classes }}">{{ field.errors }}{{ field.label_tag }}</div> {{ field }}
    {% endfor %}
{% endblock %}
