{% extends 'base-detail.html' %}
{% load fhutils %}

{% block panel-body %}
    {% if is_form and form.is_general %}
        <h2>Visite générale <small>(non liée à un résident particulier)</small></h2>
    {% endif %}
    {{ block.super }}
{% endblock %}

{% block panel-buttons %}
{% if is_form %}
    {{ block.super }}
{% else %}
    <div class="buttons">
        {% if editable %}
            <button class="linkButton" data-url="{{ request.path }}edit/?mode=question"><img class="icon-in-button" src="{% static 'img/edit.svg' %}" title="Modifier la question"> Modifier la question</button>
        {% endif %}
        {% if can_answer %}
            <button class="linkButton" data-url="{{ request.path }}edit/?mode=reponse"><img class="icon-in-button" src="{% static 'img/edit.svg' %}" title="Répondre"> Répondre</button>
        {% endif %}
        {% if back %}<button class="linkButton" data-url="{{ back }}">Retour à la liste</button>{% endif %}
        {% if deletable %}
            {% with pers_pk=object.person.pk|default:0 %}
            <form class="inline AjaxForm floatright" method="post" data-parent="panel"
                action="{% url 'visitemed-delete' pers_pk object.pk %}">
                {% csrf_token %}
                <button id="delete" class="delete confirm"
                    data-confirm="Voulez-vous vraiment supprimer cette visite ?">Supprimer</button>
            </form>
            {% endwith %}
        {% endif %}
    </div>
{% endif %}

{% endblock %}
