div#header { background-color: #2864ad; color: white; }
div.filter { display: inline-block; margin-right: 1.5em; }

table#formation-list tr.user td, .userline {
  background-color: #b3d3f7;
  color: #23528D;
  font-weight: bold;
  padding: 5px 10px;
}
table#formation-list tr.formation td { padding: 5px 20px; }

form#formation_edit { margin: 1.5em; }
form#formation_edit div.field { margin: 0.7em 0; }
form#formation_edit label { font-weight: bold; font-size: smaller; }
div.date, div.duree { display: inline-block; }
div.duree { margin-left: 2em !important; }
input#id_duree { width: 8em; }
