@font-face {
  font-family: "Cantarell";
  src: url("../fonts/Cantarell-Regular.otf") format("opentype");
}
body { font-family: "Cantarell"; margin: 0; background-color: white; }

* {
  box-sizing: border-box;
}

a:link, a:visited {
  color: #0b72b5;
  text-decoration: none;
  border-radius: 4px;
}

a:hover { background-color: #eee; }
a.no-hover:hover { background-color: inherit }

select { min-height: 28px; }

img.icon { max-height: 24px; max-width: 24px; padding: 4px; }
img.icon:hover { background-color: #eee; }
img.icon-in-button { width: 14px; height: 14px; padding: 0; margin-right: 0.5em; }
img.icononly-in-button { width: 14px; height: 14px; padding: 0; }
img.icon-standalone { width: 24px; height: 24px; padding: 4px; cursor: pointer; }
img.icon-standalone:hover { background-color: #eee; }
img.ficon { height: 1.5em; width: 1.5em; vertical-align: bottom; }
img.handler { cursor: move; height: 20px; }

.linkButton { cursor: pointer; }

.floatright { float: right; }
.mr1 { margin-right: 1em; }

div.block { display: inline-block; vertical-align: top; }
div.block.bottom { vertical-align: bottom; }
div.block.mid-width { width: 49%; }

div.buttons, div.pdf_link { margin: 0.8em; }
div.buttons-right { float: right; line-height: 2.7em; }
div.visible { display: block !important; }
div.nopadding { padding: 0; }
div.subtitle {  background-color: #555; padding: 6px 10px; }
div.subtitle > span.text { color: white; font-size: 105%; text-transform: uppercase; }

ul.nobullets { list-style-type: none; padding-left: 5px; }
ul.errorlist { padding: 0; margin: 0; color: red; }
ul.errorlist li { list-style-type: none; }

div#site_message p {
  background-color: bisque;
  color: #ff4e00;
  padding: 1em;
  margin: 0;
}
div#modif_messages p {
  background-color: #C97175;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  padding: 0.7em;
}
div#modif_messages span.date { background-color: #C2454B; color: #eee; padding: 2px 8px; }
div#modif_messages a { color: white; border-bottom: 1px dotted white; padding: 3px; }
div#modif_messages a:hover { background-color: #B12229; }
div#modif_messages button { background-color: #B12229; }
div#modif_messages button:hover { background-color: #D44348; }

div.help_text, span.help_text { color: #888; font-style: italic; font-size: small; }

table.tablesort th { cursor: pointer; }

.clear { clear: both; }
.hidden { display: none !important; }
.flex { display: flex; }
.flex-between { display: flex; flex-wrap: wrap; justify-content: space-between; }
.italic { font-style: italic; }
.bold { font-weight: bold; }
.centered { text-align: center; }
.inline { display: inline-block; }
.left { text-align: left !important; }
.noborder { border: none !important; }
.errornote {
  color: #ba2121;
  border: 1px solid #ba2121;
  border-radius: 4px;
  padding: 10px 12px;
  font-weight: bold;
}
.warningnote {
  color: #ba2121;
  background-color: #FFD8D8;
  border: 1px solid #ba2121;
  border-radius: 4px;
  padding: 10px 12px;
  margin: 6px;
  font-weight: bold;
}
.infonote {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  padding: 10px 12px;
  margin: 6px;
  font-weight: bold;
  align-items: center;
}
.red { color: #ba2121; }
.bg-light { background-color: #f4f4f4; }
.mt-3 { margin-top: 1em; }

div.history {
  display: none;
  position: absolute;
  right: 12px;
  background-color: white;
  padding: 1em;
  border: 1px solid #aaa;
  border-radius: 5px;
}

div.pagination { text-align: center; margin-top: 1em; }
div.pagination ul { list-style-type: none; }
div.pagination ul li { display: inline-block; border: 1px solid #ccc; padding: 1px 6px; }
div.pagination ul li.active { color: white; background-color: #0b72b5; }

tr.sticky th {
  position: sticky;
  top: 0;
}

button, .button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #79aec8;
    padding: 8px 15px;
    margin: 3px 12px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

button:active, .button:active, input[type=submit]:active, input[type=button]:active,
button:focus, .button:focus, input[type=submit]:focus, input[type=button]:focus,
button:hover, .button:hover, input[type=submit]:hover, input[type=button]:hover {
    background: #609ab6;
}
button.icon-only { padding: 0; margin: 3px 6px; background: transparent; }
button.icon-only:hover { background-color: #eee; }
button.delete { background-color: #b30e0e; }
button.delete:hover { background-color: #970d0d; }

.button-discrete {
    background-color: #ddd;
    padding: 1px 4px;
    margin: 2px 6px;
    border: none;
    border-radius: 3px;
    color: #888;
    cursor: pointer;
}
.button-discrete:hover { background-color: #bbb; color: #444; }

button#xlsexport {
  background: transparent;
  padding: 0;
  vertical-align: bottom;
}
button#xlsexport:hover { background-color: #eee; }

input[type=text] { width: 100%; padding: 4px 6px; font-size: inherit; }
input[type=number] { padding: 4px 6px; border-right-width: 1px; }
input.vDateField { width: 8em; }
input.TimeField { width: 5em; margin-left: 1em; }
input#id_visa_fermee { width: 8em; }
textarea { font-family: inherit; height: 4em; padding: 5px; }
ul.choicearray { list-style-type: none; display: inline-block; margin: 0; padding: 0; }
ul.choicearray li { display: inline-block; }
ul.choicearray li label { font-weight: normal; }

.select-style {
    padding: 2px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
    background: #fff;
    position: relative;
}

.select-style:after {
    top: 50%;
    left: 85%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-top-color: #000000;
    border-width: 5px;
    margin-top: -2px;
    z-index: 100;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select-style select:focus { outline: none; }

div.formfield label { display: block; font-size: smaller; font-weight: bold; margin-top: 0.7em; }
div.formfield.TypedMultipleChoiceField, div.formfield.TypedMultipleChoiceField label,
div.formfield.BooleanField, div.formfield.BooleanField label { display: inline-block; }
form.object-edition textarea, tr.form-line textarea { width: 100%; }
div.form-buttons { margin-top: 0.5em; }

div#header { background-color: aliceblue; position: relative; }
div#header h1 { display: inline-block; }
img#logo {
  width: 5em; max-width: 50vw;
  padding: 0.5em;
  display: inline-block;
  vertical-align: middle;
}
div#toptabs {
  position: absolute;
  right: 1em;
  top: 0;
}
div#toptabs p.tablabel {
  margin: 0;
  border-radius: 0 0 12px 12px;
  display: inline-block;
}
div#toptabs p.tablabel:hover {
  background-color: #eee;
}

div#toptabs a { text-decoration: none; color: inherit; }

div#connected-as {
  position: absolute;
  right: 1em;
  bottom: 0;
  font-style: italic;
  font-size: smaller;
  color: #555;
}

div#container { margin: 1em 1em; }

span.o { color: green; }
span.f { color: #ba2121; }
span.empty { color: #aaa; }

div.alpha-index { text-align: center; margin: 0.5em; }
div.alpha-index a.current { font-weight: bold; }
div.alpha-index a.letter { padding: 3px 6px;}

td.alignright { text-align: right; }

td.buttons, div.edit-buttons { background-color: white !important; border: none !important; }
div.edit-buttons { display: inline-block; margin-left: 1.5em; }
td.buttons img, div.edit-buttons img { visibility: hidden; }
tr:hover td.buttons img { visibility: visible; }
li:hover div.edit-buttons img { visibility: visible; }

tr.separator { height: 3px; background-color: #999 !important; }
tr.separator td { height: 3px; padding: 0 !important; }

/* Image modal styles */
div.modal {
  display: none; position: fixed; z-index: 100; padding-top: 100px;
  left: 0; top: 0; width: 100%; height: 100%; overflow: auto;
  background-color: rgba(0,0,0,0.6);
}
img.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}
#modalClose {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

#modalClose:hover, #modalClose:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
/* End of Image modal styles */

ul.attachments {
  float: right;
  padding: 0;
  background-color: #f0f8ff;
  list-style: none;
  border-radius: 4px;
}
ul.attachments li { padding: 0.5em 0; }
ul.attachments li a { padding: 0.5em; }
ul.attachments li a:hover { background-color: #c6e5ff; }
ul.attachments.edition .form-row { display: flex; justify-content: flex-end; padding: .5em; }
ul.attachments.edition .form-row > span.label {}
ul.attachments.edition .form-row > span.input { flex: 1; min-width: 25em; padding-left: 0.5em; }
ul.attachments.edition input[name$="DELETE"] { display: none; }

table#person-list { border-collapse: collapse; }
table#person-list th {
  color: white;
  background-color: #0B72B5;
  padding: 3px 10px;
  text-align: left;
  cursor: pointer;
}
table#person-list tr { transition: background-color 1.5s ease; }
table#person-list tr.highlighted { background-color: yellow; }
table#person-list tr:hover td {
  background-color: #eee;
}
table#person-list td {
  padding: 3px 10px; border-bottom: 1px solid #ddd;
}
table#person-list td.right {
  text-align: right;
}
table#person-list select { max-width: 14em; }
.num_residents { font-style: italic; padding: 0.6em; }

tr.plus-line td { border: 0 !important; }
tr.form-line td {
  vertical-align: top;
  white-space: nowrap; /* force calendar widget on same line */
}

form.filter-form { display: inline-block; float: right; }
form.filter-form p { display: inline-block; margin: 3px 0; }
form.filter-form input { width: initial; }
form.filter-form button { padding: 0; margin: 0; vertical-align: middle; }
form.filter-form img { height: 40px; max-height: none; width: 40px; max-width: none; }
p#no-results { color: red; font-style: italic; }

table.item-list { border-collapse: collapse; clear: both; }
table.item-list th { font-size: smaller; background-color: #ccc; }
table.item-list th, table.item-list td { border: 1px solid #ccc; padding: 3px 12px; }
table.item-list tr:nth-child(odd) {
    background-color: #f7f7f7;
}
table.item-list tr.closed { color: #888; }
table.item-list tr.nuit { background: repeating-linear-gradient(
  45deg,
  #F2F4FF,
  #F2F4FF 10px,
  #fff 10px,
  #fff 20px
);
  color: #3D4262;
}
table.item-list td.date, table.item-list td.auteur, table.item-list td.type_soin { white-space: nowrap; }
table.item-list div.attachments { float: right; padding: 5px; background-color: #D2E6F7; }

table.fieldvalues { border-collapse: collapse; margin-top: 0.5em; margin-right: 1em; }
table.fieldvalues th {
  text-align: right;
  vertical-align: top;
  padding-top: 0.5em;
}
table.fieldvalues label { font-size: smaller; font-weight: bold; }
table.fieldvalues td { border-bottom: 1px dotted #ddd; padding: 0.2em; min-width: 4em; }
table.fieldvalues span.unselected { color: #777; }
span.selected, span.unselected { margin-right: 0.7em; }

table.fieldvalues.dense td { padding: 0; }
table.fieldvalues.dense th { padding-top: 0.3em; }

table.person-base td { padding: 2px 6px; }
table.person-base th label { font-size: initial; }
table.person-base td.nom, table.person-base td.prenom { background-color: #FFF46A; border-radius: 6px; }
table.person-base input[type=text] { width: 10em; }

#data-person { padding: 0; }
#person-updown { display: inline-block; font-size: 200%; padding: 0 6px; background-color: aliceblue; }
#data-person .photo { max-width: 200px; max-height: 80px; }

h3.list-title, div.panel-title { font-size: small; margin-top: 0.5em; border-bottom: 1px solid #bbb; }

table.relations th { background-color: #eee; padding: 2px 20px; }
table.relations td { padding: 2px 6px; vertical-align: top; }
table.relations tbody tr:nth-child(odd) { background-color: #f7f7f7; }
table.relations td.tel, table.relations td.email { font-size: small; }
table.relations td.tel { min-width: 8em; }
table.relations td.buttons { min-width: 4em; }
table.relations tr.form-line { background-color: #c8dbff !important; }
table.relations tr.form-line td { padding: 5px; }
span.proche_sig {
    color: white;
    background-color: darkorange;
    border-radius: 12px;
    padding: 4px;
    font-weight: bold;
    float: right;
}

div.field-header { background-color: #ddd; margin-top: 1em; font-weight: bold; padding: 5px 10px; }
div.field-header img { vertical-align: bottom; }
div.field-content { padding: 5px 10px; }

div.repartition th { font-weight: normal; text-align: left; }
div.repartition ul { display: inline-block; list-style-type: none; margin: 0; padding: 0; }
div.repartition ul li { display: inline-block; }
div.repartition h3 { margin: 0; font-size: 100%; }
div.repartition th { max-width: 17em; }
div.repartition label { margin-left: 1em; font-weight: normal; }

/* https://kyusuf.com/post/completely-css-tabs */
.tabcontainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}

.tabinput {
  /* display none breaks input functionality */
  position: absolute;
  opacity: 0;
}

.tablabel {
  padding: 4px 15px;
  background: #e5e5e5;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  color: #7f7f7f;
  border: 1px solid gray;
  border-radius: 12px 12px 0 0;
  transition: background 0.1s, color 0.1s;
}

.tablabel:hover {
  background: #d8d8d8;
}

.tablabel:active {
  background: #ccc;
  border-bottom: none;
}
.tablabel.level0 { background-color: #f0f8ff; }
.tablabel.level1 { background-color: #F6F6DB; }
.tablabel.level2 { background-color: #e5e5e5; }

.tabinput:focus + .tablabel {
  box-shadow: inset 0px 0px 0px 3px #2aa1c0;
  z-index: 1;
}

.tabinput:checked + .tablabel, .tablabel.active {
  background: #fff;
  color: #000;
}

@media (min-width: 600px) {
  .tablabel {
    width: auto;
  }
}

div.tabcontainer label.unavailable {
  color: #ddd; background-color: #efefef; border: 1px solid #ccc; cursor: default;
}

.panel {
  padding: 0 12px 12px;
  background: #fff;
}

div.panel-head:empty { display: none; }
div.panel-head {
  display: flex;
  justify-content: space-between;
  background-color: #eee;
  margin: 0 -12px; /* cancel panel padding */
  padding: 4px 12px;
}
div.panel-head h3 { margin: 0; }
div.panel-head div.line-item { margin-right: 3em; }

div.auteur-date {
  font-style: italic;
  font-weight: normal;
  text-align: right;
  margin-left: auto;
}

div.auteur-date.inside-text {
    padding: 8px;
    background-color: #eee;
}

div.tabcontainer .panel {
  display: none;
}

@media (min-width: 600px) {
  .panel {
    order: 99;
  }
}

.tabinput:checked + .tablabel + .panel {
  display: block;
  width: 100%;
}

.tabinput:checked {
  width: 30px;
}

table.modif-list tr.future td { color: #980000; }
table.modif-list tr.separator td { background-color: #777; }
table.modif-list tr.manual td { background-color: #FFFB63; }
table#general-modif-list tr.manual td { background-color: inherit; }
div.groupes_cible label { display: inline-block; }
ul#id_groupes_cible { margin-top: 0; }

div.allergies_medic { color: red; }

/* Admission */
input#id_domicile_tel { width: auto; }
input[name=dom_legal_rue], input[name=dom_legal_loc], input[name=domicile_rue], input[name=domicile_loc] {
  max-width: 22em;
}
ul#id_entree_sortie, ul#id_situation { list-style-type: none; margin: 0; padding: 0; }

/* Actions */
div.panel-head.action { background-color: #ffe5ea; display: inherit; }
div.panel-head.action h3 { margin: 0; text-transform: uppercase; }
div.action-body { background-color: #ffd6dd; }
div.action-body div.field-header { background-color: #ffc0cb; }
div.action-footer { background-color: #ffffcb; padding: 5px 10px; }
div.action-item { display: inline-block; margin-right: 3em; }

/* Actions intersecteurs */
div.ais-head { color: white; background-color: #ba2121; padding: 5px 10px; font-weight: bold; }
div.ais-head2 { width: 100%; background-color: #ffffcb; padding: 5px 10px; }
div.ais-head2 #id_secteur { width: 12em; }
div.ais-content { min-height: 1em; padding: 5px 10px 1em; }
div.ais-content textarea { width: 100%; }
table.evaluations, table.actions { width: 100%; border-collapse: collapse; }
table.evaluations td, table.actions td { border: 1px dotted #F16A77; padding: 3px 8px; }
table.evaluations td.content, table.actions td.content { min-width: 75%; }

/* Ateliers */
table.atelier-radios th { background-color: #eee; padding: 2px; text-align: left; }
table.atelier-radios th, table.atelier-radios td { padding: 4px; }
table.atelier-radios td.radio  { white-space: nowrap; }
table.atelier-radios td.radio ul { list-style-type: none; margin: 0; padding: 0; }
table.atelier-radios td.radio ul li { display: inline-block; margin-right: 0.5em; }
table.atelier-radios td.radio ul li:first-child { display: none; }
table.atelier-radios td.remarques { vertical-align: top; }
table.atelier-radios textarea { height: 2em; }

table.crea1-items td { padding: 5px; margin-bottom: 0.5em; }
table.crea1-items textarea { height: 2em; }
table.crea1-items input[type=number] { width: 4em; }

table.crea1-compl td:nth-child(2) { padding-left: 1.5em; }

table.atelier-poste th { background-color: #eee; padding: 2px; text-align: left; }
table.atelier-poste th.lev1 { background-color: #ffd7d7; }
table.atelier-poste th, table.atelier-poste td { padding: 4px; }

div.atcomm-main { display: inline-block; width: 48%; vertical-align: top; }

/* Soins divers */
table.soinsdivers { margin-top: 1em; }
table.soinsdivers td { border: 1px solid gray; padding: 3px; width: 33%; vertical-align: top; }
table.soinsdivers textarea { width: 100%; }
div.soinsdivers table.item-list td { vertical-align: top; }

div.statusurinaire input { width: auto; }
div.statusurinaire th { text-align: right; }

/* Actes journaliers */
table.actesjournaliers {
  table-layout: fixed; border-collapse: collapse;
  width: 100%;
}
table.actesjournaliers th, table.actesjournaliers td { border: 1px solid gray; vertical-align: top; }
table.actesjournaliers th.actes { width: 15em; }
table.actesjournaliers th.descriptions { width: 29em; }
table.actesjournaliers th.actes_r, table.actesjournaliers th.actes_p { width: 2em; }
table.actesjournaliers th.buttons { border: none; width: 4em; }
table.actesjournaliers tr.archived { background-color: #eee; color: #555; font-style: italic; }
div.panel.soins input#id_updated, div.panel.soins { width: 8em; }
textarea#id_actes_p, textarea#id_actes_r { width: 2em; }
img.view_actej_line { cursor: pointer; float: right; width: 20px; opacity: 0.6;  }

/* Visites médicales */
td.reponse_empty { background-color: #ffd9d9; }

/* Medications */
table.medications { border-collapse: collapse; }
table.medications th { background-color: #eee; border: 1px solid #555; padding: 0 0.6em; }
table.medications tr.gouttes td, span.gouttes { color: blue; }
table.medications tr.suppo td, span.suppo { color: #7e6117; }
table.medications tr.x-autre td, span.x-autre { color: #ff6300; }
table.medications tr.avalider td, span.avalider { background-color: #fff8c0; }
table.medications tr.future td, span.future { background-color: #d4edf5; }
table.medications tbody td { border: 1px solid blue; padding: 2px; }
table.medications td.quand { width: 3.5em; text-align: center; }
table.medications td.visa { width: 3.5em; text-align: center; }
table.medications .produit { width: 20em; }
table.medications tbody#reserveList td.produit { width: 35em; }
table.medications .vide { width: 1em; border-top: 0; border-bottom: 0; background-color: white;}
table.medications td.date { width: 8em; white-space: nowrap; }
table.medications input#id_sur_ordre { width: 12em; }
table.medications input#id_fin_sur_ordre { width: unset; }

/* Besoins */
span.cartevie { color: #9d0000; cursor: pointer; }
img.cvie-preview { float: right; width: 380px; height: 537px; margin-bottom: 1rem; }
.cvie-container { display: flex; flex-wrap: wrap; justify-content: space-between; }
.cvie-container img { border: 1px solid #ddd; }
div.impotence { border: 1px solid black; margin-top: 1em; background-color: #ffffcb; }
button.impotence { cursor: default; color: white; background-color: #ca362d; float: left; }
table.impotence th, table.impotence td { padding: 2px 12px; }
table.impotence td:nth-child(1) { text-align: right; }
textarea#id_securite_risque_chute_cause, textarea#id_securite_risque_errance_cause { width: 15em; height: 1.8em; }
table.communiquer .id_communication { display: grid; grid-template-columns: 50% 50%; }
table.communiquer .id_comportement { display: grid; grid-template-columns: 50% 50%; }
table.communiquer .id_collaboration { display: grid; grid-template-columns: 50% 50%; }
div.nourrir label { font-weight: bold; }
div.nourrir div.field-content { min-width: 8em; }
div.nourrir div.divers div.field-content { width: 100%; }
h3.alim-subtitle { margin: 0.5em 0; background-color: #fec0a2; padding: 2px 6px; font-size: 102%; }
span.smile { color: green; }
span.sad { color: red; }
table.apprendre { width: 100%; }
table.apprendre th { text-align: left; }
table.apprendre textarea { height: 100%; }
table.apprendre ul { list-style-type: none; margin: 0; padding: 0; white-space: nowrap; }
table.apprendre ul li { display: inline-block; margin-right: 0.5em; }
table.apprendre ul li label { margin-left: 0; }

/* Bilan annuel */
div.participants { max-width: 50%; }

table.suiviaccompagnement textarea { height: 1.5em; }
table.suiviaccompagnement textarea[name$="evaluation"] { width: 8em; }
table.suiviaccompagnement td, table.suiviaccompagnement th { border: 1px solid #444; padding: 2px 5px; }
table.suiviaccompagnement th { font-size: smaller; }
table.suiviaccompagnement tr.phys td { background-color: #bfecfe; }
table.suiviaccompagnement tr.secu td { background-color: #ebb9fe; }
table.suiviaccompagnement tr.soc td { background-color: #d8e9c9; }
table.suiviaccompagnement tr.estime td { background-color: #d7c7fe; }
table.suiviaccompagnement tr.acc td { background-color: #fefdd4; }
table.suiviaccompagnement td.dep { text-align: center; }
table.suiviaccompagnement div.dep-label { width: 3em; word-wrap: break-word; }
table.suiviaccompagnement table.evaluations td { border: 1px solid #aaa; background-color: rgba(255,255,255,.4); }
table.suiviaccompagnement tr.plus-line { display: none; }
table.suiviaccompagnement tr:hover tr.plus-line { display: table-row; }

.tooltip {
    display: none;
    background: inherit;
    margin-left: 28px;
    padding: 10px;
    position: absolute;
    z-index: 1000;
    width:200px;
    min-height:70px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e5e5e5;
    opacity: 0.9;
    font-size: 90%;
}
.tooltip.showleft {
  right: 0;
}
.tooltip-container { display: inline-block; vertical-align: middle; position: relative; }
.tooltip-container img { width: 24px; height: 24px; }
.event-content:hover .tooltip, .tooltip-container:hover .tooltip {
    display: block;
}

/* Agenda */
div.agenda-week-grid { display: grid; grid-template-columns: repeat(7, 1fr); grid-auto-flow: column; }
div.agenda-week-grid > div { border: 1px solid #ddd; }
div.agenda-head { text-align: center; background-color: #f0f8ff; font-weight: bold; }
div.event-cell { position: relative; }
div.event-cell.hour { border-top: 2px solid gray !important; }
div.event-cell.meal { background-color: #ddd; border-color: #ccc; }
span.event-content {
  position: absolute; top: 0; left: 0; display: inline-block; background-color: yellow;
  padding: 3px; z-index: 1; overflow: hidden; opacity: 0.8; width: 100%;
}
span.event-content.cancelled { text-decoration: line-through; opacity: 0.2; }
span.event-content:hover { overflow: visible; height: auto !important; }
span.event-content img.icon { background-color: white; opacity: 0.6; border-radius: 4px; margin-left:4px; }
span.event-content img.icon:hover { background-color: #eee; }
span.radio-border {
  border: 1px solid gray;
  border-radius: 8px;
  padding: 5px; margin: 0 5px;
  background-color: #F0F8FF;
}

div.agenda-list-grid { display: grid; grid-template-columns: max-content max-content auto 34px; grid-auto-flow: row; }
div.agenda-list-grid > div { padding: 4px 8px; border: 1px solid #eee; }

#daily-events { border-collapse: collapse; }
#daily-events td { border: 1px solid #ccc; padding: 5px; vertical-align: top; }

#collabora-online-viewer{ width:95%; height:80%; position:absolute; }
