div#toptabs, label.tablabel, div#connected-as, div#person-updown, div#modif_messages,
div.warningnote, div.buttons, img.linkButton, button, tr.plus-line, th.buttons, td.buttons, div.col-choice { display: none; }

table { page-break-inside: auto; break-inside: auto; }
table tr, table td { page-break-inside: avoid !important; page-break-after: auto }

table td.date { padding: 3px 2px; }

.panel { padding: 0; }
