{% extends "base.html" %}

{% block title %}Accès non autorisé{% endblock %}

{% block content %}
<div id="container">
  <h2>Accès non autorisé</h2>
  <p>Nous sommes désolés, vous n'avez pas la permission d'accéder à cette page.</p>
</div>
{% endblock %}

{% block footer %}{% endblock %}
