{% extends 'base-action.html' %}
{% load fhutils %}

{% block panel-head %}
    {{ block.super }}
    <div class="ais-head2">
        <div class="action-item">Ouverture : {{ object.date|date:'j F Y' }} par {{ object.auteur }}</div>
        <div class="action-item">Délai : {% display_field 'delai' %}</div>
        <div class="action-item">Nature : {% display_field 'nature' %}</div>
        <div class="action-item">Secteur : {% display_field 'secteur' %}</div>
    </div>
{% endblock %}
