<td>{{ form.texte.errors }}{{ form.texte }}<br>
    <div class="form-buttons">
        <button type="submit" formaction="{{ request.path }}" onclick="saveRowForm(event, this)">Enregistrer</button>
        <button class="cancel-rel" onclick="cancelRow(event, this)">Annuler</button>
    </div>
</td>
<td></td>
<td></td>
