{% load fhutils %}

{% if view.list_title %}<h3 class="list-title">{{ view.list_title }}</h3>{% endif %}

{% if filter_form %}
<form class="AjaxForm filter-form" method="get" action="{{ request.path }}">
    {{ filter_form.as_p }}
    <button class="icon-only"><img class="icon" src="{% static 'img/search.svg' %}" alt="icône recherche"></button>
</form>
{% endif %}

{% block new_form_button %}
{% if new_form_label %}
    <button class="linkButton" data-url="{{ new_form_url }}">{{ new_form_label }}</button>
{% endif %}
{% endblock %}

{% block object_list %}
{% if object_list %}
<table class="item-list tablesort">
    <thead>
    {% for _, verbose in field_names %}
        <th>{{ verbose }}</th>
    {% endfor %}
    {% if show_resident %}
        <th>Résident</th>
    {% endif %}
    </thead>
    <tbody{% if list_sortable %} class="sortable"{% endif %}>
    {% for item in object_list %}
    <tr class="{{ item.classes|join:' ' }}" data-pk="{{ item.pk }}">
        {% for fname, _ in field_names %}
        <td class="{{ fname|strip_suffix }}" {{ item|sort_format:fname }}>
            {% if forloop.first %}<a {% if is_ajax %}class="AjaxLink"{% endif %} href="{{ item.get_absolute_url }}">{% endif %}
            {{ item|field_in_list:fname }}
            {% if forloop.first %}</a>{% endif %}
        </td>
        {% endfor %}
        {% if show_resident %}
            <td><a href="{{ item.person.get_absolute_url }}">{{ item.person }}</a></td>
        {% endif %}
        {% if list_sortable %}
            <td class="buttons">
                <img class="handler" src="{% static 'img/move.png' %}">
            </td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>

{% include 'pagination.html' with ajax=is_ajax %}

{% else %}
    {% if filter_form and filter_form.is_bound %}
        <p id="no-results">Désolé, aucun contenu ne correspond au filtre recherché.</p>
    {% endif %}
{% endif %}
{% endblock %}
