{% load fhutils %}

{% if is_form %}{% form_head %}{% endif %}
<div class="panel-head{% if view.action_title %} action {% endif %}">{% spaceless %}
  {% block panel-head %}
    <div class="auteur-date">
        {% if latest_history %}{{ latest_history.get_user }}, le {{ latest_history.date|date:'j F Y' }}{% endif %}
        {% include 'history-switcher.html' %}
    </div>
  {% endblock %}
{% endspaceless %}</div>

{% block panel-body %}
{% if is_form %}
    {% for field in form.visible_fields %}
    <div class="formfield {{ field|ftype }} {{ field.css_classes }}">{{ field.errors }}{{ field.label_tag }}</div> {{ field }}
    {% endfor %}
{% else %}
    <table class="fieldvalues">
    {% for fname in field_names %}
    <tr><th>{% display_label fname %}</th><td>{% display_field fname %}</td></tr>
    {% endfor %}
    </table>
{% endif %}
{% endblock %}

{% block panel-files %}
    {% for attach in object.fichiers.all %}
        {% if forloop.first %}<ul class="attachments">{% endif %}
        <li>
            <a href="{{ attach.fichier.url }}" {% if attach.is_image %}class="image"{% endif %}
               title="par {{ attach.createur }} le {{ attach.date|date:'j F Y' }}">
                <img class="ficon" src="{{ attach.icon_url }}"> {{ attach.title }}
            </a>
        </li>
        {% if forloop.last %}</ul>{% endif %}
    {% endfor %}
{% endblock %}

{% block panel-buttons %}
{% if is_form %}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    {% form_foot %}
{% else %}
    {% if pdf_url %}
        <div class="pdf_link floatright">
            <a href="{{ pdf_url }}"><img src="{% static 'img/pdf-icon.png' %}" width="24"></a>
        </div>
    {% endif %}
    <div class="buttons">
        <div class="buttons-right">{% block buttons-bottom-right %}{% endblock %}</div>
        {% if editable %}
            {% block buttons-editable-left %}
            {% with modif_label=view.modif_label|default_if_none:'Modifier' %}
            <button class="linkButton" data-url="{{ request.path }}edit/"><img class="icon-in-button" src="{% static 'img/edit.svg' %}" title="{{ modif_label }}"> {{ modif_label }}</button>
            {% endwith %}
            {% endblock %}
        {% endif %}
        {% if back %}<button class="linkButton" data-url="{{ back }}">Retour à la liste</button>{% endif %}
    </div>
{% endif %}
{% endblock %}
