{% load fhutils %}
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <title>{% block title %}Foyer Handicap - DRI{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/print.css' %}" media="print">
  <script defer src="{% static 'js/autosize.min.js' %}"></script>
  <script defer src="{% static 'js/tablesort.min.js' %}"></script>
  <script defer src="{% static 'js/main.js' %}"></script>
  {% include 'headers_datetime.html' %}
  {% block extra_head %}{% endblock %}
</head>

<body>
<div id="header">
    {% if user.is_authenticated %}
        {% block toptabs %}
        <div id="toptabs">
            {% if perms.person.access_fhmn %}
                {% url 'general-base' 'fhmn' as url_fhmn %}
                {% top_tab url_fhmn 'Infos gén. FHMN' %}
            {% endif %}
            {% if perms.person.access_fhne %}
                {% url 'general-base' 'fhne' as url_fhne %}
                {% top_tab url_fhne 'Infos gén. FHNE' %}
            {% endif %}
            {% url 'contact-list' as url_contacts %}
            {% top_tab url_contacts 'Contacts' %}
            {% if perms.person.view_user %}
                {% url 'user-list' as url_users %}
                {% top_tab url_users 'Utilisateurs' %}
            {% endif %}
        </div>
        {% endblock %}
        <div id="connected-as">connecté en tant que <a href="{% url 'user-profile' user.username %}">{{ user.username }}</a> -
            <a href="{% url 'logout' %}">déconnexion</a>
        </div>
    {% endif %}
    <a class="no-hover" href="{% block home_url %}{% url 'home' %}{% endblock %}"><img id="logo" src="{% static 'img/fh-logo.png' %}"></a>
    {% block header_title %}<h1>Dossier Résident Informatisé</h1>{% endblock %}
</div>

<div id="main">
    {% if messages %}
    <div id="site_message" class="message"><p>
        {% for message in messages %}
          <span{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span><br>
        {% endfor %}
    </p></div>
    {% endif %}
    {% if request.user.is_authenticated and modif_messages %}
    <div id="modif_messages" class="message">
        {% for message in modif_messages %}
          <form method="post" action="{% url 'modifs-confirm-read' message.pk %}">{% csrf_token %}
          <p>
              {% if message.person %}<a href="{% url 'person-detail' message.person_id %}">{{ message.person }}</a>:{% endif %}
              <span class="date">{{ message.date|date:'j F Y' }}</span>
              {{ message.precision|linebreaksbr }}
              <small><i>[écrit par {{ message.user }}]</i></small>
              <button type="submit">J’ai lu cette info</button>
          </p>
          </form>
        {% endfor %}
    </div>
    {% endif %}

    {% block content %}{% endblock %}
</div>

<div id="footer"></div>

<!-- simple modal -->
<div id="imgModal" class="modal">
  <span id="modalClose">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>

</body>
</html>
