{% extends 'base.html' %}
{% load fhutils %}

{% block extra_head %}
    {% include 'headers_datetime.html' %}
{% endblock %}

{% block content %}
<div id="container">
{% if title %}<h2>{{ title }}</h2>{% endif %}
{% if intro %}<p>{{ intro }}</p>{% endif %}
<form class="object-edition" method="post" action="{{ view.request.path }}">
    {% csrf_token %}
    {% for field in form.visible_fields %}<div class="formfield {{ field|ftype }} {{ field.css_classes }}">{{ field.errors }}{{ field.label_tag }}</div> {{ field }}{% endfor %}
    {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
    <div class="buttons">
        <button>{% if form.instance.pk %}Modifier{% else %}Ajouter{% endif %}</button>
        <button class="cancel">Annuler</button>
        {% if delete_url %}<button class="delete floatright" formaction="{{ delete_url }}">Supprimer</button>{% endif %}
    </div>
</form>
</div>
{% endblock %}
