{% load fhutils %}
<form class="AjaxForm object-edition" method="post" enctype="multipart/form-data" action="{{ view.request.path }}">
    {% csrf_token %}
    
    <div class="panel-head{% if view.action_title %} action {% endif %}">
    {% block panel-head %}{% if title %}<h3>{{ title }}</h3>{% endif %}{% endblock %}
    </div>

    {% block panel-body %}
    {{ form.non_field_errors }}
    {% for field in form.visible_fields %}
        <div class="formfield {{ field|ftype }} {{ field.css_classes }}">{{ field.errors }}{{ field.label_tag }}</div> {{ field }}
        {% if field.help_text %}<span class="help_text">{{ field.help_text }}</span>{% endif %}
    {% endfor %}
    {% endblock %}

    {% block panel-files %}
    {% if form.attach_forms %}
        {{ form.attach_forms.management_form }}
        <ul class="attachments edition">
        {% for subform in form.attach_forms %}
            <li>{% if subform.initial.fichier %}
                {% with attach=subform.instance %}
                    <div class="form-row">
                        <span class="label">
                        <a href="{{ attach.fichier.url }}" {% if attach.is_image %}class="image"{% endif %}
                           target="_blank"
                           title="par {{ attach.createur }} le {{ attach.date|date:'j F Y' }}">
                            <img class="ficon" src="{{ attach.icon_url }}">
                        </a>
                        </span>
                        <span class="input">{{ subform.titre.errors }}{{ subform.titre }}</span>
                        <span class="delete">
                            <img class="icon deleteAttachment" src="{% static 'img/delete.svg' %}"
                                 title="Supprimer ce fichier" data-delete="{% url 'delete-attachment' attach.pk %}"
                                 data-deletecb="{{ subform.DELETE.auto_id }}">
                        </span>
                        {{ subform.DELETE }}
                    </div>
                {% endwith %}
                {% else %}
                    <div class="form-row">
                        <span class="label">{{ subform.fichier.label_tag }}</span>
                        <span class="input">{{ subform.fichier }}</span>
                    </div>
                    <div class="form-row">
                        <span class="label">{{ subform.titre.label_tag }}</span>
                        <span class="input">{{ subform.titre }}</span>
                    </div>
                {% endif %}
                {% for hidden in subform.hidden_fields %}{{ hidden }}{% endfor %}
            </li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endblock %}

    {% block panel-buttons %}
    {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
    <div class="buttons">
        <button>{% if form.instance.pk %}Enregistrer{% else %}Créer{% endif %}</button>
        <button class="cancel">Annuler</button>
        {% if delete_url %}
        <button class="delete confirm floatright" type="submit" formaction="{{ delete_url }}"
                data-confirm="Voulez-vous vraiment supprimer cet élément ?">Supprimer</button>
        {% endif %}
    </div>
    {% endblock %}
</form>
