{% extends 'base-detail.html' %}
{% load fhutils %}

{% block panel-head %}
    <h3>{{ view.action_title }}</h3>
    {{ block.super }}
{% endblock %}

{% block panel-body %}
<div class="action-body">
    <div class="field-header">{% display_label 'problemes' %}</div>
    <div class="field-content">{% display_field 'problemes' %}</div>

    <div class="field-header">{% display_label 'objectifs' %}</div>
    <div class="field-content">{% display_field 'objectifs' %}</div>

    {% if not is_form %}
    <div class="field-header">
        Actions
        {% if not object.closed %}
            <img class="icon-standalone" src="{% static 'img/add.svg' %}"
                 data-url="{{ action_url }}" onclick="addDynamicRow(this, 'actions')" title="Ajouter une action">
        {% endif %}
    </div>
    {% if object.actions_old %}
    <div class="field-content">{% display_field 'actions_old' %}</div>
    {% endif %}
    <form method="post">{% csrf_token %}
    <table id="actions" class="actions">
        <thead><tr class="plus-line"><td></td></tr></thead>
        <tbody>
    {% for act in object.actions %}
        <tr><td class="content">{{ act.texte|linebreaksbr }}</td>
            <td>{{ act.date|date:'j F Y' }}</td>
            <td>{{ act.createur|short_visa }}</td>
        </tr>
    {% endfor %}</tbody>
    </table>
    </form>

    <div class="field-header">
        Évaluations
        {% if not object.closed %}
        <img class="icon-standalone" src="{% static 'img/add.svg' %}"
                 data-url="{{ eval_url }}" onclick="addDynamicRow(this, 'evaluations')" title="Ajouter une évaluation">
        {% endif %}
    </div>
    {% if object.evaluations_old %}
    <div class="field-content">{% display_field 'evaluations_old' %}</div>
    {% endif %}
    <form method="post">{% csrf_token %}
    <table id="evaluations" class="evaluations">
        <thead><tr class="plus-line"><td></td></tr></thead>
        <tbody>
    {% for eval in object.evaluations %}
        <tr><td class="content">{{ eval.texte|linebreaksbr }}</td>
            <td>{{ eval.date|date:'j F Y' }}</td>
            <td>{{ eval.createur|short_visa }}</td>
        </tr>
    {% endfor %}</tbody>
    </table>
    </form>
    {% endif %}</div>

<div class="action-footer">
    {% block action-footer %}
    {% if object.pk %}
        <div class="action-item">État : {{ object.get_etat_display }}</div>
        {% if object.closed %}
            {% if object.date_fermee %}<div class="action-item">Fermée le {{ object.date_fermee|date:'j F Y' }}</div>{% endif %}
        {% elif not is_form and can_close %}
            <div class="floatright">
                <form action="{{ close_url }}" method="post">{% csrf_token %}
                    <button class="confirm" data-confirm="Voulez-vous vraiment fermer cette action ? Il ne sera plus possible de la modifier.">Fermer l’action</button>
                </form>
            </div>
            <div class="clear"></div>
        {% endif %}
    {% endif %}
    {% endblock %}
</div>
{% endblock %}
