{% extends "base.html" %}

{% block title %}{{ block.super }} - Liste de contacts ({{ current }}){% endblock %}

{% block content %}
<div style="display: flex; justify-content: center;">
    <div class="alpha-index">
        {% for letter in letters %}
        {% if not forloop.first %}–{% endif %}<a class="letter" href="{% url 'contact-list' %}?f={{ letter }}" {% if letter == current %}class="current"{% endif %}>{{ letter }}</a>{% endfor %}
    </div>
    <div class="filter-form">
        <form class="filter-form" method="get" action="{{ request.path }}">
            {{ filter_form.text }}
            <button class="icon-only"><img class="icon" src="{% static 'img/search.svg' %}" alt="icône recherche"></button>
        </form>
    </div>
</div>

<table id="person-list" class="tablesort">
    <thead><tr>
        <th>Civ.</th><th>Nom</th><th>Prénom</th><th>Fonction</th><th>Adresse</th>
        <th>NPA Localité</th>
        <th>Courriel</th><th>Téléphone</th><th>Portable</th>
    </tr></thead>
    <tbody>
{% for contact in contact_list %}
    <tr><td>{{ contact.civilite }}</td>
        <td><a href="{{ contact.get_absolute_url }}">{{ contact.nom }}</a></td>
        <td>{{ contact.prenom }}</td>
        <td>{{ contact.fonction }}</td>
        <td>{{ contact.adresse }}</td>
        <td>{{ contact.npa }} {{ contact.localite }}</td>
        <td>{{ contact.email }}</td>
        <td>{{ contact.telephone }}{% if contact.fax %}<br>Fax: {{ contact.fax }}{% endif %}</td>
        <td>{{ contact.portable }}</td>
    </tr>
{% endfor %}
    </tbody>
</table>

{% if perms.person.add_contact %}
<div class="buttons">
    <button class="linkButton" data-url="{% url 'contact-new' %}"><img class="icon-in-button" src="{% static 'img/add.svg' %}" title="Créer un contact"> Créer un contact</button>
</div>
{% endif %}
{% endblock %}
