{% extends "base.html" %}
{% load fhutils %}

{% block extra_head %}
<script defer src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script>
<script defer src="{% static 'admin/js/vendor/select2/select2.full.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/vendor/select2/select2.min.css' %}" />
{% endblock %}

{% block title %}{{ block.super }} - Contact : {{ contact.nom }} {{ contact.prenom }}{% endblock %}

{% block content %}

<div id="container">
{% if contact.pk is None %}<h2>Nouveau contact</h2>{% endif %}

{% if is_form %}{% form_head ajax=False %}{% endif %}

<div class="block">
<table class="fieldvalues">
    <tr><th>Civilité</th><td>{% display_field 'civilite' %}</td></tr>
    <tr><th>Nom</th><td>{% display_field 'nom' %}</td></tr>
    <tr><th>Prénom</th><td>{% display_field 'prenom' %}</td></tr>
</table>
</div>

<div class="block">
<table class="fieldvalues">
    <tr><th>Rue</th><td>{% display_field 'adresse' %}</td></tr>
    <tr><th>NPA</th><td>{% display_field 'npa' %}</td></tr>
    <tr><th>Localité</th><td>{% display_field 'localite' %}</td></tr>
    <tr><th>Fonction</th><td>{% display_field 'fonction' %}</td></tr>
</table>
</div>

<div class="block">
<table class="fieldvalues">
    <tr><th>Courriel</th><td>{% display_field 'email' %}</td></tr>
    <tr><th>Téléphone</th><td>{% display_field 'telephone' %}</td></tr>
    <tr><th>Portable</th><td>{% display_field 'portable' %}</td></tr>
    <tr><th>Fax</th><td>{% display_field 'fax' %}</td></tr>
</table>
</div>

{% if is_form %}
    {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
    {% if compare_with %}
        {% if compare_with == form.instance %}<p class="errornote">Attention, il n'est pas possible de fusionner un contact avec lui-même.</p>{% endif %}
        <p>Sera fusionné avec :</p>
        <div class="block">
        <table class="fieldvalues">
            <tr><th>Civilité</th><td>{{ compare_with.civilite }}</td></tr>
            <tr><th>Nom</th><td>{{ compare_with.nom }}</td></tr>
            <tr><th>Prénom</th><td>{{ compare_with.prenom }}</td></tr>
        </table>
        </div>

        <div class="block">
        <table class="fieldvalues">
            <tr><th>Rue</th><td>{{ compare_with.adresse }}</td></tr>
            <tr><th>NPA</th><td>{{ compare_with.npa }}</td></tr>
            <tr><th>Localité</th><td>{{ compare_with.localite }}</td></tr>
        </table>
        </div>

        <div class="block">
        <table class="fieldvalues">
            <tr><th>Courriel</th><td>{{ compare_with.email }}</td></tr>
            <tr><th>Téléphone</th><td>{{ compare_with.telephone }}</td></tr>
            <tr><th>Fax</th><td>{{ compare_with.fax }}</td></tr>
            <tr><th>Portable</th><td>{{ compare_with.portable }}</td></tr>
        </table>
        </div>
    {% endif %}
    <input type="hidden" name="merge_with" value="{{ compare_with.pk }}">
    {% form_foot %}

{% else %}
    {% if editable %}
    <div class="buttons">
        <button class="linkButton" data-url="{{ request.path }}edit/"><img class="icon-in-button" src="{% static 'img/edit.svg' %}" title="Modifier"> Modifier</button>
        {% if not relations %}
            <form class="inline" method="post" action="{% url 'contact-delete' contact.pk %}">
                {% csrf_token %}<button class="delete">Supprimer</button>
            </form>
        {% elif rel_all_archived %}
            <form class="inline" method="post" action="{% url 'contact-archive' contact.pk %}">
                {% csrf_token %}<button class="archive">Archiver</button>
            </form>
        {% endif %}
    </div>
    {% endif %}

    {% if relations %}
    <fieldset>
        <legend>Relations</legend>
        <table class="relations">
            <thead><tr><th>Pour</th><th>Rôle</th><th>Note</th></tr></thead>
            <tbody>
                {% for rel in relations %}
                <tr><td><a href="{{ rel.person.get_absolute_url }}">{{ rel.person }}</a> {% if not rel.person.actif %}<i>(archivé-e)</i>{% endif %}</td>
                    <td>{{ rel.role|default_if_none:'-' }}</td>
                    <td>{{ rel.note }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </fieldset>
    {% endif %}

    {% if user.is_superuser %}
        <form method="get" action="{% url 'contact-merge' contact.pk %}">{% csrf_token %}
        Fusionner avec {{ merge_form.merge_with }} <button>Go</button>
        </form>
    {% endif %}
{% endif %}
</div>
{% endblock %}
