{% load fhutils %}
<form method="post">{% csrf_token %}
<table class="evaluations">
    <tbody>
    {% if object.evaluation %} {# legacy field #}
        <tr><td class="content">{{ object.evaluation|linebreaksbr }}</td><td></td><td></td></tr>
    {% endif %}
    {% for eval in object.evaluations %}
        <tr><td class="content">{{ eval.texte|linebreaksbr }}</td>
            <td>{{ eval.date|date:'j F Y' }}</td>
            <td>{{ eval.createur|short_visa }}</td>
        </tr>
    {% endfor %}
    </tbody>
    {% if not object.closed %}
        <tfoot>
        <tr class="plus-line">
            <td colspan="3">
                <img class="icon-standalone" src="{% static 'img/add.svg' %}"
                     data-url="{{ eval_url }}" onclick="addDynamicRow(this)" title="Ajouter une évaluation">
            </td>
        </tr>
        </tfoot>
    {% endif %}
</table>
</form>
