<form class="{% if ajax %}AjaxForm {% endif %}object-edition" method="post" enctype="multipart/form-data" action="{{ action }}">
    {% csrf_token %}
    {% if form.errors %}
        <div class="errornote">Ce formulaire contient des erreurs. Veuillez les corriger ci-dessous :<br>{{ form.non_field_errors }}</div>
    {% endif %}
