<div class="block" style="padding: 8px 0; margin-left: 1em;">
    <div>
        <h3>Visites</h3>
        <ul style="margin-top: 0;">
            <li {% if visites.med %}class="nonempty"{% endif %}>
                <a class="AjaxLink" href="{% url 'qmed' view.kwargs.location 'med' %}">médicales ({{ visites.med|default:0 }})</a>
            </li>
            <li {% if visites.psy %}class="nonempty"{% endif %}>
                <a class="AjaxLink" href="{% url 'qmed' view.kwargs.location 'psy' %}">du psychiatre ({{ visites.psy|default:0 }})</a>
            </li>
            <li {% if visites.ergo %}class="nonempty"{% endif %}>
                <a class="AjaxLink" href="{% url 'qmed' view.kwargs.location 'ergo' %}">ergothérapie ({{ visites.ergo|default:0 }})</a>
            </li>
            <li {% if visites.physio %}class="nonempty"{% endif %}>
                <a class="AjaxLink" href="{% url 'qmed' view.kwargs.location 'physio' %}">physiothérapie ({{ visites.physio|default:0 }})</a>
            </li>
        </ul> 
    </div>

    <h3>Médication</h3>
    <div>
        <ul>
            <li><a href="{% url 'medication-export-suppo' location %}">Liste des médicaments supp/IR</a></li>
            <li><a href="{% url 'medication-export-gouttes' location %}">Liste des médicaments en gouttes</a></li>
        </ul>
    </div>

    {% if perms.soins.validate_item %}
    <div>
        Médications à valider : {% if med_for_validation %}<a href="{% url 'medtovalidate' view.kwargs.location %}">{{ med_for_validation }}</a>{% else %}0{% endif %}
    </div>
    {% endif %}
</div>
