{% extends "base.html" %}

{% block title %}{{ block.super }} - {{ location }}{% endblock %}

{% block extra_head %}
<style>
    div.advsearch { margin: 0.2em 0.8em; }
    td.date { white-space: nowrap; }
    li.nonempty { font-weight: bold; }
</style>
<script>
document.addEventListener('DOMContentLoaded', function () {
    selectTab('{{ active_tabs }}'.split(','), '{{ view.final_url }}');
});
</script>
{% endblock %}

{% block home_url %}{{ home_url }}{% endblock %}

{% block content %}
<div id="data-tabs1" class="tabcontainer">
    <input name="tabs0" type="radio" id="tab-general-journal" class="tabinput">
    <label for="tab-general-journal" class="tablabel level0">Journal</label>
    <div class="panel journal" data-url="{% url 'general-journal' location %}">
        <div class="centered waiting"><img src="{% static 'img/animated-progress.gif' %}"></div>
    </div>

    <input name="tabs0" type="radio" id="tab-general-soins" class="tabinput">
    <label for="tab-general-soins" class="tablabel level0">Soins</label>
    <div class="panel soins" data-url="{% url 'general-soins' location %}">
        <div class="centered waiting"><img src="{% static 'img/animated-progress.gif' %}"></div>
    </div>

    {% if location == 'fhne' %}
    <input name="tabs0" type="radio" id="tab-general-agendas" class="tabinput">
    <label for="tab-general-agendas" class="tablabel level0">Agendas</label>
    <div class="panel agendas" data-url="{% url 'general-agendas' location %}">
        <div class="centered waiting"><img src="{% static 'img/animated-progress.gif' %}"></div>
    </div>
    {% endif %}
</div>
{% endblock %}
