<div class="tabcontainer">
    <input name="tabs1" type="radio" id="tab-agendajournee" checked="checked" class="tabinput">
    <label for="tab-agendajournee" class="tablabel level1">Journalier</label>
    <div class="panel agendajournee" data-url="{% url 'site-agenda-day' location 0 0 0 %}"
         data-autoload="true">
        <div class="centered waiting"><img src="{% static 'img/animated-progress.gif' %}"></div>
    </div>

    {% for categ in view.categ_slugs %}
    <input name="tabs1" type="radio" id="tab-agenda{{ categ }}" class="tabinput">
    <label for="tab-agenda{{ categ }}" class="tablabel level1">{{ categ|capfirst }}</label>
    <div class="panel agenda{{ categ }}" data-url="{% url 'categ-agenda' location categ 0 0 %}">
        <div class="centered waiting"><img src="{% static 'img/animated-progress.gif' %}"></div>
    </div>
    {% endfor %}
</div>
