{% load fhutils %}

<div class="block">
    <button class="linkButton" data-url="{% url 'modifs-add' view.kwargs.location %}">Ajouter une entrée manuelle</button>
</div>

{% include 'modif_filter_form.html' with is_ajax=True %}

{% if perms.person.change_person %}
<div class="advsearch"><a href="{% url 'search' view.kwargs.location %}">Recherche avancée</a></div>
{% endif %}

<table id="general-modif-list" class="item-list modif-list">
    <thead><tr><th>Quand</th><th>Qui</th><th>Pour qui</th><th>Quoi</th></tr></thead>
    <tbody>
    {% for item in object_list %}
        {% ifchanged item.is_future %}<tr class="separator"><td colspan="4"></td></tr>{% endifchanged %}
        {% with item.target_url as url %}
        <tr class="{{ item.manual|yesno:'manual,auto' }} {{ item.is_future|yesno:'future,passed' }}">
            <td class="date">{{ item.date|date:'D j F Y H:i' }}</td>
            <td>{{ item.get_user|short_visa }}</td>
            <td>{% if item.get_person %}<a href="{% url 'person-detail' item.get_person.pk %}">{{ item.get_person }}</a>{% else %}<i>Info générale</i>{% endif %}</td>
            <td>{% if url %}<a href="{{ url }}">{% endif %}{{ item.precision }}{% if url %}</a>{% endif %}</td>
            <td class="buttons">
                {% if item|can_edit:request.user %}
                <a class="linkButton" href="{% url 'modifs-edit' view.kwargs.location item.pk %}">
                    <img class="icon-standalone" src="{% static 'img/edit.svg' %}"
                     title="Modifier cette info"></a>
                {% endif %}
            </td>
        </tr>
        {% endwith %}
    {% endfor %}
    </tbody>
</table>

{% include 'pagination.html' with ajax=True %}
