<script defer src="{% url 'javascript-catalog' %}"></script>
<script defer src="{% static 'admin/js/core.js' %}"></script>
<script defer src="{% static 'admin/js/calendar.js' %}"></script>
<script defer src="{% static 'js/DateTimeShortcuts.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}">
