{% extends "base.html" %}

{% block title %}{{ block.super }} - Accueil{% endblock %}

{% block extra_head %}
<style>
div.site_message { text-align: center; font-size: 130%; margin: 1em 3em 0 3em; color: #670808; }
div.centered {
  display: grid;
  grid-template-columns: 10em 10em;
  justify-content: center;
  text-align: center;
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
  margin-top: 2.5em;
  font-size: 180%;
}
div.archived { text-align: right; }
a.button { padding: 12px; border: 1px solid black; border-radius: 5px; }
a.button:hover { opacity: 0.6; }
a.button.fhmn { color: black; background-color: #ff0; }
a.button.fhmn:hover { background-color: #F1F14F; }
a.button.fhne { color: white; background-color: #3866ff; }
a.button.archived { background-color: #ccc; border: 1px solid #aaa; }
</style>
{% endblock %}

{% block content %}
{% if site_message %}<div class="site_message">{{ site_message|linebreaksbr }}</div>{% endif %}
<div class="centered">
    {% if perms.person.access_fhmn %}<a href="{% url 'person-list' 'fhmn_int' %}" class="button fhmn">Internes FHMN</a>{% endif %}
    {% if perms.person.access_fhne %}<a href="{% url 'person-list' 'fhne_int' %}" class="button fhne">Internes FHNE</a>{% endif %}
    {% if perms.person.access_fhmn %}<a href="{% url 'person-list' 'fhmn_ext' %}" class="button fhmn">Externes FHMN</a>{% endif %}
    {% if perms.person.access_fhne %}<a href="{% url 'person-list' 'fhne_ext' %}" class="button fhne">Externes FHNE</a>{% endif %}
    {% if perms.person.liste_attente %}<a href="{% url 'person-attente' %}" class="button">Liste d’attente</a>{% endif %}
    <a href="{% url 'qualite-home' %}" class="button">Qualité</a>
    {% if perms.formation.view_formation %}
        <a href="{% url 'formations-list' %}" class="button">Formations</a>
    {% endif %}
</div>
{% if perms.person.access_fhmn or perms.person.access_fhne %}
<div class="archived">
    <a href="{% url 'person-list' 'arch' %}" class="button archived">Archives</a>
</div>
{% endif %}
{% endblock %}
