{% extends "base.html" %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/login.css' %}">
<style>
div#container { width: 28em; min-width: 300px; margin: 0 auto; margin-top: 3em; }
form#login-form { background-color: #eee; padding: 1em; border-radius: 0.4em; }
span.ipaddr { color: #999; font-style: italic; }
</style>
{% endblock %}

{% block content %}
<div id="container">

{% for error in form.non_field_errors %}
<p class="errornote">{{ error }}</p>
{% endfor %}
{% if errornote %}<p class="errornote">{{ errornote }}</p>{% endif %}

{% if form %}
<form method="post" id="login-form" class="login">{% csrf_token %}
  <div class="form-row">
    {{ form.username.errors }}
    {{ form.username.label_tag }} {{ form.username }}
  </div>
  <div class="form-row">
    {{ form.password.errors }}
    {{ form.password.label_tag }} {{ form.password }}
    <input type="hidden" name="next" value="{{ next }}">
  </div>
  {% url 'admin_password_reset' as password_reset_url %}
  {% if password_reset_url %}
  <div class="password-reset-link">
    <a href="{{ password_reset_url }}">Mot de passe ou nom d'utilisateur oublié ?</a>
  </div>
  {% endif %}
  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="Se connecter">
  </div>
</form>
{% endif %}

<div id="unsupported" class="hidden errornote">
    Désolé, votre navigateur est trop ancien pour être utilisé avec le DRI.<br>
    Essayez d'utiliser plutôt Firefox, Chrome ou Edge.
</div>

</div>

{% endblock %}
