{% extends "base.html" %}

{% block title %}{{ block.super }} - Médications à valider pour {{ view.kwargs.location|upper }}{% endblock %}

{% block content %}
<h2>Médications à valider pour {{ view.kwargs.location|upper }}</h2>

<table class="item-list">
    <thead>
        <tr><th>Début- fin</th><th>Qui</th><th>Pour qui</th><th>Produit</th><th>Valider</th></tr>
    </thead>
    <tbody>
    {% for item in object_list %}
        {% with nouveau=item.a_valider_debut %}
        <tr><td>{{ item.date_debut|date:'d.m.y' }}
                {% if item.date_fin %}- {{ item.date_fin|date:'d.m.y' }}{% endif %}</td>
            <td>{{ item.createur_debut }}</td>
            <td>{{ item.medication.person }}</td>
            <td><a href="{% if item.is_passed %}{% url 'medication-archives' item.medication.person.pk %}{% else %}{{ item.medication.get_absolute_url }}{% endif %}">{{ item.produit }}</a>
            </td>
            <td>{% if nouveau %}Nouveau méd.{% else %}Fin du méd.{% endif %}</td>
        </tr>
        {% endwith %}
    {% endfor %}
    </tbody>
</table>
{% endblock %}
