{% extends 'base-edit.html' %} 
{% load fhutils %}

{% block panel-body %}
    {% for field in form.visible_fields %}
        <div class="formfield {{ field|ftype }} {{ field.name }} {{ field.css_classes }}">
            {{ field.errors }}{{ field.label_tag }}
            {% if field.name == 'groupes_cible' %}
                <div class="tooltip-container">
                    <img src="{% static 'img/info.svg' %}">
                    <span class="tooltip">
                        L’information apparaîtra dans le bandeau supérieur pour chaque personne concernée lorsqu’elle se connectera la prochaine fois.<br>Ne pas abuser de cette possibilité pour ne pas surcharger inutilement les écrans.
                    </span>
                </div>
            {% endif %}
        </div> {{ field }}
        {% if field.help_text %}<span class="help_text">{{ field.help_text }}</span>{% endif %}
    {% endfor %}
{% endblock %}
