{% load fhutils %}
<div class="block" style="margin-left: 1em; float: right;">
<form class="filter-form {{ is_ajax|yesno:"AjaxForm," }}" method="get" action="{{ request.path }}">
    <fieldset>
    <div class="block">
        {{ filter_form.domaine.label_tag }} {{ filter_form.domaine }}<br>
        {{ filter_form.manual_only }} {{ filter_form.manual_only.label_tag|strip_colon }}
    </div>
    <div class="block">
        <button class="icon-only">
            <img class="icon" src="{% static 'img/search.svg' %}" alt="icône recherche">
        </button>
    </div>
    </fieldset>
</form>
</div>
