{% load fhutils %}
{% if is_paginated %}
<div class="pagination">
    <ul class="pagination">
        {% spaceless %}
        {% if page_obj.has_previous %}
          <li><a {% if ajax %}class="AjaxLink"{% endif %} href="{% page_url page_obj.previous_page_number %}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}

        {% if page_obj.number|add:'-7' > 1 %}
            <li><a {% if ajax %}class="AjaxLink"{% endif %} href="{% page_url page_obj.number|add:'-8' %}">&hellip;</a></li>
        {% endif %}

        {% for i in paginator.page_range %}
          {% if page_obj.number == i %}
            <li class="active">{{ i }}</li>
          {% elif i > page_obj.number|add:'-8' and i < page_obj.number|add:'8' %}
            <li><a {% if ajax %}class="AjaxLink"{% endif %} href="{% page_url i %}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}

        {% if page_obj.paginator.num_pages > page_obj.number|add:'7' %}
            <li><a {% if ajax %}class="AjaxLink"{% endif %} href="{% page_url page_obj.number|add:'8' %}">&hellip;</a></li>
        {% endif %}

        {% if page_obj.has_next %}
          <li><a {% if ajax %}class="AjaxLink"{% endif %} href="{% page_url page_obj.next_page_number %}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
        {% endspaceless %}
    </ul>
</div>
{% endif %}
