{% extends 'base-detail.html' %}
{% load fhutils %}

{% block panel-body %}
<div class="block">
    <button class="linkButton" data-url="{% url 'journal-person-new' view.person.pk %}">Ajouter une entrée manuelle</button>
</div>

{% include 'modif_filter_form.html' with is_ajax=True %}

<table id="person-modif-list" class="item-list modif-list">
    <thead><tr><th>Quand</th><th>Qui</th><th>Quoi</th></tr></thead>
    {% if next_events %}
    <tbody>
        <tr><th colspan="3" style="text-align: left; background-color: #eee;">
            Prochains rendez-vous de soins
        </th></tr>
    {% for event in next_events %}
        <tr class="manual future">
            <td>{{ event.start|date:'D j F Y H:i' }}</td>
            <td>{{ event.creator|short_visa }}</td>
            <td>{{ event.title }}{% if event.description %}<br>{{ event.description }}{% endif %}</td>
        </tr>
    {% endfor %}
    </tbody>
    {% endif %}
    <tbody>
    {% for item in object_list %}
        {% ifchanged item.is_future %}<tr class="separator"><td colspan="3"></td></tr>{% endifchanged %}
        {% with item.target_url as url %}
        <tr class="{{ item.manual|yesno:'manual,auto' }} {{ item.is_future|yesno:'future,passed' }}">
            <td>{% if item.is_future %}{{ item.date|date:'D j F Y H:i' }}{% else %}{{ item.date }}{% endif %}</td>
            <td>{{ item.user|short_visa }}</td>
            <td>{% if url %}<a href="{{ url }}">{% endif %}{{ item.precision }}{% if url %}</a>{% endif %}</td>
            <td class="buttons">
                {% if item|can_edit:request.user %}
                <a class="AjaxLink" href="{% url 'journal-person-edit' view.person.pk item.pk %}">
                    <img class="icon-standalone" src="{% static 'img/edit.svg' %}"
                     title="Modifier cette info"></a>
                {% endif %}
            </td>
        </tr>
        {% endwith %}
    {% empty %}
        <tr><td colspan="3">-</td></tr>
    {% endfor %}
    </tbody>
</table>

{% include 'pagination.html' with ajax=True %}
{% endblock %}
