{% extends "base.html" %}
{% load fhutils %}

{% block title %}{{ block.super }} - {{ title }}{% endblock %}

{% block content %}
<div class="subtitle">
    <span class="text">{{ title }}</span>
    <div class="floatright col-choice">
        <form method="get"><select class="select-style immediate-submit" name="columns">
            {% for key, label in col_choices %}
            <option value="{{ key }}"{% if col_chosen == key %} selected{% endif %}>{{ label }}</option>
            {% endfor %}
        </select></form>
    </div>
</div>

<form method="post">{% csrf_token %}
<table id="person-list" class="tablesort">
    <thead><tr>
        <th>Nom et prénom</th>{% for head in headers %}<th>{{ head }}</th>{% endfor %}
    </tr></thead>
    <tbody>
    {% for person in person_list %}
        {% include 'person_list_line.html' %}
    {% endfor %}
    </tbody>
</table>
</form>
<div class="num_residents">{{ person_list|length }} résidents</div>

{% if pdf_url %}
<div class="pdf_link floatright">
    <a href="{{ pdf_url }}"><img src="{% static 'img/pdf-icon.png' %}" width="24"></a>
</div>
{% endif %}
{% if new_button %}
<div class="buttons">
    <button class="linkButton" data-url="{% url 'person-new' %}">Nouveau résident</button>
</div>
{% endif %}
{% endblock %}
