{% extends 'base-detail.html' %}
{% load fhutils %}

{% block panel-head %}{% endblock %}

{% block panel-body %}
<div class="block" style="min-width: 33%;">
<table class="fieldvalues dense">
    <tr><th>{% display_label 'civilite' %}</th><td>{% display_field 'civilite' %}</td></tr>
    <tr><th>{% display_label 'etat_civil' %}</th><td>{% display_field 'etat_civil' %}</td></tr>
    <tr><th>{% display_label 'origine' %}</th><td>{% display_field 'origine' %}</td></tr>
    <tr><th>{% display_label 'langue_mat' %}</th><td>{% display_field 'langue_mat' %}</td></tr>
    <tr><th>{% display_label 'taille' %}</th><td>{% display_field 'taille' unit='cm' %}</td></tr>
    <tr><th>{% display_label 'profession' %}</th><td>{% display_field 'profession' %}</td></tr>
    <tr><th>{% display_label 'confession' %}</th>
        <td><div class="floatright">{% display_label 'pratiquant' %} {% display_field 'pratiquant' 'inline' %}</div>
            {% display_field 'confession' 'inline' %}
        </td>
    </tr>
    <tr><th>{% display_label 'provenance' %}</th><td>{% display_field 'provenance' %}</td></tr>
    <tr><th>{% display_label 'repondant_off' %}</th>
        <td>{% if is_form %}
                {% display_field 'repondant_off' %} ou<br>
                {% display_field 'repondant_off_self' %} {% display_label 'repondant_off_self' %}
            {% else %}
                {% if person.repondant_off_self %}
                    <div class="field-content"><i>{{ person.repondant_off_str }}</i></div>
                {% else %}
                    {% display_field 'repondant_off' %}
                {% endif %}
            {% endif %}
        </td>
    </tr>
    <tr><th>{% display_label 'repondant_ther' %}</th><td>{% display_field 'repondant_ther' %}</td></tr>
</table>
</div>

<div class="block">
<table class="fieldvalues dense">
    <tr><th><label>Domicile de fait</label></th>
        <td>{% display_field 'domicile_rue' %} {% display_field 'domicile_loc' %}</td>
    </tr>
    <tr><th><label>Tél</label></th><td>{% display_field 'domicile_tel' %}</td></tr>
    <tr><th><label>Portable</label></th><td>{% display_field 'portable' %}</td></tr>
    <tr><th><label>Domicile légal</label></th>
        <td>{% display_field 'dom_legal_rue' %} {% display_field 'dom_legal_loc' %}</td>
    </tr>
    <tr><th><label>Hors canton</label></th><td>{% display_field 'hors_canton' %}</td></tr>
    <tr><th>{% display_label 'medecin_traitant' %}</th><td>{% display_field 'medecin_traitant' %}</td></tr>
    <tr><th>{% display_label 'dentiste' %}</th><td>{% display_field 'dentiste' %}</td></tr>
</table>
</div>
<br>
<div class="block">
<table class="fieldvalues dense">
    <tr><th>{% display_label 'referent1' %}</th><td>{% display_field 'referent1' %}</td></tr>
    <tr><th>{% display_label 'referent2' %}</th><td>{% display_field 'referent2' %}</td></tr>
    <tr><th>{% display_label 'repondant_ergo' %}</th><td>{% display_field 'repondant_ergo' %}</td></tr>
    <tr><th>{% display_label 'repondant_ergo_uaj' %}</th><td>{% display_field 'repondant_ergo_uaj' %}</td></tr>
    <tr><th>{% display_label 'repondant_physio' %}</th><td>{% display_field 'repondant_physio' %}</td></tr>
    <tr><th>{% display_label 'repondant_soins1' %}</th><td>{% display_field 'repondant_soins1' %}</td></tr>
    <tr><th>{% display_label 'repondant_soins2' %}</th><td>{% display_field 'repondant_soins2' %}</td></tr>
    <tr><th>{% display_label 'repondant_anim' %}</th><td>{% display_field 'repondant_anim' %}</td></tr>
    <tr><th>{% display_label 'repondant_atelier' %}</th><td>{% display_field 'repondant_atelier' %}</td></tr>
    <tr><th>{% display_label 'degre_plaisir' %}</th><td>{% display_field 'degre_plaisir' %}</td></tr>
    <tr><th>{% display_label 'no_plaisir' %}</th><td>{% display_field 'no_plaisir' %}</td></tr>
    <tr><th>{% display_label 'date_plaisir' %}</th><td>{% display_field 'date_plaisir' %}</td></tr>
</table>
</div>

<div class="block">
<table class="fieldvalues dense">
    <tr><th>{% display_label 'no_dossier_comptable' %}</th><td>{% display_field 'no_dossier_comptable' %}</td></tr>
    <tr><th>{% display_label 'caisse_mal_acc' %}</th><td>{% display_field 'caisse_mal_acc' %}</td></tr>
    <tr><th>{% display_label 'no_assure_lamal' %}</th><td>{% display_field 'no_assure_lamal' %}</td></tr>
    <tr><th>{% display_label 'caisse_mal_acc_compl' %}</th>
        <td>{% display_field 'caisse_mal_acc_compl' %}</td></tr>
    <tr><th>{% display_label 'no_assure_compl' %}</th><td>{% display_field 'no_assure_compl' %}</td></tr>
    <tr><th>{% display_label 'caisse_ai_acc' %}</th><td>{% display_field 'caisse_ai_acc' %}</td></tr>
    <tr><th>{% display_label 'assurance_rc' %}</th><td>{% display_field 'assurance_rc' %}</td></tr>
    <tr><th>{% display_label 'assurance_menage' %}</th><td>{% display_field 'assurance_menage' %}</td></tr>
    <tr><th>{% display_label 'no_avs' %}</th>
        <td>{% display_field 'no_avs' 'inline' %} <label>PC</label> {% display_field 'pc' 'inline' %}</td>
    </tr>
    {% if not is_form and allergies %}
    <tr><th><label>Allergies médic.</label></th>
        <td><div class="field-content allergies_medic">{{ allergies }}</div></td>
    </tr>
    {% endif %}
</table>
</div>

{% endblock %}

{% block buttons-editable-left %}
    {{ block.super }}
    {% if archivable %}
        <form class="inline" method="post" action="{% url 'person-archiver' person.pk %}">{% csrf_token %}
            <button class="delete confirm" data-url="{% url 'person-archiver' person.pk %}"
                    data-confirm="Souhaitez-vous vraiment archiver cette personne ?">Archiver</button>
        </form>
    {% endif %}
{% endblock %}

{% block buttons-bottom-right %}
{% if perms.soins.view_diagnosticmedical %}
    <a class="button" href="{% url 'person-transfert' person.pk %}">Dossier de transfert</a>
{% endif %}
{% endblock %}
