{% extends "base.html" %}

{% block title %}{{ block.super }} - {{ person.nom }} {{ person.prenom }}{% endblock %}

{% block extra_head %}
{% include 'headers_datetime.html' %}
<script defer src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script>
<script defer src="{% static 'admin/js/vendor/select2/select2.full.min.js' %}"></script>
<script defer src="{% static 'js/Sortable.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/vendor/select2/select2.min.css' %}" />
<script>
document.addEventListener('DOMContentLoaded', function () {
    // Intercept click on up/down person arrow to add the current tab
    // to the 'totab' query parameter.
    var changePers = document.querySelectorAll("a.change-pers");
    for (var i = 0; i < changePers.length; i++) {
        changePers[i].addEventListener('click', function (ev) {
            if (activeTab) {
                ev.preventDefault();
                window.location.href = this.href + '?totab=' + activeTab;
            }
        });
    }
    selectTab('{{ active_tabs }}'.split(','), '{{ view.final_url }}');
});
</script>
{% endblock %}

{% block home_url %}{{ home_url }}{% endblock %}

{% block content %}
<div id="data-common">
    <div id="data-person" class="panel block">
        <div id="person-updown">
            {% if prev_pers_pk %}<a class="change-pers" href="{% url 'person-detail' prev_pers_pk %}">▲</a>{% endif %}
            <br>
            {% if next_pers_pk %}<a class="change-pers" href="{% url 'person-detail' next_pers_pk %}">▼</a>{% endif %}
        </div>
        {% include 'person_detail_person.html' %}
        {% for warning in warnings %}
            <div class="warningnote">{{ warning }}</div>
        {% endfor %}
        {% if person and not person.actif %}
        <div class="infonote flex-between">
            Cette personne figure actuellement dans les dossiers archivés.
            <form method="post" class="inline" action="{% url 'person-desarchiver' person.pk %}">
                {% csrf_token %}
                <button class="confirm" data-confirm="Voulez-vous vraiment replacer cette personne en liste d’attente ?">Replacer dans la liste d’attente</button>
            </form>
        </div>
        {% endif %}
    </div>
</div>

<div id="data-tabs1" class="tabcontainer">
  {% for label, tab in tabs.items %}
    {% if not tab %}<label class="tablabel level0 unavailable">{{ label }}</label>
    {% else %}
    <input name="tabs0" type="radio" id="tab-{{ tab.id }}" {% if forloop.first %}checked="checked"{% endif %} class="tabinput">
    <label for="tab-{{ tab.id }}" class="tablabel level0">{{ label }}</label>
    <div class="panel {{ tab.id }}"
         data-url="{% if tab.view_name %}{% url tab.view_name person.pk %}{% else %}{% url 'tab-load' person.pk tabset tab.id %}{% endif %}">
        <div class="centered waiting"><img src="{% static 'img/animated-progress.gif' %}"></div>
    </div>
    {% endif %}
  {% endfor %}
</div>

<div id="footer"></div>
{% endblock %}
