{% load fhutils %}
<tr>
    <td>
        {% if person_detail_url_name %}<a href="{% url person_detail_url_name person.pk %}">{{ person }}</a>
        {% else %}{{ person }}
        {% endif %}
    </td>
    {% for col in columns %}
        {% if form %}
            <td>{% display_field col %}</td>
        {% else %}
            {% if person|is_date:col %}<td class="right" data-sort="{{ person|get_value:col|date:'Y-m-d' }}">{{ person|get_value:col|date:'j b Y' }}</td>
            {% else %}<td>{{ person|get_value:col }}</td>
            {% endif %}
        {% endif %}
    {% endfor %}

    {% if can_edit %}
    <td class="buttons">
        <img class="icon-standalone" src="{% static 'img/edit.svg' %}"
         data-url="{% url 'person-list-edit' person.pk col_chosen %}"
         onclick="editRow(this, insertButtons=true)" title="Modifier cette ligne">
    </td>
    {% endif %}
</tr>
