{% extends 'base-detail.html' %}
{% load fhutils %}

{% block panel-head %}
<div>
    <b>Référents :</b> {{ person.referent1 }} {{ person.referent2 }}
    <span style="margin-left: 5em;"><b>Référent ergo :</b></span> {{ person.repondant_ergo|default_if_none:'' }} {{ person.repondant_ergo_uaj|default_if_none:'' }}
</div>
{{ block.super }}
{% endblock %}

{% block panel-body %}
<div><b>QUI FAIT QUOI :</b> R=Résident, F=Famille, C=Curateur, S=Soins, E=Ergo, An=Animation, Ad=</div>
<div class="block repartition">
    <table class="fieldvalues dense">
        <tr><td><h3>Gestion administrative :</h3></td></tr>
        {% display_field 'boite_aux_lettres' 'as_tr' %}
        {% display_field 'assurance' 'as_tr' %}
        {% display_field 'paiements' 'as_tr' %}
        {% display_field 'argent_poche' 'as_tr' %}
        {% display_field 'comm_bons_taxi' 'as_tr' %}
        <tr><th class="label">Autres : {% display_field 'gestion_autres_txt' %}</th>
            <td>{% display_field 'gestion_autres' %}</td>
        </tr>

        <tr><td><h3>Achats :</h3></td></tr>
        {% display_field 'achats_produits' 'as_tr' %}
        {% display_field 'achats_vetements' 'as_tr' %}
        <tr><th class="label">Autres : {% display_field 'achats_autres_txt' %}</th>
            <td>{% display_field 'achats_autres' %}</td>
        </tr>

        <tr><td><h3>Vacances :</h3></td></tr>
        {% display_field 'organisation_vac' 'as_tr' %}
        {% display_field 'prep_bagages' 'as_tr' %}
        <tr><th class="label">Autres : {% display_field 'vac_autres_txt' %}</th>
            <td>{% display_field 'vac_autres' %}</td>
        </tr>
    </table>
</div>

<div class="block repartition">
    <table class="fieldvalues dense">
        <tr><td><h3>Gestion des rendez-vous :</h3></td></tr>
        {% display_field 'medicaux' 'as_tr' %}
        {% display_field 'physio_ext' 'as_tr' %}
        {% display_field 'ergo_ext' 'as_tr' %}
        {% display_field 'dentiste' 'as_tr' %}
        {% display_field 'lunettes' 'as_tr' %}
        {% display_field 'coiffeur' 'as_tr' %}
        {% display_field 'reserv_taxi' 'as_tr' %}

        <tr><td><h3>Studio :</h3></td></tr>
        {% display_field 'mobilier' 'as_tr' %}
        {% display_field 'orga_studio' 'as_tr' %}
        <tr><th class="label">Autres : {% display_field 'studio_autres_txt' %}</th>
            <td>{% display_field 'studio_autres' %}</td>
        </tr>

        <tr><td><h3>Camps :</h3></td></tr>
        {% display_field 'prep_camp' 'as_tr' %}
        <tr><th class="label">Autres : {% display_field 'camp_autres_txt' %}</th>
            <td>{% display_field 'camp_autres' %}</td>
        </tr>
    </table>
</div>

<div style="text-align: center; font-weight: bold;">Ce document est à réactualiser lors de chaque bilan annuel.</div>
{% endblock %}
