{% extends 'base-detail.html' %}
{% load fhutils %}

{% block panel-head %}{% endblock %}
{% block panel-body %}
<div class="block" style="width: 100%;">
    <form class="relations" method="POST">{% csrf_token %}
    <table class="relations tablesort">
        <thead><tr>
            <th>Nom, prénom</th><th>Adresse</th><th>Lien</th><th>Tél.</th>
            <th>Mobile</th><th>Courriel</th><th>Note</th><td></td>
        </tr></thead>
        <tbody>
        {% for rel in object_list %}
        <tr>
            <td>
                {% if rel.proche_sig %}<span class="proche_sig" title="Proche signifiant">PS</span>{% endif %}
                <a href="{{ rel.contact.get_absolute_url }}">{{ rel.contact.nom }} {{ rel.contact.prenom }}</a></td>
            <td>{{ rel.contact.adresse_complete }}</td>
            <td>{{ rel.role|default_if_none:'-' }}</td>
            <td class="tel">{{ rel.contact.telephone }}</td>
            <td class="tel">{{ rel.contact.portable }}</td>
            <td class="email">{{ rel.contact.email }}</td>
            <td>{{ rel.note }}</td>
            <td class="buttons">
            {% if perms.person.delete_relation %}
                <img class="icon-standalone" src="{% static 'img/delete.svg' %}"
                     data-url="{% url 'person-relation-delete' person.pk rel.pk %}"
                     onclick="deleteItem(this)" title="Supprimer cette relation">
            {% endif %}
                <img class="icon-standalone" src="{% static 'img/edit.svg' %}"
                     data-url="{% url 'person-relation-edit' person.pk rel.pk %}"
                     onclick="editRow(this)" title="Modifier cette relation">
            </td>
        </tr>
        {% endfor %}
        </tbody>
        {% if perms.person.add_relation %}
        <tfoot>
        <tr class="plus-line"><td>
            <img class="icon-standalone" src="{% static 'img/add.svg' %}"
                 data-url="{% url 'person-relation-add' person.pk %}" onclick="addDynamicRow(this)" title="Ajouter une relation">
        </td></tr>
        </tfoot>
        {% endif %}
    </table>
    </form>
</div>
{% endblock %}
