{% extends "base.html" %}

{% block content %}
<div id="container">
    <h2>Ajout d’une nouvelle personne (en liste d’attente)</h2>
    <form method="post" action=".">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Ajouter</button>
    </form>
</div>
{% endblock %}
