{% load fhutils %}

{% if is_form %}{% form_head ajax=ajax %}{% endif %}

<div class="block">
<table class="fieldvalues person-base">
    <tr><th>Nom</th><td class="nom">{% display_field 'nom' %}</td></tr>
    <tr><th>Date de naiss.</th><td>{% display_field 'date_naissance' %}</td></tr>
</table>
</div>

<div class="block">
<table class="fieldvalues person-base">
    <tr><th>Prénom</th><td class="prenom">{% display_field 'prenom' %}</td></tr>
    {% if is_form and form.date_demande %}<tr><th>Date de la demande</th><td>{% display_field 'date_demande' %}</td></tr>{% endif %}
    {% if not is_form %}<tr><th>Date admission</th><td>{{ person.date_admission|date }}</td></tr>{% endif %}
    {% if person.date_depart %}<tr><th>Date départ</th><td>{{ person.date_depart|date }}</td></tr>{% endif %}
</table>
</div>

<div class="block">
<table class="fieldvalues person-base">
    {% if not is_form %}<tr><th>Situation</th><td>{{ person.get_situation_display }}</td></tr>{% endif %}
    <tr><th>{% display_label 'no_chambre' %}</th><td>{% display_field 'no_chambre' %}</td></tr>
    {% if person.date_depart %}<tr><th>Cause départ</th><td>{% display_field 'cause_depart' %}</td></tr>{% endif %}
</table>
</div>

{% if not is_form %}
<div class="block">
<table class="fieldvalues person-base">
    <tr><th>Date de modif.</th><td><div class="field-content">{{ person.updated|date:"d M Y" }}</div></td></tr>
</table>
</div>
  {% if person.photo %}
  <div class="block">
    <img class="photo" src="{{ person.photo|thumbnail }}">
  </div>
  {% endif %}
{% else %}
  <div class="block" style="padding-top: 0.8em;">
      <b>{{ form.photo.label_tag }}</b><br>
      {{ form.photo.errors }}{{ form.photo }}
  </div>
{% endif %}

{% if is_form %}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    {% form_foot %}
{% else %}
    {% if person|can_edit:request.user %}
    <div class="block bottom" style="margin-left: 1em;">
        <img class="linkButton icon" src="/static/img/edit.svg"
             data-url="{% url 'person-edit' person.pk %}" title="Modifier">
    </div>
    {% endif %}
{% endif %}
