{% extends 'base-detail.html' %}
{% load fhutils %}

{% block panel-head %}
<div>
    <b>Référents :</b> {{ person.referent1 }} {{ person.referent2 }}
    <span style="margin-left: 5em;"><b>Référent ergo :</b></span> {{ person.repondant_ergo|default_if_none:'' }} {{ person.repondant_ergo_uaj|default_if_none:'' }}
</div>
{{ block.super }}
{% endblock %}

{% block panel-body %}
<div><b>Rangement des documents où ?</b></div>
<div class="block repartition">
    <table class="fieldvalues">
        {% display_field 'decisions_apa' 'as_tr' %}
        {% display_field 'carte_ident' 'as_tr' %}
        {% display_field 'permis_sejour' 'as_tr' %}
        {% display_field 'certif_am' 'as_tr' %}
        {% display_field 'contrats_rc' 'as_tr' %}
        {% display_field 'carte_avs' 'as_tr' %}
        {% display_field 'carte_ai_cff' 'as_tr' %}
        {% display_field 'bons_taxi' 'as_tr' %}
        <tr><th class="label">Autres : {% display_field 'doc_autres_txt' %}</th>
            <td>{% display_field 'doc_autres' %}</td>
        </tr>
        <tr><td></td>
            <td>R=Résident, F=Famille, C=Curateur, TS=Tiroir Soins, CA=Classeur résident Administration, An=Animation
            <div><b>Ce document est à réactualiser lors de chaque bilan annuel.</b></div>
        </td></tr>
    </table>
</div>
{% endblock %}
