{% extends 'base-detail.html' %}
{% load fhutils %}

{% block panel-body %}
{% if view.person|can_edit:request.user %}
<div class="block">
    <button class="linkButton" data-url="{% url 'journal-person-es-new' view.person.pk %}">Nouvelle entrée ou sortie</button>
</div>
{% endif %}

<table id="person-modif-list" class="item-list modif-list">
    <thead><tr><th>Quand</th><th>Type</th><th>Situation</th><th>Motif</th></tr></thead>
    <tbody>
    {% for item in object_list %}
        <tr>
            <td>{{ item.date|date:'D j F Y H:i' }}</td>
            <td>{{ item.get_entree_sortie_display }}</td>
            <td>{{ item.get_situation_display }}</td>
            <td>{{ item.motif }}</td>
            <td class="buttons">
                {% if view.person|can_edit:request.user %}
                <a class="AjaxLink" href="{% url 'journal-person-es-edit' view.person.pk item.pk %}">
                    <img class="icon-standalone" src="{% static 'img/edit.svg' %}"
                     title="Modifier cette info"></a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
