{% load fhutils %}
<td colspan="2">
    {{ form.non_field_errors }}{{ form.person }}
    {% if form.instance.pk %}{{ form.instance.contact }}{% else %}{{ form.contact }}{% endif %}<br>
    <div class="form-buttons">
        <button type="submit" formaction="{{ request.path }}" onclick="saveRowForm(event, this)">Enregistrer</button>
        <button class="cancel-rel" onclick="cancelRow(event, this)">Annuler</button>
    </div>
</td>
<td>{{ form.role }}</td>
<td colspan="4">
    <div>Note (sur la relation) :<br>{{ form.note.errors }}{{ form.note }}</div>
    <div>{{ form.proche_sig.errors }}{{ form.proche_sig }} {{ form.proche_sig.label_tag|strip_colon }}</div>
</td>
