{% extends "base.html" %}

{% block title %}{{ block.super }} - Recherche{% endblock %}

{% block extra_head %}
    {% include 'headers_datetime.html' %}
    <style>
        span.form-item { margin-right: 2em; line-height: 2.5em; }
        input#id_texte { width: 25em; max-width: 70%; }
    </style>
{% endblock %}

{% block content %}
<div id="container">
<form method="get">
    <div>{{ form.instance.label_tag }} {{ form.instance }} des résidents «{{ location }}».</div>
    <div>
        <span class="form-item">{{ form.date_du.label_tag }} {{ form.date_du }}</span>
        <span class="form-item">{{ form.date_au.label_tag }} {{ form.date_au }}</span>
        <span class="form-item">{{ form.qui.label_tag }} {{ form.qui }}</span><br>
        <span class="form-item">{{ form.texte.label_tag }} {{ form.texte }}</span>
    </div>
    <div>
        <button><img class="icon-in-button" src="{% static 'img/search.svg' %}">Rechercher</button>
    </div>
</form>

{% if results is not None %}
    {% if not results %}<p><i>Aucun résultat</i></p>
    {% else %}
        {% include 'base-list.html' with object_list=results %}
    {% endif %}
{% endif %}
</div>
{% endblock %}
