{% load fhutils %}

<div class="tabcontainer">
{% for label, tabitem in tab.tabs.items %}
    {% if not tabitem %}<label class="tablabel unavailable">{{ label }}</label>
    {% else %}
    <input name="tabs{{ tab.level }}" type="radio" id="tab-{{ tabitem.id }}" {% if forloop.first %}checked="checked"{% endif %} class="tabinput">
    <label for="tab-{{ tabitem.id }}" class="tablabel level{{ tab.level }}">{{ label }}</label>
    <div class="panel {{ tabitem.id }}"
         data-url="{% if tabitem.view_name %}{{ tabitem|view_url:person.pk }}{% else %}{% url 'tab-load' person.pk tabset tabitem.id %}{% endif %}"
        {% if forloop.first %}data-autoload="true"{% endif %}>
        <div class="centered"><img src="{% static 'img/animated-progress.gif' %}"></div>
    </div>
    {% endif %}
{% endfor %}
</div>
