{% extends "base.html" %}
{% load fhutils %}

{% block title %}{{ block.super }} - Liste des utilisateurs{% endblock %}

{% block extra_head %}
<style>
    tr.expired td { background-color: #eee; color: #777; font-style: italic; }
    h2.current, h2.link { display: inline-block; margin-right: 4rem; }
    h2.current a { color: black; cursor: default; }
    h2.current a:hover { background-color: white; }
    h2.link { font-size: small; font-style: italic; }
</style>
{% endblock %}

{% block content %}

<div id="container">
<h2 class="{{ view.archived|yesno:'link,current' }}"><a href="{% url 'user-list' %}">Liste des utilisateurs du DRI</a></h2>
<h2 class="{{ view.archived|yesno:'current,link' }}"><a href="{% url 'user-archived' %}">Utilisateurs archivés</a></h2>

<table id="person-list" class="tablesort">
    <thead><tr class="sticky">
        <th>Nom d’utilisateur</th><th>Nom</th><th>Prénom</th><th>Courriel</th><th>Groupes</th>
        <th>Resp. secteur</th>
        <th><span title="Indique si la personne peut se connecter au DRI">Accès?</span></th>
    </tr></thead>
    <tbody>
    {% with can_edit=perms.person.change_user %}
    {% for user in object_list %}
    {% with expired=user.has_expired %}
    <tr {% if expired %}class="expired"{% endif %}>
        <td>{% if can_edit %}<a href="{% url 'user-edit' user.username %}">{% else %}<a href="{% url 'user-profile' user.username %}">{% endif %}
            {{ user.username }}{% if expired %} (expiré){% endif %}
            </a>
        </td>
        <td>{{ user.last_name }}</a></td>
        <td>{{ user.first_name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.groups.all|join:', ' }}</td>
        <td>{{ user.resp_secteur|bool_as_icon_true }}</td>
        <td>{{ user.is_active|bool_as_icon }}</td>
    </tr>
    {% endwith %}
    {% endfor %}
    {% endwith %}
    </tbody>
</table>

<div class="buttons">
    {% if perms.person.add_user %}
    <button class="linkButton" data-url="{% url 'user-new' %}"><img class="icon-in-button" src="{% static 'img/add.svg' %}" title="Créer un utilisateur"> Créer un utilisateur</button>
    {% endif %}
    <button class="linkButton" data-url="{% url 'user-export' %}">Exporter la liste</button>
</div>

</div>
{% endblock %}
