{% extends "base.html" %}
{% load fhutils %}

{% block title %}{{ block.super }} - Utilisateur : {{ object.first_name }} {{ object.last_name }}{% endblock %}

{% block extra_head %}
<style>
    input[type="text"] { width: initial; max-width: 100%; }
    input[type="email"] { width: 25em; max-width: 100%; }
    div.half { display: inline-block; vertical-align: top; width: 49%; }
    div.form-line { margin-top: 0.5em; }
    div#change_pwd_btn { float: right; }
</style>
<script defer src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script>
<script defer src="{% static 'admin/js/vendor/select2/select2.full.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/vendor/select2/select2.min.css' %}" />
{% endblock %}

{% block content %}

<div id="container">
{% if object.pk is None %}<h2>Nouvel utilisateur</h2>{% endif %}

{% if is_form %}{% form_head ajax=False %}{% endif %}

<div class="half">
    <div class="field-header">Nom d'utilisateur</div>
    <div class="field-content">{% display_field 'username' %}</div>

    <div class="half">
        <div class="field-header">Nom</div>
        <div class="field-content">{% display_field 'last_name' %}</div>
    </div>

    <div class="half">
        <div class="field-header">Prénom</div>
        <div class="field-content">{% display_field 'first_name' %}</div>
    </div>

    <div class="field-header">Courriel</div>
    <div class="field-content">{% display_field 'email' %}</div>

    <div class="half">
        <div class="field-header">Secteur</div>
        <div class="field-content">{% display_field 'secteur' %}</div>
        <div class="field-content">{% display_label 'resp_secteur' %} {% display_field 'resp_secteur' %}</div>
    </div>

    <div class="half">
        <div class="field-header">Fonction</div>
        <div class="field-content">{% display_field 'fonction' %}</div>
    </div>

    <div style="margin-top: 1em;">
        <label><b>Contact :</b></label> {% display_field 'contact' %}
        {% if is_form and form.instance.pk and not form.instance.contact %}
        <button class="linkButton" data-url="{% url 'contact-new' %}?foruser={{ form.instance.pk }}" title="Créer un nouveau contact"><img class="icononly-in-button" src="{% static 'img/add.svg' %}"></button>
        {% endif %}
    </div>

    <p>&nbsp;</p>
    {% if perms.person.change_user %}
    <div class="form-line">
        {% display_field 'is_active' %}<label for="id_is_active">Actif</label>
        <div class="help_text">Un utilisateur qui n’est pas actif ne peut pas se connecter au DRI.</div>
    </div>
    <div class="form-line">
        {% display_field 'test' %}{{ form.test.label_tag|strip_colon }}
        <div class="help_text">{{ form.test.help_text }}</div>
    </div>
    <div class="form-line">{% display_label 'expiration' %} {% display_field 'expiration' %}</div>
    <div class="form-line">{% display_field 'archived' %} {% display_label 'archived' %}</div>
    {% endif %}
</div>

<div class="half">
    <div class="field-header">Groupes</div>
    <div class="field-content">{% display_field 'groups' %}</div>
</div>

{% if is_form %}
    {% if object.pk is None %}
        <p>Si la case «Actif» est cochée, un mot de passe aléatoire est généré automatiquement et un courriel est envoyé à l’adresse indiquée ci-dessus (ou à votre adresse si la personne n’en possède pas).</p>
    {% endif %}
    {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
    {% if object.pk is not None %}
    <div style="float: right;">
        <button id="reinit" class="confirm" formaction="{% url 'user-reinit-password' object.username %}"
            data-confirm="Voulez-vous vraiment réinitialiser le mot de passe de cet utilisateur ?">Réinitialiser le mot de passe</button>
    </div>
    {% endif %}
    {% form_foot %}
{% else %}
<div class="buttons">
    {% if on_own_profile %}
    <div id="change_pwd_btn">
        <button class="linkButton" data-url="{% url 'user-change-password' object.username %}">Modifier mon mot de passe</button>
    </div>
    {% endif %}
    {% if notices %}
    <h3>Notifications actives</h3>
    {% for notice in notices %}
    <div class="notice">
        {{ notice.get_event_display }} ({{ notice.get_situations_display }})
    </div>
    {% endfor %}
    {% endif %}
</div>
{% endif %}
</div>
{% endblock %}
