{% extends is_ajax|yesno:"empty.html,base.html" %}

{% block content %}
<div style="display: flex; justify-content: space-between;">
    <h2>{{ title }}</h2>

    <div style="margin: 1em 0;">
        <button class="linkButton" data-url="{% url 'visitegen-new' location vtyp %}">Créer visite générale</button>
        <div class="tooltip-container">
            <img src="{% static 'img/info.svg' %}">
            <span class="tooltip showleft">Seulement pour les visites non liées à un résident</span>
        </div>
    </div>
</div>

<table class="item-list tablesort">
    <thead>
        <tr><th>Quand</th><th>Qui</th><th>Date visite</th><th>Pour qui</th><th>Question</th><th>Réponse</th></tr>
    </thead>
    <tbody>
    {% for item in object_list %}
        {% ifchanged item.date_visite %}<tr class="separator"><td colspan="6"></td></tr>{% endifchanged %}
        <tr><td data-sort="{{ item.date|date:'Y-m-d' }}">{{ item.date|date:'d.m.y' }}</td>
            <td>{{ item.auteur }}</td>
            <td data-sort="{{ item.date_visite|date:'Y-m-d' }}">{{ item.date_visite|date:'d.m.y' }}</td>
            <td>{{ item.person|default_if_none:'' }}{{ item.site|upper }}</td>
            <td>
                <a {% if item.site %}class="AjaxLink"{% endif %} href="{{ item.get_absolute_url }}">{{ item.questions }}</a>
            </td>
            <td{% if not item.reponse %} class="reponse_empty"{% endif %}>{{ item.reponse }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
