{% extends 'base-detail.html' %}
{% load fhutils %}

{% block panel-head %}
<div class="participants">Participant-e-s : {% display_field 'participants' %}</div>
<div style="margin-left: 2em;">Libellé : {% display_field 'libelle' %}</div>
<div style="margin-left: 2em;">Date du bilan : {% display_field 'date_bilan' %}</div>
{{ block.super }}
{% endblock %}

{% block panel-body %}
{% regroup subitems by secteur as item_list %}
{% for secteur in item_list %}
    <div class="block mid-width">
        <div class="field-header">{{ secteur.list.0.get_secteur_display }}</div>
        {% for subitem in secteur.list %}
            {% if not forloop.first %}<hr>{% endif %}
            <div>
                <div class="floatright auteur-date inside-text">
                    {{ subitem.createur|short_visa }}, {{ subitem.date|date:'d.m.Y' }}
                    {% if subitem|can_edit:request.user %}
                    <img class="linkButton icon" src="{% static 'img/edit.svg' %}" data-url="{% url 'bilanannuel-edititem' bilanannuel.person.pk bilanannuel.pk subitem.pk %}" title="Modifier">
                    {% endif %}
                </div>
                {{ subitem.contenu|linebreaksbr }}
            </div>
        {% endfor %}
    </div>
{% endfor %}
{% endblock %}

{% block panel-buttons %}
    {% if not is_form %}
        <div class="nopadding visible" style="margin-top: 1em;">
        <button class="linkButton" data-url="{{ request.path }}additem/"><img class="icon-in-button" src="{% static 'img/add.svg' %}" title="Ajouter"> Ajouter un paragraphe</button>
        </div>
    {% endif %}
    {{ block.super }}
{% endblock %}
