{% extends 'base-detail.html' %}
{% load fhutils %}

{% block panel-head %}
    <div class="line-item">Référent 1 : {{ object.get_referent1|default_if_none:'-' }}</div>
    <div class="line-item">Référent 2 : {{ object.get_referent2|default_if_none:'-' }}</div>
    {{ block.super }}
{% endblock %}

{% block panel-body %}
<div class="field-header">{% display_label 'objectifs' %}</div>
<div>{% display_field 'objectifs' %}</div>


<table class="suiviaccompagnement">
    <colgroup>
        <col>
    <col>
    <col class="dep">
    <col class="dep">
    <col class="dep">
    <col>
    <col>
    <col>
    </colgroup>
    <tr><th colspan="2">Catégorie de besoins<br>ITEMS à choix</th>
        <th><div class="dep-label">Indépendant</div></th><th><div class="dep-label">Partiel.</div></th>
        <th><div class="dep-label">Dép.</div></th>
        <th>Qui</th><th>Actions, commentaires et évaluations</th>
    </tr>
    
    {% if is_form %}
        {% for group in form.item_groups %}
            {% for subform in group.formset %}
            <tr class="{{ group.famille }}">
                {% if forloop.first %}<td rowspan="{{ group.formset|length }}">{{ group.formset.management_form }}{{ group.label }}</td>{% endif %}
                <td>{{ subform.id }}{{ subform.suivi }}{{ subform.categorie }}</td>
                <td>{{ subform.independant }}</td><td>{{ subform.partiel }}</td>
                <td>{{ subform.dependant }}</td><td>{{ subform.qui }}</td><td>{{ subform.actions }}</td>
            </tr>
            {% endfor %}
        {% endfor %}
    {% else %}
        {% for lines in item_groups %}
            {% for item in lines.qs %}
            <tr class="{{ lines.famille }}">
                <td>{% if forloop.first %}{{ lines.label }}{% endif %}</td>
                <td>{{ item.categorie }}</td>
                <td class="dep">{{ item.independant }}</td><td class="dep">{{ item.partiel }}</td>
                <td class="dep">{{ item.dependant }}</td>
                <td>{{ item.qui }}</td>
                <td>{{ item.actions }}
                    {% include 'eval_table.html' with object=item eval_url=item.eval_url %}
                </td>
            </tr>
            {% empty %}
            <tr class="{{ lines.famille }}">
                <td>{{ lines.label }}</td><td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            {% endfor %}
        {% endfor %}
    {% endif %}
</table>

<div><b>M</b>: Maintien, <b>D</b>: Développement</div>
<div>
    SAN = Secteur Animation, SAT = Secteur Atelier, CUI = Secteur Cuisine, SSI = Secteur Soins infirmiers,
    STE = Secteur Technique et Entretien, COR = Coordinateur, ERF = Ergothérapeute fonctionnelle,
    ERU = Ergothérapeute UAJ, IEX = Intervenant externe, PHY = Physiothérapeute, REF = Référent
</div>
{% endblock %}
