{% extends "base.html" %}
{% load fhutils %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/formation.css' %}">
<style>.userline { margin-top: 0.5em; }</style>
<script>
document.addEventListener('DOMContentLoaded', function () {
    var btn = document.getElementById('delete')
    if (btn) {
        btn.addEventListener('click', buttonConfirm);
    }
});
</script>
{% endblock %}

{% block toptabs %}{% endblock %}
{% block header_title %}<h1>Édition d'une formation</h1>{% endblock %}

{% block content %}
<div class="userline">{{ person }}</div>

<form id="formation_edit" method="post" action=".">{% csrf_token %}
    {% for field in form.hidden_fields %}{{ field }}{% endfor %}
    {% for field in form.visible_fields %}
        <div class="field {{ field.name }}">{{ field.label_tag }} {{ field.errors }} {{ field }}</div>
    {% endfor %}
    <button type="submit">Enregistrer</button> <button class="cancel">Annuler</button>
    {% if object.pk %}
    <button id="delete" class="delete floatright" formaction="{% url 'formation-delete' object.pk %}"
        data-confirm="Voulez-vous vraiment supprimer ce cours ?">Supprimer</button>
    {% endif %}
</form>
{% endblock %}
