{% extends "base.html" %}
{% load fhutils %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/formation.css' %}">
<script>
function filterRows() {
    var sectValue = document.getElementById('secteur').value;
    var yearValue = document.getElementById('annee').value;
    var fhmnValue = document.getElementById('persfhmn').checked;
    var fhneValue = document.getElementById('persfhne').checked;
    var rows = document.querySelectorAll('tr');
    for (var i = 0; i < rows.length; i++) {
        if (sectValue && !rows[i].classList.contains(sectValue)) {
            rows[i].style.display = 'none';
            continue;
        }
        if (yearValue && !rows[i].classList.contains('user') && !rows[i].classList.contains('y' + yearValue)) {
            rows[i].style.display = 'none';
            continue;
        }
        if ((fhmnValue && rows[i].classList.contains('FHMN')) ||
            (fhneValue && rows[i].classList.contains('FHNE'))) {
            rows[i].style.display = 'table-row';
        } else {
            rows[i].style.display = 'none';
        }
    }
}

document.addEventListener('DOMContentLoaded', function () {
    filterEls = document.querySelectorAll('#persfhmn,#persfhne,#secteur,#annee');
    for (var i = 0; i < filterEls.length; i++) {
        filterEls[i].addEventListener('change', function (ev) { filterRows(); });
    }
    filterRows();
});
</script>
{% endblock %}

{% block toptabs %}{% endblock %}
{% block header_title %}<h1>Formation du personnel de Foyer Handicap</h1>{% endblock %}

{% block content %}
<div style="text-align: center; margin: 1em;">
    <form>
    <div class="filter">
        <input id="persfhmn" name="persfhmn" type="checkbox" checked>
        <label for="persfhmn">Personnel FHMN</label>
    </div>
    <div class="filter">
        <input id="persfhne" name="persfhne" type="checkbox" checked>
        <label for="persfhne">Personnel FHNE</label>
    </div>
    <div class="filter">
        Secteur: <select id="secteur" name="secteur">
            <option value="">-------</option>
            {% for sect in secteurs %}<option value="{{ sect|slugify }}">{{ sect }}</option>{% endfor %}
        </select>
    </div>
    <div class="filter">
        Année: <select id="annee" name="annee">
            <option value="">-------</option>
            {% for an in annees %}<option value="{{ an }}">{{ an }}</option>{% endfor %}
        </select>
    </div>
    <button id="xlsexport" formaction="{% url 'formations-export' %}" formmethod="get"><img src="{% static 'img/xls.png' %}" width="24"></button>
    </form>
</div>

<table id="formation-list">
    <tbody>
    {% for pers in object_list %}
        {% with classes=pers|user_classes %}
        <tr class="user {{ classes }}">
            <td colspan="4">{{ pers.last_name|upper }} {{ pers.first_name }}{% if pers.fonction %}, {{ pers.fonction }}{% endif %}</td>
            {% if can_edit %}
                <td class="buttons">
                    <img class="icon-standalone linkButton" src="{% static 'img/add.svg' %}"
                         data-url="{% url 'formation-add' pers.pk %}"
                         title="Ajouter une formation">
                </td>
            {% endif %}
        </tr>
        {% for form in pers.formation_set.all %}
        <tr class="formation {{ classes }} y{{ form.date|date:'Y'}}">
            <td>{{ form.date|date:'d.m.Y' }}</td><td>{{ form.titre }}</td>
            <td class="alignright">{{ form.duree|duration_as_hours }}</td><td>{{ form.institut }}</td>
            {% if can_edit %}
                <td class="buttons">
                    <img class="icon-standalone linkButton" src="{% static 'img/edit.svg' %}"
                         data-url="{% url 'formation-edit' form.pk %}"
                         title="Modifier cette ligne">
                </td>
            {% endif %}
        </tr>
        {% empty %}
        <tr class="{{ classes }}"><td colspan="4"><em>Pas de formation.</em></td></tr>
        {% endfor %}
        {% endwith %}
    {% endfor %}
    </tbody>
</table>
{% endblock %}
