{% extends "base.html" %}
{% load i18n %}

{% block extra_head %}
<style>
div#content-main { padding: 20px 40px; }
div#content-main h1 { margin: 0 0 20px; font-size: 20px; color: #666; }
div#content-main h2 { font-size: 16px; margin: 1em 0 .5em 0; }
div#content-main h3 { font-size: 14px; margin: .8em 0 .3em 0; color: #666; font-weight: bold; }
thead th { padding: 5px 10px; text-transform: uppercase; background: #f6f6f6; }
td, th {
  font-size: 13px; line-height: 16px; border-bottom: 1px solid #eee;
  vertical-align: top;
  padding: 8px;
}
table p { padding: 0; margin: 0; }
</style>
{% endblock %}

{% block content %}
<div id="content-main">
<h1>{{ name }}</h1>
<h2 class="subhead">{{ summary }}</h2>

{{ description }}

<h3>{% trans 'Fields' %}</h3>
<div class="module">
<table class="model">
<thead>
<tr>
    <th>{% trans 'Field' %}</th>
    <th>{% trans 'Type' %}</th>
    <th>{% trans 'Description' %}</th>
</tr>
</thead>
<tbody>
{% for field in fields|dictsort:"name" %}
<tr>
    <td>{{ field.name }}</td>
    <td>{{ field.data_type }}</td>
    <td>{{ field.verbose }}{% if field.help_text %} - {{ field.help_text|safe }}{% endif %}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>

{% if methods %}
<h3>{% trans 'Methods with arguments' %}</h3>
<div class="module">
<table class="model">
<thead>
<tr>
    <th>{% trans 'Method' %}</th>
    <th>{% trans 'Arguments' %}</th>
    <th>{% trans 'Description' %}</th>
</tr>
</thead>
<tbody>
{% for method in methods|dictsort:"name" %}
<tr>
    <td>{{ method.name }}</td>
    <td>{{ method.arguments }}</td>
    <td>{{ method.verbose }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
{% endif %}

<p class="small"><a href="{% url 'doc-models' %}">&lsaquo; {% trans 'Back to Model documentation' %}</a></p>
</div>
{% endblock %}
