{% extends "base.html" %}

{% block extra_head %}
<style>
div#main { margin: 0 auto; text-align: center; }
div#main div * { text-align: left; }
div#sidebar { display: inline-block; vertical-align: top; width: 20%; padding: 5px; background-color: #f5f5f5; }
div#sidebar h2 { margin-top: 0; border-bottom: 1px solid #ccc; font-size: 15px; }
div#main-content { display: inline-block; vertical-align: top;}
.module h2 {
    margin: 0;
    padding: 8px;
    background: #79aec8;
    color: #fff;
}
table.xfull th { padding: 8px; border-bottom: 1px solid #eee; }
</style>
{% endblock %}

{% block content %}

<h1>Documentation des modèles</h1>

{% regroup models by app_config as grouped_models %}

<div id="sidebar">
    <h2>Groupes de modèles</h2>
    <ul>
    {% regroup models by app_config as grouped_models %}
    {% for group in grouped_models %}
        <li><a href="#app-{{ group.grouper.label }}">{{ group.grouper.verbose_name }}</a></li>
    {% endfor %}
    </ul>
</div>

<div id="main-content">
    {% for group in grouped_models %}
    <div class="module">
    <h2 id="app-{{ group.grouper.label }}">{{ group.grouper.verbose_name }} ({{ group.grouper.name }})</h2>

    <table class="xfull">
    {% for model in group.list %}
        <tr>
        <th><a href="{% url 'doc-models-detail' app_label=model.app_label model_name=model.model_name %}">{{ model.object_name }}</a></th>
        </tr>
    {% endfor %}
    </table>
    </div>
    {% endfor %}

</div>
{% endblock %}

{% block sidebar %}
<div id="content-related" class="sidebar">
<div class="module">
<h2>Groupes de modèles</h2>
<ul>
{% regroup models by app_config as grouped_models %}
{% for group in grouped_models %}
    <li><a href="#app-{{ group.grouper.label }}">{{ group.grouper.verbose_name }}</a></li>
{% endfor %}
</ul>
</div>
</div>
{% endblock %}
