{% extends "base.html" %}

{% block extra_head %}
<script defer src="{% static 'js/wopi.js' %}"></script>
{% endblock %}

{% block title %}{{ block.super }} - Édition en ligne{% endblock %}

{% block content %}
{% if wopi_url %}
    <form hidden action="{{ wopi_url }}" enctype="multipart/form-data" method="post" target="collabora-online-viewer" id="collabora-submit-form">
        <input name="access_token" value="{{ access_token }}" type="hidden" id="access-token">
        <input type="submit" value="">
    </form>

    <iframe id="collabora-online-viewer" name="collabora-online-viewer"
            data-wopiurl="{{ wopi_url }}" data-token="{{ access_token }}">
    </iframe>
{% else %}
    <p>{{ error }}</p>
{% endif %}
{% endblock %}
